<header class="animations-online-header">
    <div class="animations-online-header-wrap">
        <div class="animations-online-header-top">
            <div class="animations-online-header-top-left">
                <a href="/">Cafe-Anderson.ru</a>
            </div>
            <div class="animations-online-header-top-right">
                Единый номер телефона:
                <a href="tel:+74951254907">+7 (495) 125-49-07</a>
            </div>
        </div>
        <div class="animations-online-header-logo">
            <a href="/">
                <img src="assets/img/animations-online/logo.png" alt="logo">
            </a>
        </div>
        <nav class="animations-online-header-menu">
            <ul class="animations-online-header-menu-list">
                <li class="animations-online-header-menu-list__item"><a class="js-animations-link" href="#rules">ОБЩИЕ ПРАВИЛА</a></li>
                <li class="animations-online-header-menu-list__item">
                    <a class="js-animations-link" href="#pr-1">Праздничные программы</a>
                    <ul class="animations-online-header-menu-list-programs">
                        <li class="animations-online-header-menu-list-programs__item"><a class="js-animations-link" href="#pr-1" style="color: #8dded9;">Кот По</a></li>
                        <li class="animations-online-header-menu-list-programs__item"><a class="js-animations-link" href="#pr-2" style="color: #dac8a2;">Путешествие зайки</a></li>
                        <li class="animations-online-header-menu-list-programs__item"><a class="js-animations-link" href="#pr-3" style="color: #de78a9;">Fairy tale</a></li>
                        <li class="animations-online-header-menu-list-programs__item"><a class="js-animations-link" href="#pr-4" style="color: #cfcf67;">Monstro lab</a></li>
                        <li class="animations-online-header-menu-list-programs__item"><a class="js-animations-link" href="#pr-5" style="color: #d6d6d6;">Мафия</a></li>
                    </ul>
                </li>
                <li class="animations-online-header-menu-list__item"><a class="js-animations-link" href="#map">Контакты</a></li>
            </ul>
        </nav>
        <div class="animations-online-header-triangle">

        </div>
    </div>
</header>