<section class="animations-online">
    <div id="rules" class="animations-online-rules">
        <div class="animations-online-rules-content">
            <div class="animations-online-rules-content-column">
                <div class="animations-online-rules__title">
                    Общие правила:
                    <div class="animations-online-rules__decor1">
                        <img src="assets/img/animations-online/branch.png" alt="decor-1">
                    </div>
                    <div class="animations-online-rules__decor2">
                        <img src="assets/img/animations-online/branch.png" alt="decor-1">
                    </div>
                    <div class="animations-online-rules__decor1_mobile">
                        <img src="assets/img/animations-online/branch-mobile.png" alt="decor-mobile">
                    </div>
                    <div class="animations-online-rules__decor2_mobile">
                        <img src="assets/img/animations-online/branch-mobile.png" alt="decor-mobile">
                    </div>
                </div>
                <ul class="animations-online-rules-list">
                    <li class="animations-online-rules-list__item">
                        <div class="animations-online-rules-list__number">
                            1
                        </div>
                        <div class="animations-online-rules-list__text">
                            Стоимость программы указана из расчета на 5 человек и не меняется при уменьшении количества участников.
                        </div>
                    </li>
                    <li class="animations-online-rules-list__item">
                        <div class="animations-online-rules-list__number">
                            2
                        </div>
                        <div class="animations-online-rules-list__text">
                            Каждый последующий участник оплачивается +1000 руб.
                        </div>
                    </li>
                    <li class="animations-online-rules-list__item">
                        <div class="animations-online-rules-list__number">
                            3
                        </div>
                        <div class="animations-online-rules-list__text">
                            Если у вас на празднике до 5 детей, с вами будет 1 ведущий, если детей будет 6 и более - 2 ведущих.
                        </div>
                    </li>
                    <li class="animations-online-rules-list__item">
                        <div class="animations-online-rules-list__number">
                            4
                        </div>
                        <div class="animations-online-rules-list__text">
                            Ведение программы англоговорящим ведущим +2500 руб.
                        </div>
                    </li>
                    <li class="animations-online-rules-list__item">
                        <div class="animations-online-rules-list__number">
                            5
                        </div>
                        <div class="animations-online-rules-list__text">
                            Онлайн анимация проводится на платформе Zoom. <br/>
                            У всех должна быть скачана программа. <br/>
                            Обязательно предупредите всех участников, <br/>
                            что удобнее и интереснее заниматься с ПК.
                        </div>
                    </li>
                </ul>
                <div class="animations-online-rules-icons">
                    <div class="animations-online-rules-icons__item">
                        <img src="assets/img/animations-online/icon-time.png" alt="icon">
                        <img class="img-mobile" src="assets/img/animations-online/icon-time-mobile.png" alt="icon">
                        <span class="mod-desktop">Продолжительность программы</span>
                        <span class="mod-mobile">Длительность</span>
                    </div>
                    <div class="animations-online-rules-icons__item">
                        <img src="assets/img/animations-online/icon-baby.png" alt="icon">
                        <img class="img-mobile" src="assets/img/animations-online/icon-baby-mobile.png" alt="icon">
                        <span class="mod-desktop">Рекомендуемый возраст</span>
                        <span class="mod-mobile">Возраст</span>
                    </div>
                    <div class="animations-online-rules-icons__item">
                        <img src="assets/img/animations-online/icon-celebration.png" alt="icon">
                        <img class="img-mobile" src="assets/img/animations-online/icon-celebration-mobile.png" alt="icon">
                        <span class="mod-desktop">Активная </br> программа</span>
                        <span class="mod-mobile">Активная</span>
                    </div>
                    <div class="animations-online-rules-icons__item">
                        <img src="assets/img/animations-online/icon-coffee.png" alt="icon">
                        <img class="img-mobile" src="assets/img/animations-online/icon-coffee-mobile.png" alt="icon">
                        <span class="mod-desktop">Спокойная </br> программа</span>
                        <span class="mod-mobile">Спокойная</span>
                    </div>
                    <div class="animations-online-rules-icons__item">
                        <img src="assets/img/animations-online/icon-boy.png" alt="icon">
                        <img class="img-mobile" src="assets/img/animations-online/icon-boy-mobile.png" alt="icon">
                        <span class="mod-desktop">Программа для мальчиков</span>
                        <span class="mod-mobile">Для мальчиков</span>
                    </div>
                    <div class="animations-online-rules-icons__item">
                        <img src="assets/img/animations-online/icon-girl.png" alt="icon">
                        <img class="img-mobile" src="assets/img/animations-online/icon-girl-mobile.png" alt="icon">
                        <span class="mod-desktop">Программа для девочек</span>
                        <span class="mod-mobile">Для девочек</span>
                    </div>
                    <div class="animations-online-rules-icons__item">
                        <img src="assets/img/animations-online/icon-children.png" alt="icon">
                        <img class="img-mobile" src="assets/img/animations-online/icon-children-mobile.png" alt="icon">
                        <span class="mod-desktop">Программа для девочек и мальчиков</span>
                        <span class="mod-mobile">Для девочек и мальчиков</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animations-online-programs">
        <div id="pr-1" class="animations-online-programs-item">
            <div class="animations-online-programs-content">
                <div class="animations-online-programs-content-column">
                    <div class="animations-online-programs-item-title">
                        <div class="animations-online-programs-item-title__text">
                            &laquo;Кот&nbsp;По&raquo;
                        </div>
                        <div class="animations-online-programs-item-title__price">
                            <img src="assets/img/animations-online/price-back-red.png" alt="icon">
                            <div class="mod-price">
                                <span class="mod-bold">4 000</span>
                                <span>руб.</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="animations-online-programs-item-description">
                        Познакомятся с котиком По. Он немного моряк, 
                        немного рыбак, немного выдумщик,
                        но по большей части романтик и мечтатель.
                        Самая большая мечта котика – поймать Золотую рыбку! 
                        Ведь настоящая Золотая рыбка может исполнить любые желания, 
                        а если ребята помогут котику поймать рыбку,
                        то тоже смогут загадать заветные желания
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-baby.png" alt="icon">
                            <span>3-5 лет</span>
                        </div>
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-time.png" alt="icon">
                            <span class="mod-green">30-40 мин.</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-children.png" alt="icon">
                            <span>Программа для девочек и мальчиков</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-submit">
                        <button class="animations-online-programs-item__btn js-animation-to-cart">
                            Оформить
                        </button>
                        <div class="animations-online-programs-item__extra">
                            Программа для групп от 1 до 5 детей
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="pr-2" class="animations-online-programs-item">
            <div class="animations-online-programs-content">
                <div class="animations-online-programs-content-column">
                    <div class="animations-online-programs-item-title">
                        <div class="animations-online-programs-item-title__text mod-green">
                            &laquo;ПУТЕШЕСТВИЕ ЗАЙКИ&raquo;
                        </div>
                        <div class="animations-online-programs-item-title__price mod-green">
                            <img src="assets/img/animations-online/price-back-green.png" alt="icon">
                            <div class="mod-price">
                                <span class="mod-bold">4 000</span>
                                <span>руб.</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="animations-online-programs-item-description">
                        Познакомимся с новым другом –
                        Плюшевым длинноухим Зайкой и его друзьями! 
                        Отправятся с ним в самое настоящее путешествие 
                        по всем временам года. Для перехода в другое время
                        года нужно будет отгадать загадки, найти
                        зайчика и выполнить много интересных заданий! 
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-baby.png" alt="icon">
                            <span>3-5 лет</span>
                        </div>
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-time.png" alt="icon">
                            <span class="mod-green">30-40 мин.</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-children.png" alt="icon">
                            <span>Программа для девочек и мальчиков</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-celebration.png" alt="icon">
                            <span>Активная программа</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-submit">
                        <button class="animations-online-programs-item__btn js-animation-to-cart mod-green">
                            Оформить
                        </button>
                        <div class="animations-online-programs-item__extra">
                            Программа для групп от 1 до 5 детей
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="pr-3" class="animations-online-programs-item">
            <div class="animations-online-programs-content">
                <div class="animations-online-programs-content-column">
                    <div class="animations-online-programs-item-title">
                        <div class="animations-online-programs-item-title__text">
                            &laquo;FAIRY TAIL&raquo;
                        </div>
                        <div class="animations-online-programs-item-title__price">
                            <img src="assets/img/animations-online/price-back-red.png" alt="icon">
                            <div class="mod-price">
                                <span class="mod-bold">4 000</span>
                                <span>руб.</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="animations-online-programs-item-description">
                        У настоящей принцессы бальное платье, идеальная прическа 
                        и хорошие манеры. Вместе научимся королевским манерам,
                        соберем принцессу, подберем музыку и устроим настоящий 
                        современный бал!
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-baby.png" alt="icon">
                            <span>4-6 лет</span>
                        </div>
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-time.png" alt="icon">
                            <span class="mod-green">30-40 мин.</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-girl.png" alt="icon">
                            <span>Программа для девочек</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-celebration.png" alt="icon">
                            <span>Активная программа</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-submit">
                        <button class="animations-online-programs-item__btn js-animation-to-cart">
                            Оформить
                        </button>
                        <div class="animations-online-programs-item__extra">
                            Программа для групп от 1 до 5 детей
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="pr-4" class="animations-online-programs-item">
            <div class="animations-online-programs-content">
                <div class="animations-online-programs-content-column">
                    <div class="animations-online-programs-item-title">
                        <div class="animations-online-programs-item-title__text mod-green">
                            &laquo;MONSTRO LAB&raquo;
                        </div>
                        <div class="animations-online-programs-item-title__price mod-green">
                            <img src="assets/img/animations-online/price-back-green.png" alt="icon">
                            <div class="mod-price">
                                <span class="mod-bold">4 000</span>
                                <span>руб.</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="animations-online-programs-item-description">
                        Для настоящих каникул точно нужна подготовка! 
                        Вместе с Монстриком МО будем изучать оценки, громко кричать 
                        и радоваться пятеркам, а двойкам «покажем языки»! 
                        Соберем лучшую монстрячую компанию для каникул 
                        и наконец начнем отдыхать по-настоящему 
                        – под веселую музыку, которую подберем сами!
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-baby.png" alt="icon">
                            <span>5-8 лет</span>
                        </div>
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-time.png" alt="icon">
                            <span class="mod-green">30-40 мин.</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-children.png" alt="icon">
                            <span>Программа для девочек и мальчиков</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-celebration.png" alt="icon">
                            <span>Активная программа</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-submit">
                        <button class="animations-online-programs-item__btn js-animation-to-cart mod-green">
                            Оформить
                        </button>
                        <div class="animations-online-programs-item__extra">
                            Программа для групп от 1 до 5 детей
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="pr-5" class="animations-online-programs-item">
            <div class="animations-online-programs-content">
                <div class="animations-online-programs-content-column">
                    <div class="animations-online-programs-item-title">
                        <div class="animations-online-programs-item-title__text">
                            &laquo;МАФИЯ&raquo;
                        </div>
                        <div class="animations-online-programs-item-title__price">
                            <img src="assets/img/animations-online/price-back-red.png" alt="icon">
                            <div class="mod-price">
                                <span class="mod-bold">4 000</span>
                                <span>руб.</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="animations-online-programs-item-description">
                        Загадка о пропаже кейса с миллионом долларов и
                        нераскрытыми убийствами в формате вечеринки. 
                        Интригующий сюжет, жесткий юмор и неожиданная разгадка. 
                        Настоящая игра в «Мафию»! 
                        Программа подходит, как для детей, так и для
                        взрослых компаний!
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-baby.png" alt="icon">
                            <span>9+</span>
                        </div>
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-time.png" alt="icon">
                            <span class="mod-green">120 мин.</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-children.png" alt="icon">
                            <span>Программа для девочек и мальчиков</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-row">
                        <div class="animations-online-programs-item-icon">
                            <img src="assets/img/animations-online/icon-coffee.png" alt="icon">
                            <span class="mod-green">Спокойная программа</span>
                        </div>
                    </div>
                    <div class="animations-online-programs-item-submit">
                        <button class="animations-online-programs-item__btn js-animation-to-cart">
                            Оформить
                        </button>
                        <div class="animations-online-programs-item__extra">
                            Для групп от 6 до 12 человек. <br/>
                            Каждый последующий участник  <br/>
                            оплачивается +1000 руб
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="animations-online-bottom">
    <div id="map" class="animations-online-map">
        <div class="decor-map-1">
            <img src="assets/img/animations-online/decor-1.png" alt="decor map">
        </div>
        <div class="decor-map-2">
            <img src="assets/img/animations-online/decor-2.png" alt="decor map">
        </div>
        <div class="decor-map-3">
            <img src="assets/img/animations-online/decor-3.png" alt="decor map">
        </div>
        <div class="decor-map-4">
            <img src="assets/img/animations-online/decor-4.png" alt="decor map">
        </div>
        <div class="decor-map-5">
            <img src="assets/img/animations-online/decor-5.png" alt="decor map">
        </div>
        <div class="decor-map-6">
            <img src="assets/img/animations-online/decor-6.png" alt="decor map">
        </div>
        <div class="animations-online-map__title">
            <span>ЗАКАЖИ ДОСТАВКУ ЕДЫ.</span>
            </br>
            <span class="mod-subtitle">ВКУСНО, КАК В АНДЕРСОН, ТОЛЬКО ДОМА</span>
        </div>
        <div class="animations-online-map-point-1">
            <img src="assets/img/animations-online/map-item-1.png" alt="Ул. Маршала Бирюзова д. 32 ТРЦ «Пятая авеню»">
            <span>
                Ул. Маршала Бирюзова д. 32 ТРЦ </br>
                «Пятая авеню»
            </span>
        </div>
        <div class="animations-online-map-point-2">
            <img src="assets/img/animations-online/map-item-2.png" alt="Ул. Маршала Бирюзова д. 32 ТРЦ «Пятая авеню»">
            <span>
                ул. Стартовая, <br/>
                9 к. 2
            </span>
        </div>
        <div class="animations-online-map-point-3">
            <img src="assets/img/animations-online/map-item-3.png" alt="Ул. Маршала Бирюзова д. 32 ТРЦ «Пятая авеню»">
            <span>
                Ул. Островитянова д. 5
            </span>
        </div>
        <div class="animations-online-map-point-4">
            <img src="assets/img/animations-online/map-item-4.png" alt="Ул. Маршала Бирюзова д. 32 ТРЦ «Пятая авеню»">
            <span>
                ул.Верхняя Красносельская д. 7/2
            </span>
        </div>

    </div>
    <div class="animations-online-form">
        <div class="holiday-menu">
            <div class="holiday-hall-sentence">
                <div class="decor-form-1">
                    <img src="assets/img/animations-online/decor-branch.png" alt="">
                </div>
                <div class="decor-form-2">
                    <img src="assets/img/animations-online/decor-grass.png" alt="">
                </div>
                <div class="decor-form-3">
                    <img src="assets/img/animations-online/decor-cake.png" alt="">
                </div>
                <div class="decor-form-4">
                    <img src="assets/img/animations-online/decor-stars.png" alt="">
                </div>
                <div class="holiday-hall-sentence__body">
                    <div class="holiday-hall-sentence__title">Поможем организовать любой праздник</div>
                    <form action="" method="POST" id="celebration-order" class="holiday-hall-sentence__form">
                        <div class="holiday-hall-sentence__grid">
                            <div class="holiday-hall-sentence__col">
                                <div class="popup-form__item">
                                    <label class="c-label" for="holiday-hall-sentence__name">Представьтесь, пожалуйста</label>
                                    <input class="c-input" type="text" placeholder="Ваше ФИО" name="holiday-hall-sentence__name" id="holiday-hall-sentence__name">
                                </div>
                            </div>
                            <div class="holiday-hall-sentence__col">
                                <label class="c-label" for="holiday-hall-sentence__phone">Телефон</label>
                                <input class="c-input" type="text" placeholder="Телефон" name="holiday-hall-sentence__phone" id="holiday-hall-sentence__phone">
                            </div>
                            <div class="holiday-hall-sentence__col">
                                <label class="c-label" for="holiday-hall-sentence__email">Email</label>
                                <input class="c-input" type="text" placeholder="Email" name="holiday-hall-sentence__email" id="holiday-hall-sentence__email">
                            </div>
                        </div>
                        <div class="c-personal-data">
                            <div class="c-personal-data__item">
                                <input type="checkbox" name="holiday-hall-regulations" id="holiday-hall-regulations" checked="">
                                <label class="c-checkbox" for="holiday-hall-regulations">Я ознакомлен с
                                    <a href="#">правилами обработки
                                    </a> моих персональных данных.</label>
                            </div>
                        </div>
                        <button class="holiday-hall-sentence__btn">Отправить</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>