<div class="catalog-2020">
    <div class="catalog-nav">
        <nav class="filter-mix mod-background">
            <a href="/cafes/populyarnoe/" class="filter-mix__item active" id="bx_1847241719_914">
                <span>Популярное</span>
            </a>
            <a href="/cafes/fudboksy/" class="filter-mix__item " id="bx_1847241719_953">
                <span>Фудбоксы</span>
            </a>
            <a href="/cafes/zavtraki/" class="filter-mix__item " id="bx_1847241719_898">
                <span>Завтраки</span>
            </a>
            <a href="/cafes/zakuski/" class="filter-mix__item " id="bx_1847241719_899">
                <span>Закуски</span>
            </a>
            <a href="/cafes/salaty-/" class="filter-mix__item " id="bx_1847241719_900">
                <span>Салаты</span>
            </a>
            <a href="/cafes/supy/" class="filter-mix__item " id="bx_1847241719_901">
                <span>Супы</span>
            </a>
            <a href="/cafes/pasta/" class="filter-mix__item " id="bx_1847241719_902">
                <span>Паста</span>
            </a>
            <a href="/cafes/pitstsa/" class="filter-mix__item " id="bx_1847241719_905">
                <span>Пицца</span>
            </a>
            <a href="/cafes/goryachee/" class="filter-mix__item " id="bx_1847241719_904">
                <span>Горячее</span>
            </a>
            <a href="/cafes/detskoe/" class="filter-mix__item " id="bx_1847241719_913">
                <span>Детское</span>
            </a>
            <a href="/cafes/garniry/" class="filter-mix__item " id="bx_1847241719_903">
                <span>Гарниры</span>
            </a>
            <a href="/cafes/deserty/" class="filter-mix__item " id="bx_1847241719_906">
                <span>Десерты</span>
            </a>
            <a href="/cafes/prokhladitelnye-napitki/" class="filter-mix__item " id="bx_1847241719_909">
                <span>Прохладительные напитки</span>
            </a>
            <a href="/cafes/svezhevyzhatye-soki/" class="filter-mix__item " id="bx_1847241719_910">
                <span>Свежевыжатые соки</span>
            </a>
            <a href="/cafes/zamorozhennye-produkty/" class="filter-mix__item " id="bx_1847241719_912">
                <span>Замороженные продукты</span>
            </a>


        </nav>
        <nav class="filter-mix filter-mix-purple">
            <a href="/about/delivery/" class="filter-mix__item filter-mix-purple__item">
                <svg class="c-symbol symbol-shopping-bag">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="include/sprites/menu.svg#symbol-shopping-bag"></use>
                </svg>
                <span>Условия доставки </span>
            </a>
        </nav>

        <nav class="filter-mix filter-mix-purple">
            <a href="/recipe/" class="filter-mix__item filter-mix-purple__item">
                <svg class="c-symbol symbol-salad">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="include/sprites/menu.svg#symbol-salad"></use>
                </svg>
                <span>Рецепты приготовления</span>
            </a>
        </nav>
    </div>

    <div class="catalog-body show-category">
        <a class="filter-hold-mobile-btn c-button c-button__width js-filter-mobile-dropdown dropdown-show ">
            Все меню
            <i class="icon-dropdown">
                <svg class="icon-dropdown__arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 124.54 68.83">
                    <path d="M46.65,23.71c-2.19-2-4.42-3.89-6.71-5.76C31,10.61,18.61-.11,6.22,2.69c-4.43,1-7.1,6.07-6,10.37,3,11,13.81,17.08,22.07,24.06C33.06,46.17,42.88,56,52.87,65.85c3.61,3.54,10.81,4,14.8.86,7.56-6,20.49-14.33,27.53-21,15.48-12.05,29.38-26,29.33-35,.33-7-4.2-10.14-7.33-10.67-8.32-1.41-27,17.75-35.67,25.67C77.38,28.58,69.22,35.58,65,38.28"></path>
                </svg>
            </i>
        </a>
        <ul class="filter-hold" style="display: block">
            <div class="filter-hold__close">Скрыть категории</div>
            <div class="filter-hold-mobile__close js-mobile-filter-close"></div>
            <div class="filter-hold-wrap">
                <li class="filter-hold__item active">
                    <a href="/cafes/zavtraki/" id="bx_4145281613_898" class="filter-hold__link">Завтраки</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/zakuski/" id="bx_4145281613_899" class="filter-hold__link">Закуски</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/salaty-/" id="bx_4145281613_900" class="filter-hold__link">Салаты</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/supy/" id="bx_4145281613_901" class="filter-hold__link">Супы</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/pasta/" id="bx_4145281613_902" class="filter-hold__link">Паста</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/pitstsa/" id="bx_4145281613_905" class="filter-hold__link">Пицца</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/goryachee/" id="bx_4145281613_904" class="filter-hold__link">Горячее</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/detskoe/" id="bx_4145281613_913" class="filter-hold__link">Детское</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/garniry/" id="bx_4145281613_903" class="filter-hold__link">Гарниры</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/deserty/" id="bx_4145281613_906" class="filter-hold__link">Десерты</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/prokhladitelnye-napitki/" id="bx_4145281613_909" class="filter-hold__link">Прохладительные напитки</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/svezhevyzhatye-soki/" id="bx_4145281613_910" class="filter-hold__link">Свежевыжатые соки</a>
                </li>
                <li class="filter-hold__item ">
                    <a href="/cafes/zamorozhennye-produkty/" id="bx_4145281613_912" class="filter-hold__link">Замороженные продукты</a>
                </li>
            </div>
            
        </ul>
        <div class="catalog-product">
            <div class="filter-layout">
                <div class="catalog-filter">
                    <div class="filter-bage" style="display: none;">
                        <i class="icon-menu">
                            <span></span>
                        </i>
                        <div class="filter-bage__title">
                            <span>Показать</span>
                            категории</div>
                    </div>
                </div>
            </div>
            <div id="ajax_content">
                <div class="section-after-banner">
                    <nav class="filter-mix after_banner"></nav>
                </div>
                <section
                    class="catalog-list cafe-menu_list catalog-col-4">
                    <!-- items-container -->
                    <div class="cafe-list__city">
                        <h2 class="c-city-list__title">Популярное</h2>
                        <div class="c-grid">
                            <div class="category-c catalog-list__item" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/zamorozhennye-produkty/158017/" data-detail="" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_pict_slider" data-entity="images-container" data-item-id="158017">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-1.jpg);" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_secondpict">
                                        <img src="assets/img/catalog-item-1.jpg" style="display: none;">
                                        
                                        <div class="c-card-catalog-3-tags">
                                            <div class="c-card-catalog-3-tags__item" style="background-image:url(asset/img/cakes/hit.svg);">
                                            
                                            </div>
                                            <div class="c-card-catalog-3-tags__item" style="background-image:url(asset/img/cakes/hit.svg);">
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Щечки телячьи в соусе, Су-вид</div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 160 г.
                                        </div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Полуфабрикат
                                        </div>
                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_price">
                                                    <div class="c-card-catalog__price-old">
                                                        1 864
                                                        <span class="c-currency-symbol rub">руб</span>
                                                    
                                                    </div>
                                                    <div class="c-card-catalog__price-new">
                                                        1 799
                                                        <span class="c-currency-symbol rub">руб</span>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="category-c catalog-list__item" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/goryachee/158245/" data-detail="" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206_pict_slider" data-entity="images-container" data-item-id="158245">
                                    <div class="c-card-catalog-2__img js-show-product-card-cake" style="background-image:url(asset/img/popup-item-cake.png);" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206_secondpict">
                                        <img src="asset/img/popup-item-cake.png" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card-cake">Ми-ми-мишный торт с изображением</div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206_price">680
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206_quantity" data-item-id="158245">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158245_7e1b8e3524755c391129a9d7e6f2d206_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="category-c catalog-list__item" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/goryachee/158171/" data-detail="" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e_pict_slider" data-entity="images-container" data-item-id="158171">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-3.jpg);" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e_secondpict">
                                        <img src="assets/img/catalog-item-3.jpg" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Стейк лосося с ризотто из булгура и томатами
                                        </div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 135                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e_price">710
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e_quantity" data-item-id="158171">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158171_d0fb066f64e2309c4b241a491f76c62e_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="category-c catalog-list__item" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/goryachee/158170/" data-detail="" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa_pict_slider" data-entity="images-container" data-item-id="158170">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-4.jpg);" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa_secondpict">
                                        <img src="assets/img/catalog-item-4.jpg" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Рыбные котлеты из судака с пюре из цветной капусты и печеными томатами
                                        </div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 135                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa_price">460
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa_quantity" data-item-id="158170">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158170_8e8f6cea7f5e44ced2966cbefca3ecfa_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="category-c catalog-list__item" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/goryachee/158169/" data-detail="" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe_pict_slider" data-entity="images-container" data-item-id="158169">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-5.jpg);" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe_secondpict">
                                        <img src="assets/img/catalog-item-5.jpg" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Котлеты из индейки с овощами гриль и грибным соусом</div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 135                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe_price">430
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe_quantity" data-item-id="158169">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158169_0f73996d13437b0b91038138616a89fe_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="category-c catalog-list__item" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/goryachee/158168/" data-detail="" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be_pict_slider" data-entity="images-container" data-item-id="158168">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-6.jpg);" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be_secondpict">
                                        <img src="assets/img/catalog-item-6.jpg" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Запеченное филе судака со шпинатом в соусе шою с лепестками миндаля</div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 135                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be_price">560
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be_quantity" data-item-id="158168">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158168_ec5d0e2cff91ab20debac17d8febe5be_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="category-c catalog-list__item" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/goryachee/157961/" data-detail="" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c_pict_slider" data-entity="images-container" data-item-id="157961">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-7.jpg);" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c_secondpict">
                                        <img src="assets/img/catalog-item-7.jpg" style="display: none;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Томленые в портвейне телячьи щечки с картофелем и листьями шпината</div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 165                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c_price">730
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c_quantity" data-item-id="157961">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_157961_4acf0f176831c66031059fe22bcc4d9c_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="category-c catalog-list__item" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/goryachee/157959/" data-detail="" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16_pict_slider" data-entity="images-container" data-item-id="157959">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-8.jpg);" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16_secondpict">
                                        <img src="assets/img/catalog-item-8.jpg" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Филе индейки с картофельным пюре и трюфельным соусом с грибами</div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 135                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16_price">530
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16_quantity" data-item-id="157959">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_157959_905587df90578eb4342842ad8de05a16_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="category-c catalog-list__item" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/supy/157946/" data-detail="" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644_pict_slider" data-entity="images-container" data-item-id="157946">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-9.jpg);" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644_secondpict">
                                        <img src="assets/img/catalog-item-9.jpg" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Том Ям с креветками на кокосовом молоке
                                        </div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 310                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644_price">450
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644_quantity" data-item-id="157946">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_157946_de8224b4f7bd52cd619e48f9536ed644_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="category-c catalog-list__item" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/supy/157944/" data-detail="" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e_pict_slider" data-entity="images-container" data-item-id="157944">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-10.jpg);" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e_secondpict">
                                        <img src="assets/img/catalog-item-10.jpg" style="display: none;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Домашний борщ с томленой щечкой</div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 360                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e_price">370
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e_quantity" data-item-id="157944">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_157944_bba1b7f7802c6bb351319fcd6fe1262e_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="category-c catalog-list__item" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/zavtraki/158230/" data-detail="" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755_pict_slider" data-entity="images-container" data-item-id="158230">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-11.jpg);" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755_secondpict">
                                        <img src="assets/img/catalog-item-11.jpg" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Горячий сэндвич с индейкой, сыром моцарелла, вялеными томатами и домашней заправкой цезарь на листьях салата романо</div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 295                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755_price">360
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755_quantity" data-item-id="158230">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158230_362ce596257894d11ab5c1d73d13c755_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="category-c catalog-list__item" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b" data-entity="item">
                                <div class="c-card-catalog-2 v2" data-page="/cafes/zavtraki/158229/" data-detail="" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b_pict_slider" data-entity="images-container" data-item-id="158229">
                                    <div class="c-card-catalog-2__img js-show-product-card" style="background-image:url(assets/img/catalog-item-12.jpg);" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b_secondpict">
                                        <img src="assets/img/catalog-item-12.jpg" style="display: none; width: 100%; height: auto;">
                                    </div>
                                    <div class="c-card-catalog-2__body">
                                        <div class="c-card-catalog-2__title js-show-product-card">Горячий сэндвич с сыром моцарелла, чесночным маслом и листьями базилика с йогуртовым соусом</div>
                                        <div class="c-card-catalog-2__weight" data-entity="product-weight">Вес: 240                г.
                                        </div>

                                    </div>
                                    <div class="c-card-catalog-2__footer" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b_basket_actions">
                                        <div class="c-card-catalog__price not_flex">
                                            <div>
                                                <div class="c-card-catalog__price-layout" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b_price">290
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="c-card-catalog__basket not-flex-margin" onclick="ga ('send', 'event', 'submit', 'catalog__basket'); yaCounter24015385.reachGoal('catalog__basket'); return true;" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b_buy_link">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <div class="c-card-catalog__count not-flex-margin">
                                            <div class="c-counter">
                                                <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b_quant_down">-
                                                </button>
                                                <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b_quantity" data-item-id="158229">
                                                <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158229_c80764dfaf26ca80162484593ec7c29b_quant_up">+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    <!-- items-container -->
                </section>


                <div
                    data-pagination-num="1">
                    <!-- pagination-container -->
                    <div class="c-pagination">
                        <a href="/cafes/populyarnoe/" class="c-pagination__item active">1</a>
                        <a href="/cafes/populyarnoe/?PAGEN_1=2" class="c-pagination__item">2</a>
                    </div>
                    <!-- pagination-container -->

                    
                    <!-- pagination-mobile-container -->
                    <div class="c-pagination-mobile">
                        <a href="/" class="c-pagination-mobile__btn">Показать больше</a>
                    </div>
                    <!-- pagination-mobile-container -->
                </div>


         