.packages{
    border-style: solid;
    border: 4px solid #c44890;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 6rem;
    @media screen and (max-width: 1020px){
        border: 0;
        border-radius: 0;
    }
    &-banner{
        position: relative;
        background: #aeaeae url(../assets/img/packages-banner.jpg) no-repeat 50% 50%;
        background-size: cover;
        height: 490px;
        @media screen and (max-width: 1020px){
            height: 235px;
        }
        &__title{
            position: absolute;
            left: 0;
            top: 68%;
            width: 100%;
            font-size: 60px;
            font-family: 'BebasNeue', sans-serif;
            font-weight: bold;
            color: #c44890;
            line-height: 1;
            padding: 0 5rem;
            text-align: center;
            @media screen and (max-width: 1020px){
                top: 58%;
                font-size: 45px;
                padding: 0 3rem;
                max-width: 300px;
                left: calc(50% - 150px);
            }
        }
    }
    &-filter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        padding: 16px 65px 16px;
        background: #f9f3e3;
        z-index: 1;
        @media screen and (max-width: 1020px){
            padding: 2rem 1.2rem;
            flex-wrap: wrap;
        }
        &:before{
            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            width: 100%;
            height: 5px;
            background: url(../assets/img/packages-waves-top.png) repeat 0% 0%;
            z-index: 2;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 5px;
            background: url(../assets/img/packages-waves-bottom.png) repeat 0% 0%;
            z-index: 2;

        }
        &__link{
            display: block;
            padding: 4px 22px;
            border-radius: 8px;
            font-family: 'BebasNeue', sans-serif;
            font-size: 30px;
            line-height: 1;
            color: #fff;
            background: #7cbd41;
            transition: all .2s ease;
            @media screen and (max-width: 1020px){
                padding: 6px 9px 4px;
            }
            &:hover{
                background: #c44890;
                color: #fff;
            }
            &.active{
                background: #c44890;
                color: #fff;
            }
            &:not(:first-child){
                margin-left: 20px;
                @media screen and (max-width: 1020px){
                    margin-left: 10px;
                }
            }
            &:after{
                display: none;
            }
            .mod-unit{
                font-size: 20px;

            }
        }
        &__clear{
            position: absolute;
            top: calc(50% - 15px);
            right: 65px;
            font-family: 'BebasNeue', sans-serif;
            font-size: 30px;
            line-height: 1;
            font-weight: normal;
            color: #9b806f;
            transition: all .2s ease;
            &:after{
                display: none;
            }
            @media screen and (max-width: 1020px){
                display: none;
                position: static;
                margin-left: 20px;
                margin-top: 12px;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
    &-content{
        position: relative;
        padding: 26px 56px;
        @media screen and (max-width: 1020px){
            padding: 14px 6px;
        }
        &__title{
            width: 100%;
            font-size: 44px;
            font-family: 'BebasNeue', sans-serif;
            font-weight: bold;
            color: #c44890;
            line-height: 1;
            text-align: center;
            padding: 25px 30px;
            @media screen and (max-width: 1020px){
                font-size: 35px;
                padding: 22px 0 12px;
            }

        }
    }
    &-wrap{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        overflow-x: scroll;
        @media screen and (max-width: 1020px){
            flex-direction: column;
            overflow-x: auto;
        }
        &-column{
            flex: 1 1 0;
            min-width: calc(25% - 21px);
            max-width: calc(50% - 14px); 
            margin-bottom: 30px;
            @media screen and (max-width: 1020px){
                max-width: none;
                width: 100%;
                margin-bottom: 10px;
            }
            &:not(:last-child){
                margin-right: 28px;
            }
        }
        &-extra{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 1600px){
                overflow-y: hidden;
            }
            @media screen and (max-width: 1020px){
                flex-direction: column;
            }
            &:not(:last-child){
                margin-bottom: 32px;
                @media screen and (max-width: 1020px){
                    margin-bottom: 0;
                }
            }
            &.mod-width-x4{
                .packages-extra{
                    min-width: 340px;
                    @media screen and (max-width: 1020px){
                        min-width: auto;
                    }

                }
            }
            &.mod-width-x6{
                .in-cart{
                    .packages-offer-head-controls__text{
                        display: none;
                        @media screen and (max-width: 1020px){
                            display: inline-block;
                        }
                    }

                }
            }

        }
    }
    &-offer{
        flex: 0 1 auto;
        width: 100%;
        cursor: pointer;
        transition: all .2s ease;
        z-index: 2;
        @media screen and (max-width: 1020px){
            max-width: none;
            width: 100%;
            margin-bottom: 10px;
        }
        &:not(:first-child){
            margin-top: 10px;
        }
        &:hover{
            //transform: scale(1.1, 1.1);
            box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.3);
            z-index: 3;
            @media screen and (max-width: 1020px){
                transform: none;
                box-shadow: none;
            }
        }
        &.in-cart{
            .packages-offer-head-controls{
                &__text{
                    display: inline-block;
                }
                &__add{
                    display: none;
                }
                &__delete{
                    display: inline-block;
                }
            }
        }
        &.closed{
            .icon-arrow-down-new{
                transform: scale(-1, 1) rotate(180deg);
            }
            .packages-offer-body{
                @media screen and (max-width: 1020px){
                    display: none;
                }
            }
        }
        &-head{
            position: relative;
            padding: 20px 30px 16px;
            font-family: 'BebasNeue', sans-serif;
            font-size: 30px;
            line-height: 1;
            font-weight: bold;
            color: #ffc7e8;
            text-align: center;
            background: #c44890;
            min-height: 66px;
            @media screen and (max-width: 1600px){
                text-align: left;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
            @media screen and (max-width: 1020px){
                padding: 9px 8px 5px;
                text-align: left;
                min-height: 44px;
            }
            &__title{
                .icon-arrow-down-new{
                    display: none;
                    position: relative;
                    top: -6px;
                    width: 8px;
                    height: 8px;
                    fill: #fff;
                    transform: scale(-1, 1);
                    margin-left: 10px;
                    transition: all .2s ease;
                    @media screen and (max-width: 1020px){
                        display: inline-block;
                    }
                }
            }
            &-controls{
                position: absolute;
                display: flex;
                align-items: center;
                right: 13px;
                top: calc(50% - 15px);
                @media screen and (max-width: 1020px){
                    right: 5px;
                }
                &__text{
                    flex: 0 0 auto;
                    display: none;
                    font-size: 13px;
                    font-family: "PT Serif Caption", sans-serif;
                    color: #fff;
                    line-height: 1;
                    font-weight: normal;
                    text-align: right;
                    margin-right: 11px;
                }
                &__add{
                    flex: 0 0 auto;
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    background: #95c54c;
                    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
                    border-radius: 2px;
                    transition: all .2s ease;
                    @media screen and (max-width: 1020px){
                        width: 50px;
                    }
                    &:after{
                        display: none;
                    }
                    &:hover{
                        background: #7cbd41;
                    }
                    svg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .icon-basket-new{
                        width: 18px;
                        height: 17px;
                        fill: #fff;

                    }
                }
                &__delete{
                    display: none;
                    flex: 0 0 auto;
                    position: relative;
                    width: 40px;
                    height: 31px;
                    background: #fff;
                    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
                    border-radius: 2px;
                    transition: all .2s ease;
                    @media screen and (max-width: 1020px){
                        width: 50px;
                    }
                    &:hover{
                        background: #ededed;
                    }
                    &:after{
                        display: none;
                    }
                    svg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .icon-close-new{
                        width: 12px;
                        height: 12px;
                        fill: #9b9696;
                    }
                }
            }
        }
        &-body{
            border: 1px solid #ddd;
            background: #f4f4f4;
            padding: 9px 11px 16px;
            border-radius: 0;
            @media screen and (max-width: 1020px){
                padding: 5px;
                border: 1px dashed #ddd;
                background: #fff;
                border-top: none;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;

            }
        }
        &-list{
            padding: 11px 20px 13px;
            background: #a9ca3d;
            border-radius: 3px;
            @media screen and (max-width: 1020px){
                padding: 8px 5px;
            }
            &.mod-sub{
                background: none;
            }
            &__item{
                font-size: 15px;
                font-family: "PT Serif Caption";
                color: #2b2b2b;
                line-height: 1.6;
                @media screen and (max-width: 1020px){
                    font-size: 14px;
                    line-height: 15px;
                }

            }
        }
    }
    &-extra{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        max-width: calc(50% - 10px);
        min-width: 220px;
        cursor: pointer;
        transition: all .2s ease;
        @media screen and (max-width: 1020px){
            max-width: none;
            width: 100%;
            margin-bottom: 10px;
        }
        &:hover{
            //transform: scale(1.1, 1.1);
            box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.3);
            @media screen and (max-width: 1600px){
                transform: none;
                box-shadow: none;
            }
        }
        &:not(:last-child){
            margin-right: 20px;
        }
        &.in-cart{
            .packages-offer-head-controls{
                &__text{
                    display: inline-block;
                }
                &__add{
                    display: none;
                }
                &__delete{
                    display: inline-block;
                }
            }
        }
        &-head{
            position: relative;
            padding: 20px 15px 16px;
            font-family: 'BebasNeue', sans-serif;
            font-size: 30px;
            line-height: 1;
            font-weight: bold;
            color: #ffc7e8;
            text-align: left;
            background: #c44890;
            @media screen and (max-width: 1020px){
                padding: 9px 8px 5px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
            &__title{
                &.mod-center{
                    text-align: center;
                    @media screen and (max-width: 1600px){
                        text-align: left;
                    }
    
                }

            }
        }
        &-body{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            border: 1px solid #ddd;
            background: #f4f4f4;
            padding: 9px 11px 16px;
            height: 100%;
            @media screen and (max-width: 1020px){
                padding: 0;
                background-color: #fc99fc;
                border: 1px solid #fc99fc;
                border-top: 0;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
        &-content{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 78px;
            padding: 20px 8px;
            border-radius: 3px;
            background-color: #fc99fc;
            font-size: 15px;
            font-family: "PT Serif Caption";
            color: #2b2b2b;
            line-height: 1.2;
            height: 100%;
            @media screen and (max-width: 1020px){
                font-size: 14px;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                padding: 7px 5px;
                min-height: 46px;
                justify-content: flex-start;
                text-align: left;

            }
        }
    }
}