<div class="animations-online-flying-form hidden">
    <div class="holiday-menu">
        <div class="holiday-hall-sentence">
            <div class="holiday-hall-sentence__body">
                <div class="decor-form-1">
                    <img src="assets/img/animations-online/decor-branch.png" alt="">
                </div>
                <div class="decor-form-2">
                    <img src="assets/img/animations-online/decor-grass.png" alt="">
                </div>
                <form action="" method="POST" id="fly-celebration-order" class="holiday-hall-sentence__form">
                    <div class="holiday-hall-sentence__grid">
                        <div class="holiday-hall-sentence__title">Поможем организовать любой праздник</div>
                        <div class="holiday-hall-sentence__col">
                            <div class="popup-form__item">
                                <input class="c-input" type="text" placeholder="Ваше ФИО" name="fly-holiday-hall-sentence__name" id="fly-holiday-hall-sentence__name">
                            </div>
                        </div>
                        <div class="holiday-hall-sentence__col">
                            <input class="c-input" type="text" placeholder="Телефон" name="fly-holiday-hall-sentence__phone" id="fly-holiday-hall-sentence__phone">
                        </div>
                        <div class="holiday-hall-sentence__col">
                            <input class="c-input" type="text" placeholder="Email" name="fly-holiday-hall-sentence__email" id="fly-holiday-hall-sentence__email">
                        </div>
                        <div class="holiday-hall-sentence__col">
                            <button class="holiday-hall-sentence__btn">Отправить</button>
                        </div>
                    </div>
                    <div class="c-personal-data">
                        <div class="c-personal-data__item">
                            <input type="checkbox" name="fly-holiday-hall-regulations" id="fly-holiday-hall-regulations" checked="">
                            <label class="c-checkbox" for="fly-holiday-hall-regulations">Я ознакомлен с
                                <a href="#">правилами обработки
                                </a> моих персональных данных.</label>
                        </div>
                    </div>
                    

                </form>
            </div>

        </div>
    </div>
</div>