.qritem{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    @media screen and (max-width: 1026px){
        flex-direction: column;
    }
    &-aside{
        flex: 0 0 auto;
        width: 250px;
        margin-right: 1.5rem;
        @media screen and (max-width: 1026px){
            width: 100%;
            margin-right: 0;
            padding: 1rem 1.6rem;
            background-color: #fefefe;
        }
        &-list{
            width: 100%;
            @media screen and (max-width: 1026px){
                display: none;
            }
            &-top{
                display: none;
                position: relative;
                text-align: center;
                padding: 1rem 4.8rem 1rem;
                border: 1px dashed transparent;
                border-radius: 9px;
                font-size: 1.7rem;
                font-family: "BebasNeue";
                text-transform: uppercase;
                outline: none;
                font-weight: 500;
                transition: none;
                color: #ffffff;
                box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.33), inset 0 1px 0 0 #f9b7dd, inset 0 2px 0 0 #f0a5d1;
                background: url(../assets/img/holidays-button-bg.png);
                margin-bottom: 0.7rem;
                &:after{
                    content: '';
                    position: absolute;
                    right: 1.6rem;
                    left: auto;
                    top: calc(50% - 1.35rem);
                    width: 2.7rem;
                    height: 2.7rem;
                    border: none;
                    background: url(../assets/img/dropdown.png) 0 0 no-repeat;
                    transition: all .3s ease;
                }
                &.active{
                    &:after{
                        transform: rotate(180deg);
                    }
                    @media screen and (max-width: 1026px){
                        & + .qritem-aside-list{
                            display: block;
                        }
                    }
                }
                @media screen and (max-width: 1026px){
                    display: block;
                }
            }
            &__item{
                margin-bottom: 0.7rem;
                a{
                    display: block;
                    text-align: center;
                    padding: 1.2rem 2.4rem 1.4rem;
                    border: 1px dashed #736357;
                    border-radius: 9px;
                    font-size: 1.7rem;
                    font-family: "BebasNeue";
                    text-transform: uppercase;
                    outline: none;
                    color: #2e2e2e;
                    font-weight: 500;
                    transition: none;
                    @media screen and (max-width: 1026px){
                        padding: 1rem 4.8rem 1rem;
                    }
                    &:after{
                        display: none;
                        border: none;
                    }
                    &:hover{
                        color: #ffffff;
                        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.33), inset 0 1px 0 0 #f9b7dd, inset 0 2px 0 0 #f0a5d1;
                        border-color: transparent;
                        background: url(../assets/img/holidays-button-bg.png);
                    }
                    
                }
                &.active{
                    a{
                        color: #ffffff;
                        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.33), inset 0 1px 0 0 #f9b7dd, inset 0 2px 0 0 #f0a5d1;
                        border-color: transparent;
                        background: url(../assets/img/holidays-button-bg.png);
                    }
                    
                }
            }
        }
    }
    &-body{
        flex: 1 1 auto;
        border: 3px solid rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0px 5px 9.2px 0.8px rgba(0, 0, 0, 0.1);
        @media screen and (max-width: 1026px){
            box-shadow: none;
            border: none;
        }
        &-top{
            display: flex;
            flex-direction: row;
            width: 100%;
            min-height: 540px;
            padding: 3rem 3rem 2.5rem;
            @media screen and (max-width: 1026px){
                flex-direction: column;
                padding: 0;
            }
            &-slider{
                flex: 0 0 auto;
                width: 776px;
                margin-right: 1.8rem;
                @media screen and (max-width: 1600px){
                    width: 520px;
                }
                @media screen and (max-width: 1200px){
                    width: 420px;
                }
                @media screen and (max-width: 1026px){
                    width: 100%;
                    height: 40rem;
                    margin-right: 0;
                }
                @media screen and (max-width: 640px){
                    height: 20rem;
                }
                &-wrapper{
                    border: 1px solid #e6e1e1;
                    background-color: #f2f2f2;
                    height: 100%;
                    overflow: hidden;
                    @media screen and (max-width: 1026px){
                        border-left: none;
                        border-right: none;
                    }
                }
                &__item{
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-position: 50% 50%;
                    background-image: url(../assets/img/slide-1.png);
                    background-repeat: no-repeat;

                }
                .slick-list{
                    height: 100%;
                }
                .slick-track{
                    height: 100%;
                }
                .slick-slide{
                    div{
                        height: 100%;
                    }
                }
                .slick-arrow{
                    display: inline-block !important;
                }
                .slick-prev{
                    left: 2rem;
                    width: 3.3rem;
                    height: 3.3rem;
                    background: url(../assets/img/icon-green-arrow-left.svg) 0 0 no-repeat;
                    @media screen and (max-width: 1026px){
                        left: 1.6rem;
                    }
                }
                .slick-next{
                    right: 2rem;
                    width: 3.3rem;
                    height: 3.3rem;
                    background: url(../assets/img/icon-green-arrow-right.svg) 0 0 no-repeat;
                    @media screen and (max-width: 1026px){
                        right: 1.6rem;
                    }
                }
            }
            &-consist{
                flex: 1 1 auto;
                width: 100%;
                background-color: #81c734;
                padding: 2.7rem 2.7rem 3rem 3rem;
                @media screen and (max-width: 1026px){
                    padding: 1rem 1.6rem 2.3rem;
                }
                &__title{
                    svg{
                        margin-right: 1rem;
                    }
                    font-size: 5.4rem;
                    font-family: "SummerFont";
                    color: #0c0c0c;
                    text-transform: uppercase;
                }
                &__text{
                    color: #222;
                }
                &__first{
                    color: #fff;
                }
                &-youtube{
                    height: 212px;
                    margin-top: 3rem;
                    @media screen and (max-width: 1440px){
                        height: 162px;
                    }
                    @media screen and (max-width: 1026px){
                        margin-top: 2rem;
                        height: 324px;
                    }
                    @media screen and (max-width: 640px){
                        height: 162px;
                    }
                }
            }
        }
        &-recipe{
            border: 2px solid #e6e1e1;
            border-radius: 8px;
            margin: 0 3rem 3.7rem;
            padding: 2.6rem 3.7rem 4rem;
            @media screen and (max-width: 1026px){
                padding: 1.6rem 1.6rem 2rem;
                margin: 0;
                border: 0;
            }
            &__title{
                font-size: 4.8rem;
                line-height: 1;
                font-family: "SummerFont";
                color: #553023;
                text-transform: uppercase;
                margin-bottom: 1rem;
                @media screen and (max-width: 1026px){
                    margin-bottom: 1.6rem;
                }

            }
            &-icons{
                display: flex;
                flex-direction: row;
                margin-bottom: 1.2rem;
                @media screen and (max-width: 1026px){
                    flex-direction: column;
                    margin-bottom: 0;
                }
                &-item{
                    display: flex;
                    flex-direction: row;
                    @media screen and (max-width: 1026px){
                        margin-bottom: 1rem;
                    }
                    &__icon{
                        margin-right: 2rem;
                    }
                    &__description{
                        margin-right: 3.6rem;
                    }
                    &__subtext{
                        font-family: "PT Serif Caption";
                        font-size: 1.3rem;
                        color: #bdbdbd;
                    }
                    &__text{
                        font-family: "PT Serif Caption";
                        font-size: 2rem;
                        color: #000;

                    }
                }
            }
            &-steps{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 2.5rem 0 1rem;
                @media screen and (max-width: 1026px){
                    flex-direction: column;
                }
                &-item{
                    display: flex;
                    flex-direction: row;
                    width: 49.5%;
                    position: relative;
                    margin-bottom: 1%;
                    @media screen and (max-width: 1600px){
                        width: 100%;
                    }
                    @media screen and (max-width: 1026px){
                        flex-direction: column;
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                    &:nth-child(2n+1){
                        margin-right: 1%;                        
                        @media screen and (max-width: 1600px){
                            margin-right: 0;
                        }
                    }
                    &-left{
                        display: flex;
                        flex-direction: row;
                        border: 2px solid #81c734;
                        @media screen and (max-width: 1026px){
                            flex-direction: column;
                        }
                        &-img{
                            flex: 0 0 auto;
                            width: 174px;
                            min-height: 150px;
                            background-size: cover;
                            background-position: 50% 50%;
                            background-image: url(../assets/img/recipe-1.png);
                            @media screen and (max-width: 1026px){
                                height: 300px;
                                width: 100%;
                            }
                            @media screen and (max-width: 640px){
                                height: 150px;
                            }
                        }
                        &-arrow{
                            width: 20px;
                            background-color: #81c734;
                            background-position: 50% 50%;
                            background-image: url(../assets/img/recipe-arrow.svg);
                            background-repeat: no-repeat;
                            @media screen and (max-width: 1026px){
                                width: 100%;
                                height: 2rem;
                                background-image: url(../assets/img/recipe-arrow-down.svg);
                            }
                        }
                    }
                    &-right{
                        border: 1px dashed #e6e1e1;
                        border-left: none;
                        padding: 2.2rem;
                        font-family: "PT Serif Caption";
                        font-size: 1.5rem;
                        color: #555451;
                        line-height: 1.4;
                        width: 100%;
                        @media screen and (max-width: 1026px){
                            border: 1px dashed #e6e1e1;
                            border-top: none;
                            padding: 1.8rem;
                        }
                    }
                    &__number{
                        position: absolute;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        top: 0.7rem;
                        left: 0.7rem;
                        width: 3.7rem;
                        height: 3.7rem;
                        border-radius: 50%;
                        background-color: #81c734;
                        font-family: "PT Serif Caption";
                        font-size: 2rem;
                        color: #fff;
                    }
                }
            }
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &-comments{
            margin-bottom: 2rem;
            &-top{
                position:relative;
                overflow: hidden;
                height: 3rem;
                background-color: #f5eee0;
                &-tail{
                    position: absolute;
                    width: 8rem;
                    height: 6rem;
                    bottom: -5rem;
                    left: calc(50%);
                    background-color: white;
                    transform: skew(60deg) rotate(-16deg);

                }
            }
            &-row{
                &:not(:last-child){
                    border-bottom: 1px solid #f5eee0;
                }
            }
            &-form{
                max-width: 720px;
                margin: 2.8rem auto 2rem;
                &-body{
                    padding: 1rem 1rem 1rem 2.3rem;
                    display: flex;
                    flex-direction: row;
                    background-color: #f5eee0;
                    margin-bottom: 1.2rem;
                    @media screen and (max-width: 1026px){
                        padding: 1rem 1rem 1rem 1.6rem
                    }
                    &-icon{
                        flex: 0 0 auto;
                        margin: 0.6rem 0;
                        height: 6.8rem;
                        width: 6.8rem;
                        border-radius: 50%;
                        background-color: #81c734;
                        background-position: 50% 50%;
                        background-image: url(../assets/img/comment.svg);
                        background-repeat: no-repeat;
                        margin-right: 2.5rem;
                        @media screen and (max-width: 1026px){
                            width: 4.8rem;
                            height: 4.8rem;
                            background-image: url(../assets/img/comment-mobile.svg);
                            margin-right: 1.6rem;
                        }
                        @media screen and (max-width: 640px){
                            width: 3.2rem;
                            height: 3.2rem;
                            margin-right: 1rem;
                        }

                    }
                    &-input{
                        flex: 1 1 auto;
                        width: 100%;
                        position: relative;
                        textarea{
                            position: relative;
                            height: 8rem;
                            border-color: #e7dcc5;
                            @media screen and (max-width: 1026px){
                                font-size: 1.3rem;
                            }
                            &:focus{
                                & + .qritem-body-comments-form-body-input-tail{
                                    border-color: #9acc4e;
                                }
                            }
                        }
                        &-tail{
                            content: ' ';
                            display: block;
                            position: absolute;
                            width: 1.4rem;
                            height: 1.4rem;
                            top: calc(50% - 0.7rem);
                            left: -0.7rem;
                            border: 1px solid #e7dcc5;
                            background-color: #fff;
                            transform: rotate(45deg);
                            border-top: none;
                            border-right: none;
                            transition: all .2s ease;
                        }
                        
                    }

                }
                &__title{
                    font-size: 1.7rem;
                    font-family: "PT Serif Caption";
                    color: #090909;
                    margin-bottom: 1.5rem;
                }
                &-button{
                    width: 150px;
                    margin: 0 0 0 auto;
                    @media screen and (max-width: 1026px){
                        margin: 0 auto;
                    }
                    &__btn{
                        display: block;
                        background-color: #7cbd41;
                        height: 3.8rem;
                        border-radius: 3px;
                        font-family: "PT Serif Caption";
                        font-size: 1.5rem;
                        color: #fff;
                        padding: 1rem;
                        line-height: 1;
                        text-align: center;
                        &:hover{
                            color: #fff;

                        }
                        &:after{
                            display: none;
                            border: none;
                        }
                    }
                }
            }
            &-item{
                max-width: 720px;
                margin: 0 auto;
                padding: 2.8rem;
                display: flex;
                flex-direction: row;
                @media screen and (max-width: 1026px){
                    padding: 1.6rem;
                }
                &-img{
                    flex: 0 0 auto;
                    width: 5.2rem;
                    height: 5.2rem;
                    border-radius: 50%;
                    background-color: #e6e1e1;
                    background-size: cover;
                    background-position: 50% 50%;
                    background-image: url(../assets/img/comment.svg);
                    background-repeat: no-repeat;
                    margin-right: 2.3rem;
                    @media screen and (max-width: 1026px){
                        margin-right: 1.2rem;
                    }


                }
                &-description{
                    flex: 1 1 auto;
                    word-break: break-word;
                    &-top{
                        display: block;
                        margin-bottom: 1rem;
                        @media screen and (max-width: 1026px){
                            margin-bottom: 0.6rem;
                        }
                    }
                    &-bottom{
                        font-size: 1.5rem;
                        line-height: 1.5;
                        font-family: "PT Serif Caption";
                        color: #555451;
                    }
                    &__name{
                        display: inline-block;
                        font-size: 1.7rem;
                        font-family: "PT Serif Caption";
                        color: #000;
                        margin-right: 1rem;
                    }
                    &__date{
                        display: inline-block;
                        font-size: 1.2rem;
                        font-family: "PT Serif Caption";
                        color: #878787;
                    }

                }
            }
        }
    }
}