.animations-online-flying-cart{
    position: fixed;
    right: 5px;
    top: 30%;
    width: 100px;
    height: 122px;
    background-size: contain;
    background-position: 50% 50%;
    background-image: url(../assets/img/animations-online/cart.png);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    @media screen and (max-width: 1026px){
        width: 50px;
        height: 44px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        top: 30%;
        right: 0;
        background-image: none;
        background-color: #be298d;
    }
    &.hidden{
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
    }
    &-text{
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        top: 9px;
        font-size: 13px;
        font-family: "PT Serif Caption";
        color: #4d4d4d;
        padding: 10px 16px 10px 14px;
        @media screen and (max-width: 1026px){
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
        }
    }
    &-number-out{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        bottom: 12px;
        left: 26px;
        @media screen and (max-width: 1026px){
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &-number-in{
        width: 41px;
        height: 41px;
        border: 1px dotted #609b34;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1026px){
            width: 100%;
            height: 100%;
            border: none;
        }
        span{
            font-family: "PT Serif Caption";
            font-size: 27px;
            color: #609b34;
            @media screen and (max-width: 1026px){
                font-size: 15px;
                color: #fff;
            }
        }
    }
}
