<div class="animations-online-flying-cart js-show-cart hidden">
    <div class="animations-online-flying-cart-text">
        Ваша корзина
    </div>
    <div class="animations-online-flying-cart-number-out">
        <div class="animations-online-flying-cart-number-in">
            <span class="js-cart-counter">0</span>
        </div>
    </div>
</div>