@font-face {
    font-family: 'RobotoSlab-Bold';
    src:url(../fonts/RobotoSlab-Bold.woff2) format('woff2'),
    url(../fonts/RobotoSlab-Bold.eot?#iefix) format('embedded-opentype'),
     url(../fonts/RobotoSlab-Bold.woff) format('woff'), 
      url(../fonts/RobotoSlab-Bold.svg#21CentCondensed) format('svg'),
     url(../fonts/RobotoSlab-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
} 
@font-face {
    font-family: 'Roboto-Medium';
    src:url(../fonts/Roboto-Medium.woff2) format('woff2'),
    url(../fonts/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
     url(../fonts/Roboto-Medium.woff) format('woff'), 
      url(../fonts/Roboto-Medium.svg#21CentCondensed) format('svg'),
     url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
} 
@font-face {
    font-family: 'Roboto-Regular';
    src:url(../fonts/Roboto-Regular.woff2) format('woff2'),
    url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
     url(../fonts/Roboto-Regular.woff) format('woff'), 
      url(../fonts/Roboto-Regular.svg#21CentCondensed) format('svg'),
     url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
} 
@font-face {
    font-family: 'LeOsler_Rough-Regular';
    src:url(../fonts/LeOsler-RoughRegular.woff2) format('woff2'),
     url(../fonts/LeOsler-RoughRegular.woff) format('woff'), 
      url(../fonts/LeOsler-RoughRegular.svg#LeOsler_Rough-Regular) format('svg'),
     url(../fonts/LeOsler-RoughRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'summer_fontbold';
    src:url(../fonts/SUMMER_FONT_BOLD.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}.rb {
  font-family: 'RobotoSlab-Bold';
}
.rr {
  font-family: 'Roboto-Regular';
}
.rm {
  font-family: 'Roboto-Medium';
}
.l {
  font-family: 'LeOsler_Rough-Regular';
}
.s {
  font-family: 'summer_fontbold';
}
.b {
  color: #69483E;
}
body {
  color: #69483E;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-background-size: cover;
          background-size: cover;
  background: #F5EDE4;
}
.cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  /* @media @tablet{
		padding-left: 75px;
		padding-right: 75px;
	} */
}
@media only screen and (max-width: 1024px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.logo {
  width: 166px;
  font-size: 0;
}
.logo img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .logo {
    width: 122px;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 47px;
  z-index: 4;
}
@media only screen and (max-width: 767px) {
  .header {
    padding-top: 25px;
  }
}
.call {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 110px;
}
@media only screen and (max-width: 767px) {
  .call {
    margin-right: 77px;
  }
}
.call-ic {
  width: 41px;
  font-size: 0px;
}
.call-ic img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .call-ic {
    width: 28px;
  }
}
.h-tel {
  margin-left: 12px;
  font-family: 'Roboto-Regular';
  font-size: 22px;
  line-height: 30px;
  color: #69483E;
}
@media only screen and (max-width: 767px) {
  .h-tel {
    display: none;
  }
}
section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.first-screen {
  width: 100%;
  position: relative;
  padding-top: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .first-screen {
    padding-top: 64px;
  }
}
.first-screen:after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(0px - (100vw - 1280px)/2);
  width: 100vw;
  height: 100%;
  background-image: url(../assets/img/keks/bg-f-scr.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
@media only screen and (max-width: 1280px) {
  .first-screen:after {
    left: 0;
  }
}
.plate {
  position: absolute;
  /* left: 30%;
	top: 11px; */
  left: 389px;
  top: 70px;
  width: 1163px;
  font-size: 0;
  z-index: 1;
  /* @media @tablet1024{
		width: 1000px;
		top: 180px;
		left: 323px;
	} */
}
@media only screen and (max-width: 1366px) {
  .plate {
    width: 872px;
    height: auto;
    top: 124px;
    left: 475px;
  }
}
@media only screen and (max-width: 1280px) {
  .plate {
    width: 1324px;
    left: 382px;
    top: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .plate {
    display: none;
  }
}
.plate img {
  width: 100%;
}
@media only screen and (max-width: 1366px) {
  .plate img {
    height: auto;
    width: 100%;
  }
}
.f-scr-blk {
  width: 453px;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .f-scr-blk {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .f-scr-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.f-scr-title-txt {
  font-size: 134.964px;
  line-height: 96px;
  font-family: 'summer_fontbold';
  color: #69483E;
}
@media only screen and (max-width: 1366px) {
  .f-scr-title-txt {
    font-size: 93px;
    line-height: 69px;
  }
}
@media only screen and (max-width: 1280px) {
  .f-scr-title-txt {
    font-size: 134.964px;
    line-height: 96px;
  }
}
@media only screen and (max-width: 767px) {
  .f-scr-title-txt {
    font-size: 73px;
    line-height: 52px;
  }
}
.f-scr-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 89px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media only screen and (max-width: 1366px) {
  .f-scr-price {
    margin-top: 44px;
  }
}
@media only screen and (max-width: 1280px) {
  .f-scr-price {
    margin-top: 89px;
  }
}
.f-scr-pr-txt {
  font-size: 105px;
  line-height: 105px;
  font-family: 'LeOsler_Rough-Regular';
  color: #69483E;
  letter-spacing: -0.02em;
}
@media only screen and (max-width: 1366px) {
  .f-scr-pr-txt {
    font-size: 81px;
  }
}
@media only screen and (max-width: 1280px) {
  .f-scr-pr-txt {
    font-size: 105px;
  }
}
@media only screen and (max-width: 767px) {
  .f-scr-pr-txt {
    font-size: 57px;
    line-height: 57px;
  }
}
.f-scr-sale-txt {
  color: #958881;
  font-family: 'RobotoSlab-Bold';
  font-size: 32px;
  line-height: 30px;
}
@media only screen and (max-width: 767px) {
  .f-scr-sale-txt {
    font-size: 17px;
    line-height: 17px;
  }
}
.f-scr-sale {
  position: relative;
  bottom: -3px;
}
@media only screen and (max-width: 767px) {
  .f-scr-sale {
    bottom: 0;
  }
}
.f-scr-sale:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #958881;
}
@media only screen and (max-width: 767px) {
  .f-scr-sale:after {
    bottom: 8px;
  }
}
.f-scr-price-blk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.f-scr-pr-capt-txt {
  font-family: 'Roboto-Regular';
  color: #69483E;
  font-size: 16px;
  line-height: 20px;
}
@media only screen and (max-width: 767px) {
  .f-scr-pr-capt-txt {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .sale-br {
    display: none;
  }
}
.f-scr-pr-capt {
  margin-top: 22px;
}
@media only screen and (max-width: 767px) {
  .f-scr-pr-capt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.btn-basket-txt {
  font-size: 32px;
  line-height: 50px;
  font-family: 'Roboto-Medium';
  color: #FAFAFA;
}
@media only screen and (max-width: 767px) {
  .btn-basket-txt {
    font-size: 32px;
  }
}
.btn-basket {
  margin-top: 38px;
  width: 405px;
  background: #7A5348;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 85px;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
@media only screen and (max-width: 767px) {
  .btn-basket {
    width: 100%;
    max-width: 500px;
    height: 85px;
  }
}
.btn-basket:hover {
  background: #6d3627;
}
.f-scr-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 62px;
  width: 100%;
  margin-top: 150px;
  border-top: 1px solid rgba(122, 83, 72, 0.2);
}
@media only screen and (max-width: 767px) {
  .f-scr-bottom {
    margin-top: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.f-s-b-item {
  width: calc(100%/4 - 25px);
  position: relative;
  /* &:not(:first-child){
		@media @mob{
			margin-top: 30px;
		}
	} */
}
@media only screen and (max-width: 767px) {
  .f-s-b-item:nth-child(even) {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .f-s-b-item:nth-child(n+3) {
    margin-top: 33px;
  }
}
@media only screen and (max-width: 767px) {
  .f-s-b-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100%/2 - 10px);
  }
}
.f-s-b-txt {
  font-family: 'Roboto-Regular';
  font-size: 17px;
  line-height: 24px;
  color: #412D26;
  letter-spacing: -0.01em;
}
@media only screen and (max-width: 1024px) {
  .f-s-b-txt {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .f-s-b-txt {
    text-align: center;
    font-size: 14px;
  }
}
.line {
  white-space: nowrap;
  position: relative;
}
.line:after {
  height: 100%;
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.line-1:after {
  bottom: -15px;
  left: -16%;
  width: 129%;
  background-image: url('../assets/img/keks/l-1.svg');
}
.line-2:after {
  bottom: -15px;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/keks/l-2.svg');
}
.line-3:after {
  bottom: -13px;
  left: 0%;
  width: 151px;
  height: 100%;
  background-image: url('../assets/img/keks/l-3.svg');
}
@media only screen and (max-width: 767px) {
  .line-3:after {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 7px;
    width: 66px;
    background-image: url('../assets/img/keks/l-3.png');
  }
}
.line-4:after {
  bottom: -13px;
  left: 0%;
  width: 202px;
  height: 100%;
  background-image: url('../assets/img/keks/l-4.svg');
}
@media only screen and (max-width: 767px) {
  .line-4:after {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 7px;
    width: 100px;
    background-image: url('../assets/img/keks/l-4.png');
  }
}
.f-scr-cont {
  padding-bottom: 120px;
  z-index: 2;
}
.bottom-blk {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}
.b-title-txt {
  font-family: 'summer_fontbold';
  font-size: 103.856px;
  line-height: 74px;
  color: #69483E;
}
@media only screen and (max-width: 1024px) {
  .b-title-txt {
    font-size: 89px;
  }
}
@media only screen and (max-width: 767px) {
  .b-title-txt {
    font-size: 52px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 767px) {
  .b-title {
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.buy {
  position: absolute;
  top: 42px;
  right: 160px;
  width: 252px;
  font-size: 0;
  z-index: 1;
}
.buy img {
  width: 100%;
}
@media only screen and (max-width: 1280px) {
  .buy {
    right: auto;
    left: 72vw;
  }
}
@media only screen and (max-width: 1024px) {
  .buy {
    left: 69vw;
  }
}
@media only screen and (max-width: 767px) {
  .buy {
    left: auto;
    right: 0;
    top: 90px;
    width: 156px;
  }
}
.b-cont {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .b-cont {
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.b-item {
  width: calc(100%/3);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 487px;
}
@media only screen and (max-width: 1280px) {
  .b-item {
    height: calc((100vw/3)/(571/474) + 114px);
  }
}
@media only screen and (max-width: 767px) {
  .b-item {
    width: 100%;
    height: 125vw;
    max-width: 431px;
    margin-left: auto;
    margin-right: auto;
    max-height: 450px;
  }
}
@media only screen and (max-width: 767px) {
  .b-item:not(:first-child) {
    margin-top: 20px;
  }
}
.b-item:hover .b-img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.b-item:hover .green {
  opacity: 1;
}
.b-item:hover .b-i-inf-title-txt {
  color: #412D26;
}
.b-item-inf {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  z-index: 3;
  height: 151px;
}
@media only screen and (max-width: 1024px) {
  .b-item-inf {
    width: 100%;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
@media only screen and (max-width: 767px) {
  .b-item-inf {
    width: 100%;
    bottom: auto;
    top: 320px;
    padding-left: 26px;
  }
}
@media only screen and (max-width: 420px) {
  .b-item-inf {
    top: 70vw;
  }
}
@media only screen and (max-width: 767px) {
  .b-i-inf-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.b-i-inf-title-txt {
  color: rgba(65, 45, 38, 0.6);
  font-size: 26px;
  line-height: 30px;
  font-family: 'RobotoSlab-Bold';
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
@media only screen and (max-width: 799px) {
  .b-i-inf-title-txt {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .b-i-inf-title-txt {
    font-size: 28px;
  }
}
/* .b-i-2{
	left: 0;
	right: 0;
	margin: auto;
}*/
/* .b-i-3{
	
	margin-right: 0;
}  */
.b-i-inf-capt-txt {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto-Regular';
}
@media only screen and (max-width: 767px) {
  .b-i-inf-capt-txt {
    font-size: 14px;
    line-height: 14px;
  }
}
.b-i-inf-capt {
  margin-top: 15px;
}
.b-img {
  width: 450px;
  font-size: 0;
  position: relative;
  z-index: 2;
  min-width: 450px;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.b-img img {
  width: 100%;
}
@media only screen and (max-width: 1280px) {
  .b-img {
    min-width: 0%;
    width: 100%;
  }
}
.green {
  opacity: 0;
  position: absolute;
  top: -57px;
  width: 378px;
  /* left: 19%;
	width: 53%; */
  font-size: 0;
  z-index: 1;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media only screen and (max-width: 1280px) {
  .green {
    top: -13%;
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .green {
    display: none;
  }
}
.green img {
  width: 100%;
}
.footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
  padding-top: 30px;
  padding-bottom: 36px;
  border-top: 1px solid rgba(122, 83, 72, 0.2);
}
@media only screen and (max-width: 420px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 0;
  }
}
.footer-left-txt {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto-Regular';
  color: rgba(0, 0, 0, 0.4);
}
.plate-mob {
  display: none;
}
@media only screen and (max-width: 767px) {
  .plate-mob {
    margin-top: 30px;
    display: block;
    width: 100%;
    font-size: 0;
  }
  .plate-mob img {
    width: 100%;
  }
}
.basket {
  position: fixed;
  top: 30px;
  right: calc((100vw - 1280px)/2);
  margin-left: auto;
  width: 70px;
  height: 70px;
  margin-right: 150px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
  background: #FAFAFA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow 0.2s ease-out;
  transition: -webkit-box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
  cursor: pointer;
  z-index: 4;
}
.basket:hover {
  -webkit-box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.18);
}
@media only screen and (max-width: 1280px) {
  .basket {
    right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .basket {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .basket {
    width: 50px;
    height: 50px;
    top: 14px;
    margin-right: 20px;
  }
}
.basket-ic {
  width: 35px;
  font-size: 0;
}
@media only screen and (max-width: 767px) {
  .basket-ic {
    width: 23px;
  }
}
.basket-ic img {
  width: 100%;
}
.bask-num {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background: #91B459;
  padding-top: 1px;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media only screen and (max-width: 767px) {
  .bask-num {
    padding-top: 0;
    top: 0px;
    right: -10px;
  }
}
.basket-act .bask-num {
  opacity: 1;
}
.basket-blk {
  max-width: 1280px;
  top: 0;
  left: 0;
  right: -7px;
  position: fixed;
  width: 100%;
  margin: auto;
  padding-top: 30px;
}
.bask-num-txt {
  font-size: 17px;
  line-height: 24px;
  color: #FAFAFA;
  font-family: 'RobotoSlab-Bold';
}
@media only screen and (max-width: 767px) {
  .footer-left,
  .footer-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.desk {
  display: block;
}
@media only screen and (max-width: 767px) {
  .desk {
    display: none;
  }
}
.mob {
  display: none;
}
@media only screen and (max-width: 767px) {
  .mob {
    display: block;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
b,
strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
s {
  text-decoration: line-through;
}
sup {
  vertical-align: super;
  font-size: 70%;
}
sub {
  vertical-align: sub;
  font-size: 70%;
}
