.popup-programs{
    margin-bottom: 20px;
    padding: 9px 16px;
    @media screen and (max-width: 1026px){
        padding: 0;
        margin: 0;
    }
    &-item{
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-image: url(../assets/img/animations-online/popup-program-1.png);
        background-repeat: no-repeat;
        border: 2px solid #e7e7e7;
        padding: 20px 20px 26px;
        margin-bottom: 10px;
        @media screen and (max-width: 1026px){
            padding: 11px 20px;
        }
        &-content{
            width: 60%;
            @media screen and (max-width: 1026px){
                width: 100%;
            }
        }
        &__title{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 12px;
            @media screen and (max-width: 1026px){
                flex-direction: column;
                align-items: flex-start;
            }
            .mod-name{
                font-family: "SummerFont";
                font-size: 40px;
                line-height: 1;
                font-weight: bold;
                color: #c75296;
                text-transform: uppercase;
            }
            .mod-price{
                font-family: "Calibri";
                font-size: 24px;
                color: #b41f7e;
                font-weight: bold;
                margin-left: 17px;
                @media screen and (max-width: 1026px){
                    margin-left: 0;
                }
            }
            &.mod-green{
                .mod-name{
                    color: #85c556;

                }
                .mod-price{
                    color: #84c456;
                }
            }
        }
        &__description{
            font-size: 16px;
            font-family: "PT Serif Caption";
            color: #ad2666;
            margin-bottom: 6px;
            &.mod-blue{
                color: #4da6a0;
            }
            &.mod-brown{
                color: #a79368;
            }
        }
        &__extra{
            font-size: 15px;
            font-family: "PT Serif Caption";
            color: #4c4c4c;
            font-style: italic;
        }
        &__close{
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #e8e8e8;
            width: 30px;
            height: 30px;
            top: 12px;
            right: 12px;
            cursor: pointer;
            @media screen and (max-width: 1026px){
                right: 20px;
            }

            svg{
                width: 14px;
                height: 14px;
            }
        }
    }
    &-row{
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1026px){
            flex-direction: column;
        }
        .popup-form__item{
            width: 100%;
            margin-bottom: 16px;
            &:not(:first-child){
                margin-left: 16px;
                @media screen and (max-width: 1026px){
                    margin-left: 0;
                }
            }
        }
        .popup-form__extra{
            display: flex;
            flex-direction: row;
            position: relative;
            @media screen and (max-width: 1026px){
                flex-direction: column;
            }
            .c-input{
                width: 60px;
                @media screen and (max-width: 1026px){
                    position: absolute;
                    left: 0;
                    top: 28px;
                }

            }
            &-info{
                flex: 1 1 auto;
                margin-left: 20px;
                @media screen and (max-width: 1026px){
                    min-height: 80px;
                    margin: 0;
                }
                &-text{
                    font-size: 16px;
                    font-family: "PT Serif Caption";
                    color: #553023;
                    font-style: italic;
                    margin: 0;

                }
                &-subtext{
                    font-size: 15px;
                    font-family: "PT Serif Caption";
                    color: #4c4c4c;
                    font-style: italic;
                    margin: 0;
                    @media screen and (max-width: 1026px){
                        margin-left: 78px;
                        margin-top: 6px;
                    }

                }
            }
        }
    }
    &-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 48px;
        background: #69a82f url(../assets/img/bg-header.png) repeat;
        @media screen and (max-width: 1026px){
            flex-direction: column;
            align-items: center;
        }
        &-price{
            font-size: 16px;
            font-family: "PT Serif Caption";
            color: #fff;
            text-transform: uppercase;
            @media screen and (max-width: 1026px){
                text-transform: none;
                margin-bottom: 20px;
            }
            .desktop-only{
                @media screen and (max-width: 1026px){
                    display: none;
                }

            }
        }
        &-button{
            font-size: 16px;
            font-family: "PT Serif Caption";
            color: #fff;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            &:after{
                display: none;
            }
            &:hover{
                color: #fff;
            }
            @media screen and (max-width: 1026px){
                font-size: 21px;
                line-height: 1;
                padding: 15px 28px 16px;
                border: 1px solid #fff;
                border-radius: 28px;
                display: block;
                &:hover{
                    border: 1px solid #fff;
                    color: #fff;
                }
            }

        }
        &-mobile{
            display: none;
            padding: 20px;
            @media screen and (max-width: 1026px){
                display: block;
            }
            &-logo{
                margin-bottom: 10px;
                img{
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 400px;
                }
                a{
                    &:after{
                        display: none;
                    }
                }
            }
            &-phone{
                text-align: center;
                a{
                    font-size: 17px;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                    color: #9acc4f;
                    border: none;
                    &:hover{
                        color: #9acc4f;
                        border: none;
                    }
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}

.popup-animations{
    .popup-title{
        text-align: center;
        @media screen and (max-width: 1026px){
            display: none;
        }
    }
    .popup-title-mobile{
        display: none;
        font-family: "SummerFont";
        color: #4c4c4c;
        text-transform: uppercase;
        font-size: 44px;
        padding: 15px 20px 13px;
        background: #fdf7e8 url(../assets/img/bg-header.png) repeat;
        @media screen and (max-width: 1026px){
            display: flex;;
            flex-direction: row;
            justify-content: space-between;
        }
        .popup-close{
            display: block;
            position: relative;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            background: none;
        }
    }
}