@import '../components/**/*.scss';

// фикс нижнего паддинга у попапов в events-calendar 
.popup-child-holidays__footer{
    @media screen and (max-width: 1040px){
        padding-bottom: 4rem;
    }
}

//фикс отображение кнопок +\- добавления в корзину
.c-card-catalog__count.not-flex-margin {
    flex: none!important;
    margin-right: 10px;
    @media screen and (max-width: 769px){
        margin-right: unset;
    }
    @media screen and (max-width: 430px){
        width: auto !important;
        padding: 0 !important;
        margin-top: 0 !important;
    }
}