.tabs-folder-2021{
    .tabs-menu__item{
        &.current{
            .tabs-menu-inset a{
                background-color: rgba(154, 204, 78, .6);
                color: #fff;
            }

        }
    }
    .tabs-menu-inset a{
        border-radius: 1.8rem;
        padding: 2px 30px 4px;
        transition: all .2s ease;
    }
    
}