<!DOCTYPE html>
<html lang="ru" class="fixed-margin">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Онлайн анимации</title>

		<!-- styles needed by jScrollPane -->

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="styles_old/core.css" type="text/css" rel="stylesheet"/>

		<link href="styles_old/kernel_main_v1.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/ui.font.opensans.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/main.popup.bundle.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/style.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/ss.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/page_dbd68c0f4c1c469115c769c0a5c21f88_v1.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/default_087a3f511dcd207dfe58c107feba125c_v1.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/default_124f9249daa5792340fa5303f6091348_v1.css" type="text/css" rel="stylesheet"/>
		<link href="styles_old/template_d2f1360a7370fec59d5ea374711432ed_v1.css" type="text/css" data-template-style="true" rel="stylesheet"/>

        <link href="fonts/montserrat.css" type="text/css" rel="stylesheet" href="">
		<link href="styles/index.css" type="text/css" rel="stylesheet"/>

	</head>
    <body>
    <div class="wrapper">
        {% include "../components/animations-online/flying-nav/flying-nav.twig" %}

        {% include "../components/animations-online/flying-cart/flying-cart.twig" %}

        {% include "../components/animations-online/header/header.twig" %}

        <main>
            {% include "../components/animations-online/body/body.twig" %}
            
            {% include "../components/animations-online/flying-form/flying-form.twig" %}
        </main>
    </div>
    <footer class="footer">
        <section class="c-layout">
            <div class="footer-layout">
                <div class="footer-col__left">
                    <div class="footer-col__left-item">
                        <div class="footer-social">
                            <a class="footer-social__item" href="https://vk.com/cafeanderson" target="_blank">
                                <svg class="c-symbol symbol-vk">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/include/sprites/all.svg#symbol-vk"></use>
                                </svg>
                            </a>
                            <a class="footer-social__item" href="https://www.facebook.com/anderson.moscow/" target="_blank">
                                <svg class="c-symbol symbol-fb">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/include/sprites/all.svg#symbol-fb"></use>
                                </svg>
                            </a>
                            <a class="footer-social__item" href="https://www.instagram.com/cafe_anderson/" target="_blank">
                                <svg class="c-symbol symbol-o">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/include/sprites/all.svg#symbol-o"></use>
                                </svg>
                            </a>
                        </div>
                        <a href="/sitemap/" class="footer-site-map">
                            <svg class="c-icon icon-site-map" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.27 82.51">
                                <path d="M83.09,58.48c.2-.3-1.22-.8-1.22-1.2-.2-6.3-.5-12.7-2.1-18.8a1.62,1.62,0,0,0-3.1.1c-4.9-.7-10-.5-14.9-.5l-13.5-.3c-.2-3.1-.4-6.1-.8-9.2a59.09,59.09,0,0,0,11.2-.9c4.3-.8,4-4.2,4-7.9,0-5.3.1-10.5.2-15.8.1-3.2-3.8-4-5.7-2.3a96.84,96.84,0,0,0-10.7-.2c-2.5,0-5,0-7.5.1-2,.1-4.3-.1-6.1.8-3.9,1.7-2.7,6.9-2.5,10.3.1,2.5.2,5.1.4,7.6.1,1.8-.1,4,1,5.6,2.2,3.2,7.5,2.6,10.9,2.7a12.1,12.1,0,0,1,1.9.1,55,55,0,0,0-.4,9.1c-10.1-.3-20.2-.9-30.3-1.7-2.3-.3-3.2,2-2.6,3.8a59.21,59.21,0,0,0,.2,6.2c0,3.9-.4,7.8-.5,11.7v.4c-4.5.8-10,4.5-10.7,9.7-1.2,6.1,1.4,15,11,15.1,5.9,1.4,11.4-3.6,12.5-9.2.5.1,2.2-.1,2.3-.7,1.8-6.7-2.8-12.6-9.1-14.6.1-.3-.9-.6-.9-.9-.1-4-.7-8.1-1.2-12.2-.1-1-.1-2.3-.3-3.6,9.7.7,19.4,1.2,29.2,1.2a119.75,119.75,0,0,0,.4,14.7c-5.5-.1-11.6,4-12.4,9.9-.9,6.3,2,14.76,11.2,15.3,5.9,1.4,11.4-3.6,12.5-9.2.5.1,2.2-.1,2.3-.7,1.6-6-1.8-11.3-7.1-13.8.1-.2-.9-.5-.9-.8,0-5.1-.9-10.3-1.4-15.4,4.4,0,8.8-.2,13.1-.4,4.9-.3,10.1-.4,14.9-1.5a125.13,125.13,0,0,1-.2,16.2V58c-4.7.6-10.2,4.5-10.9,9.8-.9,6.3,1.65,14.81,11.2,15.3,5.9,1.4,11.4-3.6,12.5-9.2.5.1,2.72-.1,2.82-.7C93.79,66.28,89.29,60.48,83.09,58.48ZM15.77,63c4,1.4,6.8,3.7,7.2,7.7a2,2,0,0,0-2.8,1.7c-.2,4.5-4.6,6.2-8.8,4.9C7,75.88,5.3,74.32,6,69.92,6.9,64.72,10.67,61.28,15.77,63Zm25.4-40.6a15.83,15.83,0,0,0-3.7-.3c-.2-.1-.4-.1-.6-.2v-.5c.5-2.4-.2-5.8-.3-8.2,0-1.2-.1-2.3-.1-3.5a9.15,9.15,0,0,0-.1-1.7c.1,0,.2-.1.4-.1,1.2.3,3.3-.4,4.6-.6s2.5-.3,3.7-.4c3.5-.3,7.4-.2,11.1-.6.1,2.7.1,5.4.2,8.1,0,1.6,0,3.2.1,4.9v2.8a48.65,48.65,0,0,1-6.5.5C47,22.58,44.07,22.58,41.17,22.38Zm13.5,48.4a2,2,0,0,0-2.8,1.7c-.2,4.5-4.6,6.2-8.8,4.9-4.4-1.4-6.4-4-5.7-8.4.9-5.2,5.62-7.84,10.72-6.14C52.19,64.13,54.27,66.68,54.67,70.78Zm30.9,1.7c-.2,4.5-4.6,6.2-8.8,4.9-4.4-1.4-6.4-4-5.7-8.4.9-5.2,4.9-7.6,10-5.9,4,1.4,6.8,3.7,7.2,7.7A1.92,1.92,0,0,0,85.57,72.48Z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="footer-col__left-item">
                        <div class="subscribe-form" id="subscribe-form">
                            <form action="" class="subscribe-form" method="POST">
                                <div class="footer-search">
                                    <input class="footer-search__input" type="text" placeholder="Ваш email" name="EMAIL" value="">
                                    <button class="footer-search__btn subscribe__btn" data-action="add" data-id="">Подписаться</button>
                                </div>
                            </form>
                        </div>
                        <!--    <div class="footer-info tooltip" data-tooltip-content=".tooltip_info">
                                    <svg class="c-icon icon-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.97 13.81">
                                        <path d="M12.89,1.09C11.89.17,7.75,0,5.38.13c-1.62.08-3.67.31-4.28,1-1.45,1.6-1.44,10.3,0,11.78.89.91,4.21,1,5.6,1H7c2.19,0,5-.29,5.89-1s1.06-3.42,1.1-5c.05-2-.1-6-1.08-6.86m.29,6.83c-.07,2.62-.47,4.11-.81,4.39s-2.49.77-5.39.8c-3.09,0-4.92-.38-5.31-.77-1-1.07-1.28-9.26,0-10.69C1.94,1.36,3.2,1,5.42.92c3-.14,6.35.22,6.94.76s.92,3,.83,6.25"/>
                                        <path d="M8.35,10.84H5.7v-.52h.77V5.87H5.7V5.35H7.57v5h.77ZM6.25,3.66a.59.59,0,0,1,.21-.48A.83.83,0,0,1,7,3a.82.82,0,0,1,.56.18.61.61,0,0,1,.2.48.61.61,0,0,1-.2.48A.82.82,0,0,1,7,4.32a.83.83,0,0,1-.55-.18A.59.59,0,0,1,6.25,3.66Z"/>
                                    </svg>
                                    <div class="tooltip_templates">
                                        <span class="tooltip_info">
                                            <span>Подписка на </span>
                                        </span>
                                    </div>
                                </div>-->
                    </div>
                </div>
                <div class="footer-col__right">
                    <div class="footer-col__right-item">
                        <div class="footer-reviews">
                            <a href="/about/reviews/" class="footer-reviews__text">
                                <span>Книга отзывов</span>
                            </a>
                            <div style="display:none;background-image: url('local/templates/anderson_new/img/chat-bubbles-green.svg');"></div>
                            <div class="footer-reviews__icons">
                                <div class="footer-reviews__icon js-positive" title="Похвалить">
                                    <svg class="c-symbol symbol-positive">
                                        <use xlink:href="/include/sprites/all.svg#symbol-positive"></use>
                                    </svg>
                                </div>
                                <div class="footer-reviews__icon js-negative" title="Пожаловаться">
                                    <svg class="c-symbol symbol-negative">
                                        <use xlink:href="/include/sprites/all.svg#symbol-negative"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-col__right-item">
                        <div class="footer-partners">
                            <div class="footer-partners__item logo-visa"></div>
                            <div class="footer-partners__item logo-mir"></div>
                            <a href="https://uniteller.ru/" target="_blank" rel="nofolow">
                                <div class="footer-partners__item logo-uniteller"></div>
                            </a></div><a href="https://uniteller.ru/" target="_blank" rel="nofolow">
                            </a><div class="footer-lang"><a href="https://uniteller.ru/" target="_blank" rel="nofolow">
                                </a><a class="footer-lang__item is-active" href="/msk/">
                                    <svg class="c-icon icon-ru" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.5 13.35">
                                        <path d="M12.69,1.29c-1-.88-5-1-7.26-.93-1.56.07-3.55.3-4.14,1C-.1,2.86-.1,11.26,1.3,12.69c.86.88,4.07,1,5.41,1H7c2.12,0,4.88-.28,5.69-.95s1-3.3,1.06-4.81c.05-1.91-.1-5.76-1-6.63M13,7.89c-.07,2.53-.46,4-.78,4.24s-2.41.75-5.21.77c-3,0-4.76-.36-5.13-.75-1-1-1.24-9,0-10.33.25-.28,1.46-.6,3.61-.7,2.94-.14,6.13.21,6.71.73s.89,2.94.8,6"></path>
                                        <path d="M3.85,8.44H4.4v.35H2.57V8.44h.57V4.74H2.57V4.39h.64l.62,0,.66,0a2.81,2.81,0,0,1,.65.07,1.55,1.55,0,0,1,.53.22A1.11,1.11,0,0,1,6,5a1.16,1.16,0,0,1,.13.56,1.13,1.13,0,0,1-.28.77,1.52,1.52,0,0,1-.73.45L6.38,8.44h.39v.35h-1L4.49,6.89H3.85Zm.5-1.87a1,1,0,0,0,.76-.27,1,1,0,0,0,.27-.72.8.8,0,0,0-.29-.69,1.26,1.26,0,0,0-.77-.22H4l-.2,0V6.58Z"></path>
                                        <path d="M10.86,8a1.26,1.26,0,0,1-.34.48,1.38,1.38,0,0,1-.53.29,2.35,2.35,0,0,1-.69.09A2.22,2.22,0,0,1,7.95,8.5a1.29,1.29,0,0,1-.47-1.1V4.74H6.91V4.39h1.8v.35H8.18V7.26a1.61,1.61,0,0,0,.08.55.87.87,0,0,0,.24.36,1,1,0,0,0,.38.2,2.08,2.08,0,0,0,.52.06,1.25,1.25,0,0,0,.87-.28,1.15,1.15,0,0,0,.31-.91V4.74h-.52V4.39h1.5v.35H11V7.29A1.83,1.83,0,0,1,10.86,8Z"></path>
                                    </svg>
                                </a>
                                <a class="footer-lang__item " href="/eng/">
                                    <svg class="c-icon icon-en" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.5 13.35">
                                        <path d="M12.69,1.29c-1-.88-5-1-7.26-.93-1.56.07-3.55.3-4.14,1C-.1,2.86-.1,11.26,1.3,12.69c.86.88,4.07,1,5.41,1H7c2.12,0,4.88-.28,5.69-.95s1-3.3,1.06-4.81c.05-1.91-.1-5.76-1-6.63M13,7.89c-.07,2.53-.46,4-.78,4.24s-2.41.75-5.21.77c-3,0-4.76-.36-5.13-.75-1-1-1.24-9,0-10.33.25-.28,1.46-.6,3.61-.7,2.94-.14,6.13.21,6.71.73s.89,2.94.8,6"></path>
                                        <path d="M5.92,4.39v1h-.4V4.88l-.13-.14H3.85V6.37H4.92L5,6.28V6h.4V7.09H5V6.82l-.09-.1H3.85V8.44H5.5l.13-.13V7.7H6v1.1H2.57V8.44h.57V4.74H2.57V4.39Z"></path>
                                        <path d="M9.85,4.39H11.4v.35h-.57V8.87h-.41L7.85,5.41l-.28-.48h0l.06.49v3h.57v.35H6.63V8.44h.57V4.74H6.63V4.39H7.89l2.2,3,.33.54h0l0-.54V4.74H9.85Z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="developer">
                    <a href="https://leeft.ru/" target="_blank">Разработка сайта Leeft</a>
                </div>

            </section>
        </footer>

        {% include "../components/animations-online/popup-cart/popup-cart.twig" %}
        <div class="mfp-bg mfp-ready"></div>

        <script src="local/templates/anderson_new/js/jquery.js"></script>
        <script src="local/templates/anderson_new/js/scripts/ion.rangeSlider.min.js?r=6efdbcf76d861277825880bb74fede59"></script>
        <script src="local/templates/anderson_new/js/scripts/slick.js?r=b5eb17de1358bee70307f0abfe3858d2"></script>
        <script src="local/templates/anderson_new/js/scripts/preloader.js?r=7e138ab412e0745b833f9fb2d239db82"></script>
        <script src="local/templates/anderson_new/js/scripts/mixitup.min.js?r=ef98cd2b457a249861506d41f9066d81"></script>
        <script src="local/templates/anderson_new/js/scripts/jquery.mask.js?r=157a4c16a41e311008658167da5971a4"></script>
        <script src="local/templates/anderson_new/js/scripts/jquery.mousewheel.js?r=456d5c5a28ee293605e1bd722edd2429"></script>
        <script src="local/templates/anderson_new/js/scripts/jquery.jscrollpane.min.js?r=d84a90c1f4e77f443b58a19366df88d8"></script>
        <script src="local/templates/anderson_new/js/scripts/tooltipster.bundle.js?r=47a6b580b11eccf2628046013e995142"></script>
        <script src="local/templates/anderson_new/js/scripts/simplebar.js?r=b004fc11169323f6816552e6b7eb0296"></script>
        <script src="local/templates/anderson_new/js/scripts/owl.carousel.js?r=909d47bd6bd2ebe46aef6c3efb7ee76a"></script>
        <script src="local/templates/anderson_new/js/scripts/datepicker.min.js?r=e4b6f43916f3e128d6abf539337a836c"></script>
        <script src="local/templates/anderson_new/js/scripts/jquery.sumoselect.js?r=f247f6afe42f112ead1114952073d7fa"></script>
        <script src="local/templates/anderson_new/js/scripts/fotorama.js?r=c0f742193173603907a54e05ccadd885"></script>
        <script src="local/templates/anderson_new/js/scripts/tooltip.js?r=777f9f77c9c4deba0f8ce4d67c390b71"></script>
        <script src="local/templates/anderson_new/js/scripts/datepicker-anderson.js?r=7b61d30af891356acb52318fcb941d48"></script>
        <script src="local/templates/anderson_new/js/scripts/main.js?r=4ac5645e7fe60d7231a110f84371e144"></script>
        <script src="local/templates/anderson_new/js/libs/jquery.lazy-master/jquery.lazy.min.js"></script>
        <script src="local/templates/anderson_new/js/cookie.js"></script>
        <script src="local/templates/anderson_new/js/functions.js?r=600dce05560a38ff8a332d774950f835"></script>
        <script src="local/templates/anderson_new/js/main_func.js?r=9a16910d0bfd7039738c395fa26551d5"></script>
        <script src="local/templates/anderson_new/js/scripts.js?r=692aeefaa0741b9f1661abd542c38d59"></script>
        <script src="local/templates/anderson_new/js/map.js?r=9ba5c93d9725e127c44515c2e8b458c7"></script>
        <script src="local/templates/anderson_new/js/libs/fancybox/jquery.fancybox.min.js"></script>
        <script src="local/templates/anderson_new/js/libs/jquery.fias.min.js"></script>
        <script src="local/templates/anderson_new/js/libs/jquery.inputmask.js"></script>
		<script src="scripts/bundle.js"></script>
    </body>