
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
	<title>anderson</title>
    {# <link rel="icon" type="image/vnd.microsoft.icon" href="/local/templates/anderson_new/fav.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/local/templates/anderson_new/favs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/local/templates/anderson_new/favs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/local/templates/anderson_new/favs/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/local/templates/anderson_new/favs/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/local/templates/anderson_new/favs/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/local/templates/anderson_new/favs/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/local/templates/anderson_new/favs/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/local/templates/anderson_new/favs/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/local/templates/anderson_new/favs/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/local/templates/anderson_new/favs/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/local/templates/anderson_new/favs/apple-touch-icon-152x152.png">
    <link rel="manifest" href="/local/templates/anderson_new/favs/site.webmanifest">
    <link rel="mask-icon" href="/local/templates/anderson_new/favs/safari-pinned-tab.svg" color="#9acc4f"> #}

	<link href="styles_old/app.css" rel="stylesheet">
	<link href="styles/vendor/slick.css" rel="stylesheet">
	
	<link href="styles/keks/index.css" rel="stylesheet">
</head>
<body>
<style>.bask-num {opacity: 1}</style>
<div class="top">
	<div class="top-content">
		<header class="header-new">
			<a href='/' class="logo">
				<img src="assets/img/keks/logo-new.png" alt="">
			</a>
			<a href="tel:+74952219363"  class="call">
				<div class="call-ic">
					<img src="assets/img/keks/call-ic.svg" alt="">
				</div>
				<span class="h-tel">8 (495) 221-93-63</span>
			</a>
			<a href='/personal/cart/' class="basket">
				<div class="basket-ic">
					<img src="assets/img/keks/basket.svg" alt="">
				</div>
				<div class="bask-num">
					<span class="bask-num-txt">15</span>
				</div>
			</a>
		</header>
		
		<div class="f-scr-blk">
			<div class="f-scr-title">
				<span class="f-scr-title-txt">Легендарный фисташковый рулет</span>
			</div>
			<div class="f-scr-desc">
				<span class="f-scr-desc-txt">
					Сахар, <span class="mod-rose">малина,</span><br/>
					белок пастеризованный,<br/>
					сыр маскарпоне,<br/>
					сливки питьевые ультрапастеризованные,<br/>
					<span class="mod-green">фисташки,</span> мука пшеничная в/с,<br/>
					пудра сахарная,<br/>
					лимонная кислота
				</span>
			</div>
			<div class="f-scr-price">
				<div class="f-scr-pr">
					<span class="f-scr-pr-txt">1 680₽</span>
				</div>
			</div>
			<div class="f-scr-price-blk">
				<div class="btn-basket">
					<img src="assets/img/keks/cart.png" alt="cart">
					<span class="btn-basket-txt" onclick="ga ('send', 'event', 'submit', 'keks'); yaCounter24015385.reachGoal('keks'); return true;"> В корзину</span>
				</div>
			</div>
		</div>
		<div class="top-features">
			<div class="top-features-item">
				<div class="top-features-item__img">
					<img src="assets/img/keks/icon-1.png" alt="иконка">
				</div>
				<div class="top-features-item__text">
					При заказе сегодня&nbsp;&mdash; привезем&nbsp;завтра с&nbsp;12&nbsp;до&nbsp;20
				</div>
			</div>
			<div class="top-features-item">
				<div class="top-features-item__img">
					<img src="assets/img/keks/icon-2.png" alt="иконка">
				</div>
				<div class="top-features-item__text">
					Только натуральные продукты,
					без консервантов
					и&nbsp;сомнительных ингредиентов
				</div>
			</div>
			<div class="top-features-item">
				<div class="top-features-item__img">
					<img src="assets/img/keks/icon-3.png" alt="иконка">
				</div>
				<div class="top-features-item__text">
					Только зелёные фисташки
					и&nbsp;крупная цельная малина
				</div>
			</div>
			<div class="top-features-item">
				<div class="top-features-item__img">
					<img src="assets/img/keks/icon-4.png" alt="иконка">
				</div>
				<div class="top-features-item__text">
					Оригинальная рецептура
					от&nbsp;создателей 
					фисташкового&nbsp;рулета
				</div>
			</div>
		</div>
		<div class="bg-dots">

		</div>
		<div class="top-review">
			<div class="top-review-text">
				<p>
				Мне кажется, что все должны его попробовать. Даже если вы совсем несемейный, как я, например. Вы все равно можете прийти в семейное кафе АндерСон просто для того, чтобы попробовать фисташковый рулет.  В любом блюде успех – это баланс. В десерте, c одной стороны - это баланс кислого и сладкого. Здесь с одной стороны очень много сладких ингредиентов. С другой стороны малина, которая кислит. И у тебя получается такое во рту и сладкое, и кисленькое. 
				</p>
				<p>
				С другой стороны - это фактурность. У тебя есть и мягкий крем. И это, вот, безе вокруг – «хрустяшечка» - и орешки, которые покусываешь. И это многообразие вкусов и форм создает такую полноту. Это правда.
				</p>
				<p>
				Когда ты просто ешь что-то сладкое и однородное, это не будет такого впечатления производить. А вот именно комплексность ощущений…. Это так кажется, что ты можешь остановиться. А потом... Потом ты уже служишь рулету, а не он тебе. Он тебя порабощает...
				</p>
				<br/>
				<p>Ребята! Вы должны это попробовать – фисташковый рулет в АндерСоне... Все. Придите - попробуйте.</p>
				<p>Я проверю</p>
			</div>
			<div class="top-review-autor">
				<p>Дмитрий Левицкий.</p>
				<p>Предприниматель, основатель HURMA Group of Companies и нескольких ресторанов в Москве и Сочи, вдохновитель и организатор Gastreet — International Restaurant Show.</p>
			</div>
		</div>
	</div>
	
	<div class="f-scr-pistachio">
		<img src="assets/img/keks/pistachio.png" alt="фисташки">
	</div>
	<div class="f-scr-keks">
		<img src="assets/img/keks/keks.png" alt="фисташки">
	</div>
	<div class="f-scr-person">
		<img src="assets/img/keks/person.png" alt="фисташки">
	</div>
	<div class="f-scr-berry-1 js-parallax">
		<img src="assets/img/keks/berry-1.png" alt="фисташки">
	</div>
	<div class="f-scr-berry-2 js-parallax">
		<img src="assets/img/keks/berry-2.png" alt="фисташки">
	</div>
	<div class="f-scr-berry-3 js-parallax">
		<img src="assets/img/keks/berry-3.png" alt="фисташки">
	</div>
	<div class="f-scr-leaf-1  js-parallax-deep">
		<img src="assets/img/keks/leaf-1.png" alt="фисташки">
	</div>
	<div class="f-scr-leaf-2  js-parallax">
		<img src="assets/img/keks/leaf-2.png" alt="фисташки">
	</div>
	<div class="f-scr-leaf-3  js-parallax-deep">
		<img src="assets/img/keks/leaf-3.png" alt="фисташки">
	</div>
	<div class="f-scr-leaf-berry js-parallax-deep">
		<img src="assets/img/keks/leaf-berry.png" alt="фисташки">
	</div>
	<div class="f-scr-plate-1">
		<img src="assets/img/keks/plate-1.png" alt="фисташки">
	</div>
</div>
<div class="middle">
	<div class="middle-content">
		<div class="middle-text">
			<p>Фисташковый рулет – совершенный бестселлер в андерсоновских кондитерских. Карточка сети.</p>
			<p>Мы берем маскарпоне с малиной и фисташками, заворачиваем в тончайший бисквит, взбитый так круто и так устроенный, что он мягкий, но хрустит. Он почти безе. Главное - хрустящая текстура и игра простых понятных сочитаемых вкусов</p>
		</div>
		<div class="middle-row">
			<div class="middle-video">
				<iframe width="613" height="344" src="https://www.youtube.com/embed/zeGupB528L8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="middle-desc">
				<div class="middle-desc-text">
					<p>С 2010 года мы приготовили уже</p>
					<p class="mod-green">несколько миллионов</p>
					<p>фисташковых рулетов</p>
				</div>
				<div class="middle-desc-subtext">
					- и его полюбили уже сотни тысяч семей!
				</div>
				<div class="middle-desc-img">
					<img src="assets/img/keks/middle-img.png" alt="middle">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="reviews">
	<div class="reviews-content">
		<div class="reviews-row">
			<div class="reviews-book">
				<img src="assets/img/keks/book.png" alt="book">
				<div class="reviews-book-baloon">
					<div class="reviews-book-baloon-back">
						<img src="assets/img/keks/bg-reviews.svg" alt="back-review">
					</div>
					<div class="reviews-book-baloon-text">
						Внешне рулет похож на гладкий белый сахарный слиток. Как раньше была сахарная голова вприкуску к чаю. А внутри похожа на сундук с сокровищами. Возможно, именно поэтому он так нравится детям - разрезание рулета, как игра в секреты
					</div>
				</div>
			</div>
			<div class="reviews-desc">
				<div class="reviews-desc-text">
					<p class="mod-sub">отрывок из книги</p>
					<p>«Нельзя, но можно. История АндерСона 
						в смыслах, рецептах и цифрах»</p>
				</div>
				<div class="reviews-desc-btn">
					<div class="reviews-desc-btn-img">
						<img src="assets/img/keks/cart.png" alt="cart">
					</div>
					<span class="btn-basket-txt" onclick="ga ('send', 'event', 'submit', 'keks'); yaCounter24015385.reachGoal('keks'); return true;"> Попробовать рулет</span>
				</div>
			</div>
		</div>
		<div class="reviews-slider js-review-slider">
			<div class="reviews-slider-item">
				<div class="reviews-slider-item-head">
					<div class="reviews-slider-item-img">

					</div>
					<div class="reviews-slider-item-info">
						<div class="reviews-slider-item-info-name">
							Маликов Дмитрий Валерьевич
						</div>
						<div class="reviews-slider-item-info-date">
							19.01.20г.
						</div>

					</div>

				</div>
				<div class="reviews-slider-item-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</div>
			</div>
			<div class="reviews-slider-item">
				<div class="reviews-slider-item-head">
					<div class="reviews-slider-item-img">

					</div>
					<div class="reviews-slider-item-info">
						<div class="reviews-slider-item-info-name">
							Маликов Дмитрий Валерьевич
						</div>
						<div class="reviews-slider-item-info-date">
							19.01.20г.
						</div>

					</div>

				</div>
				<div class="reviews-slider-item-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</div>
			</div>
			<div class="reviews-slider-item">
				<div class="reviews-slider-item-head">
					<div class="reviews-slider-item-img">

					</div>
					<div class="reviews-slider-item-info">
						<div class="reviews-slider-item-info-name">
							Маликов Дмитрий Валерьевич
						</div>
						<div class="reviews-slider-item-info-date">
							19.01.20г.
						</div>

					</div>

				</div>
				<div class="reviews-slider-item-text">
					Lorem ipsum dolor sit amet, cud exercitation dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</div>
			</div>
			<div class="reviews-slider-item">
				<div class="reviews-slider-item-head">
					<div class="reviews-slider-item-img">

					</div>
					<div class="reviews-slider-item-info">
						<div class="reviews-slider-item-info-name">
							Маликов Дмитрий Валерьевич
						</div>
						<div class="reviews-slider-item-info-date">
							19.01.20г.
						</div>

					</div>

				</div>
				<div class="reviews-slider-item-text">
					Lorem ipsum odi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</div>
			</div>
			<div class="reviews-slider-item">
				<div class="reviews-slider-item-head">
					<div class="reviews-slider-item-img">

					</div>
					<div class="reviews-slider-item-info">
						<div class="reviews-slider-item-info-name">
							Маликов Дмитрий Валерьевич
						</div>
						<div class="reviews-slider-item-info-date">
							19.01.20г.
						</div>

					</div>

				</div>
				<div class="reviews-slider-item-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</div>
			</div>
		</div>
		<div class="reviews-slider-link">
			<a href="/">перейти к отзывам</a>
		</div>
	</div>
</div>
<div class="cont">
	<section>
		<div class="bottom-blk ">
			<div class="buy">
				<img src="assets/img/keks/buy.png" alt="">
			</div>
			<div class="b-title">
				<span class="b-title-txt">Вместе с фисташковым<br> рулетом заказывают</span>
			</div>
			
				<div class="b-cont">
					<a href='/msk/menu/kupi-v-andersone/157820/' class="b-item  b-i-1">
						<div class="b-img">
							<img src="assets/img/keks/2.png" alt="">
						</div>
						<div class="green">
							<img src="assets/img/keks/green.svg" alt="">
						</div>
						<div class="b-item-inf">
							<div class="b-i-inf-title">
								<span class="b-i-inf-title-txt">Запас замороженных диетических наггетсов</span>
							</div>
							<div class="b-i-inf-capt">
								<span class="b-i-inf-capt-txt">Идеальные для запекания в духовке</span>
							</div>
						</div>
					</a>
					<a href='/msk/menu/kupi-v-andersone/157815/' class="b-item b-i-2">
						<div class="b-img">
							<img src="assets/img/keks/1.png" alt="">
						</div>
						<div class="green">
							<img src="assets/img/keks/green.svg" alt="">
						</div>
						<div class="b-item-inf ">
							<div class="b-i-inf-title">
								<span class="b-i-inf-title-txt">Готовые утиные ножки</span>
							</div>
							<div class="b-i-inf-capt">
								<span class="b-i-inf-capt-txt">Томленые по технологии су-вид – осталось только разогреть!</span>
							</div>
						</div>
					</a>
					<a href='/msk/menu/kupi-v-andersone/157818/' class="b-item  b-i-3">
						<div class="b-img">
							<img src="assets/img/keks/3.png" alt="">
						</div>
						<div class="green">
							<img src="assets/img/keks/green.svg" alt="">
						</div>
						
						<div class="b-item-inf">
							<div class="b-i-inf-title">
								<span class="b-i-inf-title-txt">Замороженные полуфабрикаты</span>
							</div>
							<div class="b-i-inf-capt">
								<span class="b-i-inf-capt-txt">Пельмешки из индейки</span>
							</div>
						</div>
					</a>
				</div>
			
		</div>
	</section>
</div>
<div class="bottom">
	<div class="bottom-dots">

	</div>
	<div class="bottom-content">
		<div class="bottom-info">
			<div class="bottom-title">
				Лучше фисташкового рулета 
				может быть только 
				<b>фисташковый торт!</b>
			</div>
			<div class="bottom-subtitle">
				Свадьба, день рождения, выпускной
				-&nbsp;идеален по&nbsp;любому поводу
			</div>
			<div class="bottom-attention">
				<div class="bottom-attention-img">
					<img src="assets/img/keks/attention.png" alt="attention">
				</div>
				такой вкусный, <br/> что вызывает привыкание!
			</div>
			<div class="bottom-btn">
				<span class="bottom-btn-txt">Подробнее</span>
			</div>

		</div>
		<div class="bottom-cake">
			<img src="assets/img/keks/cake-bottom.png" alt="cart">
		</div>
		<footer>
			<div class="footer-new">
				<div class="footer-new-right">
					<span class="footer-new-right-txt">© АндерСон 2020</span>
				</div>
			</div>
		</footer>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts_old/app.js"></script>

    <script type="text/javascript" src="scripts/vendor/slick/slick.js"></script>
    <script type="text/javascript" src="scripts/vendor/keks.js"></script>
</body>
</html>
