.home-shipping{
    display: flex;
    position: absolute;
    z-index: 2;
    left: 32%;
    top: -2.2%;
    width: 26%;
    @media (max-width: 1026px){
        width: 34rem;
        left: auto;
        right: 40%;
        top: 26%;
        transform: rotate(-12deg);
    }
    @media (max-width: 800px){
        right: 55%;
        top: 26%;
    }
    @media (max-width: 540px){
        right: 29.5%;
        top: -6.4%;
        
    }
    @media (max-width: 370px){
        left: -29.5%;
        top: -6.4%;
        transform: rotate(-12deg);
    }
    a{
        position: static;
    }
    &__text{
        text-align: center;
        font-family: "BebasNeue";
        position: absolute;
        z-index: 3;
        top: 64.2%;
        left: 30.2%;
        transform: rotate(-12deg);
        color: #ffffff;
        @media (max-width: 1400px){
            left: 28.2%;
        }
        @media (max-width: 1200px){
            left: 24.2%;
        }
        @media (max-width: 1026px){
            display: none;
        }
    }
    &__desk{
        width: 100%;
    }
    &__rope{
        position: absolute;
        z-index: 2;
        top: 12.5%;
        left: 8.4%;
        width: 91%;
    }
    &__stamp{
        position: absolute;
        z-index: 2;
        top: 34.5%;
        left: 19.7%;
        width: 20%;
        @media (max-width: 1026px){
            top: auto;
            bottom: 24.5%;
            left: auto;
            right: 17.2%;
        }
        &-blank{
            position: absolute;
            z-index: 2;
            bottom: 24.5%;
            right: 17.2%;
            width: 20%;
            @media (max-width: 1026px){
                top: 34.5%;
                left: 19.7%;
            }
        }
    }
}

.mobile-shipping{
    &__text{
        display: none;
        @media (max-width: 1026px){
            position: absolute;
            bottom: 14%;
            right: 30%;
            text-align: center;
            z-index: 9;
            display: block;
        }
        @media (max-width: 800px){
            right: 40%;
            bottom: 14%;
        }
        @media (max-width: 540px){
            right: 8%;
            bottom: 40%;
        }
        .symbol-arrow-3 {
            transform: rotate(-180deg);
        }
    }
    &__title{
        text-align: center;
        font-family: 'BebasNeue', sans-serif;
        font-size: 6rem;
        font-weight: 300;
        line-height: .9;
        color: #231300;
        @media (max-width: 470px){
            font-size: 2.8em;
            margin-bottom: .5rem;
        }
    }
}

.home-cake__pie-1{
    left: -2%;
    @media (max-width: 1026px){
        top: 86%;
        left: 10%;
    }
    @media (max-width: 540px){
        top: 127%;
        transform: rotate(-20deg);
    }
    @media (max-width: 370px){
        top: 117%;
        left: -2%;
    }
    @media (max-width: 330px){
        left: 8%;
    }
}

.home-cafe__auto{
    left: 115%;
    top: 47%;
    width: 15%;
}

.home-banner{
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    z-index: 10;
    &.slick-initialized{
        max-height: none;
    }
    .slick-slide > div{
        display: flex;
    }
    &-item{
        display: block;
        width: 100%;
        min-height: 74px;
        &:after{
            display: none;
        }
        &__img{
            width: 100%;
            min-height: 74px;
            background-size: cover;
            background-position: 50% 50%;
            background-image: url(../assets/img/index/banner.png);
            background-repeat: no-repeat;
            box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.36);
            @media (min-width: 1920px){
                height: 0;
                padding-top: 3.85%;
            }
            &.mod-mobile{
                display: none;
                @media (max-width: 1026px){
                    display: block;
                }
            }
            &.mod-desktop{
                display: block;
                @media (max-width: 1026px){
                    display: none;
                }
            }
        }
    }
    &-big{
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10;
        max-height: 0;
        height: calc(100vh - 100% - 10rem);
        transition: all .4s ease;
        @media (max-width: 1026px){
            height: calc(var(--vh, 1vh) * 100 - 100%);
        }
        &.slick-initialized{
            max-height: none;
            @media (max-width: 1026px){
                max-height: calc(var(--vh, 1vh) * 100 - 100%);
            }
        }
        .slick-slide > div{
            display: flex;
            height: 100%;
        }
        .slick-list{
            height: 100%;
        }
        .slick-track{
            height: 100%;
        }
        .slick-arrow{
            display: flex !important;
            width: 14px;
            height: 23px;
        }
        .slick-prev, .slick-next{
            background-color: rgba(0,0,0,.0);
            background-size: cover;
            background-position: 50% 50%;
            background-image: url(../assets/img/index/banner-arrow.png);
            background-repeat: no-repeat;
        }
        .slick-next {
            border-radius: 0;
            right: calc((100vw - 1460px) / 2);
            @media screen and (max-width: 1600px){
                right: calc((100vw - 1200px) / 2);
            }
            @media screen and (max-width: 1300px){
                right: 42px;
            }
            @media (max-width: 1026px){
                right: 2.4rem;
            }
            @media (max-width: 540px){
                right: 2rem;
            }
        }
        .slick-prev {
            border-radius: 0;
            transform: translate(0, -50%) scale(-1,1);
            left: calc((100vw - 1460px) / 2);
            @media screen and (max-width: 1600px){
                left: calc((100vw - 1200px) / 2);
            }
            @media screen and (max-width: 1300px){
                left: 42px;
            }
            @media (max-width: 1026px){
                left: 2.4rem;
            }
            @media (max-width: 540px){
                left: 2rem;
            }
        }
        &-item{
            display: block;
            width: 100%;
            height: calc(100vh - 100% - 10rem);
            &:after{
                display: none;
            }
            &__img{
                width: 100%;
                min-height: calc(100vh - 100% - 10rem);
                background-size: cover;
                background-position: 50% 50%;
                background-image: url(../assets/img/index/home-banner-big.jpg);
                background-repeat: no-repeat;
                box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.36);
                @media (min-width: 1920px){
                    height: 0;
                    padding-top: 3.85%;
                }
                &.mod-mobile{
                    display: none;
                    @media (max-width: 1026px){
                        display: block;
                    }
                }
                &.mod-desktop{
                    display: block;
                    @media (max-width: 1026px){
                        display: none;
                    }
                }
            }
        }
    }
    .slick-arrow{
        display: flex !important;
        width: 14px;
        height: 23px;
    }
    .slick-prev, .slick-next{
        background-color: rgba(0,0,0,.0);
        background-size: cover;
        background-position: 50% 50%;
        background-image: url(../assets/img/index/banner-arrow.png);
        background-repeat: no-repeat;
    }
    .slick-next {
        border-radius: 0;
        right: calc((100vw - 1460px) / 2);
        @media screen and (max-width: 1600px){
            right: calc((100vw - 1200px) / 2);
        }
        @media screen and (max-width: 1300px){
            right: 42px;
        }
        @media (max-width: 1026px){
            right: 2.4rem;
        }
        @media (max-width: 540px){
            right: 2rem;
        }
    }
    .slick-prev {
        border-radius: 0;
        transform: translate(0, -50%) scale(-1,1);
        left: calc((100vw - 1460px) / 2);
        @media screen and (max-width: 1600px){
            left: calc((100vw - 1200px) / 2);
        }
        @media screen and (max-width: 1300px){
            left: 42px;
        }
        @media (max-width: 1026px){
            left: 2.4rem;
        }
        @media (max-width: 540px){
            left: 2rem;
        }
    }
}
.has-banner{
    .home-celebration {
        @media (min-width: 1027px){
            left: 28%;
            bottom: 0%;
        }
    }
    
    .home-cafe{
        @media (min-width: 1027px){
            top: 30%;
        }
    }

    .home-cake{
        @media (min-width: 1027px){
            top: 12.8%;
        }

    }
    .home-shipping {
        @media (min-width: 1027px){
            top: 3%;
        }
    }
    &.mod-banner-big{
        @media (max-width: 1026px){
            padding-top: 20rem !important;
        }
    }

}

.header-wrap-v2{
    position: relative;
    z-index: 10;
}

.footer-main{
    margin-top: -10rem !important;
    @media screen and (min-width: 1381px){
        margin-top: -8.4rem !important;
    }
    @media screen and (max-height: 920px){
        margin-top: -10rem !important;

    }
}

.header-wrap.sticky{
    .home-banner-big{
        @media (max-width: 1026px){
            max-height: 0;
        }
    }
}