
        <header class="header header-2020">
            <div class="header-2020-top">
                <div class="header-2020-top-wrap">
                    <div class="header-2020-top-left">
                        <div class="header-city">Вы в <a href="#">Александровск-Сахалинске</a></div>
                        <div class="header-2020-search">
                            <form action="" method="get" class="header-2020-search__form">
                                <input type="text" class="header-2020-search__input" placeholder="Поиск по сайту" autocomplete="off">
                                <button type="submit" value="Найти">Поиск</button>
                            </form>
                        </div>
                    </div>
                    <div class="header-2020-top-right">
                        <div class="header-2020-cabinet js-header-cabinet">
                            <svg class="c-symbol symbol-cabinet"><use xlink:href="#symbol-cabinet"></use></svg>
                            <a href="" class="header-2020-cabinet__text">Войти</a>
                        </div>
                    </div>
                
                </div>
            
            </div>
            <div class="header-2020-bottom">
                <div class="header-2020-bottom-wrap">
                    <div class="header-2020-bottom-left">
                        <a class="symbol-logo-wrap" href="">
                            <svg class="c-symbol symbol-logo"><use xlink:href="#symbol-logo"></use></svg>
                            <!-- <span class="header-logo__beta"><i class="icon-beta"></i><span>-версия</span></span> -->
                        </a>
                    </div>
                    <div class="header-2020-bottom-right">
                        <div class="header-2020-mail">
                            <div class="header-2020-mail__icon header-email">
                                <svg class="c-symbol symbol-email">
                                    <use xlink:href="include/sprites/all.svg#symbol-email"></use>
                                </svg>
                            </div>
                            <div class="header-2020-mail-info">
                                <div class="header-2020-mail__link">
                                        info@cafe-anderson.ru
                                    </div>
                                <div class="header-2020-mail__text header-email">
                                    Напишите нам
                                </div>
                            </div>
                        </div>
                        <div class="header-2020-phone">
                            <div class="header-2020-phone__icon header-phone">
                                <svg class="c-symbol symbol-phone">
                                    <use xlink:href="include/sprites/all.svg#symbol-phone"></use>
                                </svg>
                            </div>
                            <div class="header-2020-phone-info">
                                <div class="header-2020-phone__link">
                                    <div id="bxdynamic_bubble_city_phone_start" style="display:none"></div><a href="tel:+74951254907" class="comagic_phone_link">+7 (495) 125-49-07</a>
                        <div id="bxdynamic_bubble_city_phone_end" style="display:none"></div>        </div>
                                <div class="header-2020-phone__text">
                                    Единый Call-центр с 9:00 до 21:00
                                </div>
                            </div>
                        </div>
                        <div class="header-2020-basket header-basket header-basket-v2">
                            <svg class="c-symbol symbol-basket-2">
                                <use xlink:href="#symbol-basket-2"></use>
                            </svg>
                            <div class="header-basket__count">
                                <span>99</span>
                                <svg class="c-symbol symbol-basket-bubble">
                                    <use xlink:href="#symbol-basket-bubble"></use>
                                </svg>
                            </div>
                            <section class="popup-basket">
                                <h3 class="popup-basket__title">Моя корзина<span class="popup-basket__close"></span>
                                </h3>

                                <div class="header-basket header-basket-v2">
                                    <svg class="c-symbol symbol-basket-2">
                                        <use xlink:href="#symbol-basket-2"></use>
                                    </svg>
                                    <div class="header-basket__count">
                                        <span>99</span>
                                        <svg class="c-symbol symbol-basket-bubble">
                                            <use xlink:href="#symbol-basket-bubble"></use>
                                        </svg>
                                    </div>
                                </div>

                                <div class="popup-basket__top">
                                    <span class="popup-basket__all-count">14</span>товаров на сумму:
                                    <span class="popup-basket__all-sum">18 500.-</span>
                                </div>
                                <div class="popup-basket__body">
                                    <form action="#" class="popup-basket__form">
                                        <div class="l-button l-button__center">
                                            <button class="c-button c-button__default">Оформить заказ</button>
                                        </div>
                                        <div class="popup-basket__scroll">
                                            <div class="popup-basket__type">
                                                <h3 class="popup-basket__title">Наше меню</h3>
                                                <div class="popup-basket__list">
                                                    <div class="popup-basket__item">
                                                        <div class="popup-basket-card">
                                                            <div class="popup-basket-card__close"></div>
                                                            <div class="popup-basket-card__grid">
                                                                <div class="popup-basket-card__img">
                                                                    <div class="popup-basket-card__img-layout"><img src="img/basket-product-1.jpg" alt="">
                                                                    </div>
                                                                </div>
                                                                <div class="popup-basket-card__body">
                                                                    <div class="popup-basket-card__title">Омлет оченьдлинноеслововнесколькострок с вялеными томатами и
                                                                        крем-чизом
                                                                    </div>
                                                                    <ul class="popup-basket-card__list">
                                                                        <li class="popup-basket-card__item">Бекон</li>
                                                                        <li class="popup-basket-card__item">Томаты вяленые</li>
                                                                        <li class="popup-basket-card__item">Пармезан</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="popup-basket-card__footer">
                                                                <div class="popup-basket-card__price">620<span>.-</span>
                                                                </div>
                                                                <div class="c-counter">
                                                                    <button type="button" class="but c-counter__btn dec">-</button>
                                                                    <input type="text" class="c-counter__field fieldCount" value="1" data-min="1" data-max="101">
                                                                    <button type="button" class="but c-counter__btn inc">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="popup-basket__item">
                                                        <div class="popup-basket-card">
                                                            <div class="popup-basket-card__close"></div>
                                                            <div class="popup-basket-card__grid">
                                                                <div class="popup-basket-card__img">
                                                                    <div class="popup-basket-card__img-layout"><img src="img/basket-product-1.jpg" alt="">
                                                                    </div>
                                                                </div>
                                                                <div class="popup-basket-card__body">
                                                                    <div class="popup-basket-card__title">Томленая утиная ножка с
                                                                        запеченным картофелем, вешенками и тыквенными семечками
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="popup-basket-card__footer">
                                                                <div class="popup-basket-card__price">620<span>.-</span>
                                                                </div>
                                                                <div class="c-counter">
                                                                    <button type="button" class="but c-counter__btn dec">-</button>
                                                                    <input type="text" class="c-counter__field fieldCount" value="1" data-min="1" data-max="101">
                                                                    <button type="button" class="but c-counter__btn inc">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="popup-basket__type">
                                                <h3 class="popup-basket__title">Тортики на заказ</h3>
                                                <div class="popup-basket__list">
                                                    <div class="popup-basket__item">
                                                        <div class="popup-basket-card">
                                                            <div class="popup-basket-card__close"></div>
                                                            <div class="popup-basket-card__grid">
                                                                <div class="popup-basket-card__body">
                                                                    <img src="./img/icons/icon-cake.png" alt="" style="display: inline-block; margin-right: 4px;">
                                                                    <div class="popup-basket-card__title" style="display: inline-block;     width: 88%;">
                                                                        Черничный крем с шоколадным бисквитом
                                                                    </div>
                                                                    <div class="popup-basket-card__attribute">Форма:
                                                                        <span class="popup-basket-card__attribute-value">прямоугольник</span>
                                                                    </div>
                                                                    <ul class="popup-basket-card__list">
                                                                        <li class="popup-basket-card__item">Глазурь шоколадная</li>
                                                                        <li class="popup-basket-card__item">Обтяжка мастика</li>
                                                                        <li class="popup-basket-card__item">Грецкий орех</li>
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                            <div class="popup-basket-card__footer">
                                                                <div class="popup-basket-card__price">620<span>.-</span>
                                                                </div>
                                                                <div class="c-counter">
                                                                    <button type="button" class="but c-counter__btn dec">-</button>
                                                                    <input type="text" class="c-counter__field fieldCount" value="1" data-min="1" data-max="101">
                                                                    <button type="button" class="but c-counter__btn inc">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="popup-basket__type">
                                                <h3 class="popup-basket__title">Тортики на заказ</h3>
                                                <div class="popup-basket__list">
                                                    <div class="popup-basket__item">
                                                        <div class="popup-basket-card">
                                                            <div class="popup-basket-card__close"></div>
                                                            <div class="popup-basket-card__grid">
                                                                <div class="popup-basket-card__body">
                                                                    <img src="./img/icons/icon-cake.png" alt="" style="display: inline-block; margin-right: 4px;">
                                                                    <div class="popup-basket-card__title" style="display: inline-block;     width: 88%;">
                                                                        Черничный крем с шоколадным бисквитом
                                                                    </div>
                                                                    <div class="popup-basket-card__attribute">Форма:
                                                                        <span class="popup-basket-card__attribute-value">прямоугольник</span>
                                                                    </div>
                                                                    <ul class="popup-basket-card__list">
                                                                        <li class="popup-basket-card__item">Глазурь шоколадная</li>
                                                                        <li class="popup-basket-card__item">Обтяжка мастика</li>
                                                                        <li class="popup-basket-card__item">Грецкий орех</li>
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                            <div class="popup-basket-card__footer">
                                                                <div class="popup-basket-card__price">620<span>.-</span>
                                                                </div>
                                                                <div class="c-counter">
                                                                    <button type="button" class="but c-counter__btn dec">-</button>
                                                                    <input type="text" class="c-counter__field fieldCount" value="1" data-min="1" data-max="101">
                                                                    <button type="button" class="but c-counter__btn inc">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="popup-basket__type">
                                                <h3 class="popup-basket__title">Тортики на заказ</h3>
                                                <div class="popup-basket__list">
                                                    <div class="popup-basket__item">
                                                        <div class="popup-basket-card">
                                                            <div class="popup-basket-card__close"></div>
                                                            <div class="popup-basket-card__grid">
                                                                <div class="popup-basket-card__body">
                                                                    <img src="./img/icons/icon-cake.png" alt="" style="display: inline-block; margin-right: 4px;">
                                                                    <div class="popup-basket-card__title" style="display: inline-block;     width: 88%;">
                                                                        Черничный крем с шоколадным бисквитом
                                                                    </div>
                                                                    <div class="popup-basket-card__attribute">Форма:
                                                                        <span class="popup-basket-card__attribute-value">прямоугольник</span>
                                                                    </div>
                                                                    <ul class="popup-basket-card__list">
                                                                        <li class="popup-basket-card__item">Глазурь шоколадная</li>
                                                                        <li class="popup-basket-card__item">Обтяжка мастика</li>
                                                                        <li class="popup-basket-card__item">Грецкий орех</li>
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                            <div class="popup-basket-card__footer">
                                                                <div class="popup-basket-card__price">620<span>.-</span>
                                                                </div>
                                                                <div class="c-counter">
                                                                    <button type="button" class="but c-counter__btn dec">-</button>
                                                                    <input type="text" class="c-counter__field fieldCount" value="1" data-min="1" data-max="101">
                                                                    <button type="button" class="but c-counter__btn inc">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="popup-basket__footer">
                                    <a href="#">перейти в корзину</a>
                                </div>
                            </section>
                        </div>
                    </div>

                </div>
            
            </div>
            <nav class="header-2020-nav">
                <div class="header-2020-nav-wrap">
                    <ul class="header-2020-nav-list">
                        <li class="header-2020-nav-list__item active">
                            <a href="" class="header-2020-nav-list__link">Доставка готовых блюд из кафе</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">Торты</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">Праздники</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">Акции</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">Афиша</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">Новости</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">Наши кафе</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">О нас</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">Сертификаты</a>
                        </li>
                        <li class="header-2020-nav-list__item">
                            <a href="" class="header-2020-nav-list__link">Франшиза</a>
                        </li>
                    </ul>
                
                </div>
            </nav>
            <div class="header-mobile">
                <div class="header-mobile-burger js-open-mobile-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.81 432.95">
                        <path d="M39.73,57.68C174,36.69,310,59.57,444.85,46.16,479,42.76,499,.73,452.92,5.31,318,18.72,182.32-4.2,47.81,16.83,14.39,22.05-6.13,64.85,39.73,57.68Z"/><path class="a" d="M30.81,236.62c87.79,5.59,174.82-8,262.56-5.84,53.65,1.29,102.41,9.77,164.74-1.91,13.2-3.32,29.53-10.13,29.72-25.77,0-.63,0-1.27,0-1.9.18-15.13-27.95-15.86-48-7.11-48.15,8.77-101.84-3.48-150-3.09-77.44.63-154.55,11.38-232,6.45C31.21,195.76-14.34,233.74,30.81,236.62Z"/><path class="a" d="M433.83,372.37c-72,8.8-118.3,11.19-176.57,8.65-69.68-3-139.08,2.09-208-7.68-32.61-4.62-68,34.4-23.22,40.74,82.5,11.7,166.68,13.1,250.36,13.82,63.46.56,135.34-1.13,186.67-18.62C495.11,395.74,484.44,364.13,433.83,372.37Z"/>
                    </svg>
                    <span class="header-mobile-burger__text">Меню</span>
                </div>
                <div class="header-mobile-logo">
                    <a class="symbol-logo-wrap" href="">
                        <svg class="c-symbol symbol-logo"><use xlink:href="#symbol-logo"></use></svg>
                    </a>
                </div>
                <a href="tel:+74951254907" class="header-mobile-phone">
                    <svg class="c-symbol symbol-phone"><use xlink:href="#symbol-phone"></use></svg>
                </a>
                <a href="/" class="header-mobile-cart">
                    <div class="header-basket header-basket-v2">
                        <svg class="c-symbol symbol-basket-2">
                            <use xlink:href="#symbol-basket-2"></use>
                        </svg>
                        <div class="header-basket__count">
                            <span>99</span>
                            <svg class="c-symbol symbol-basket-bubble">
                                <use xlink:href="#symbol-basket-bubble"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <div class="header-mobile-menu js-mobile-menu">
                    <div class="header-mobile-menu-close js-close-mobile-menu">
                    
                    </div>
                    <div class="header-mobile-menu-search">
                        <form action="" method="get" class="header-mobile-menu-search__form">
                            <input type="text" class="header-mobile-menu-search__input" placeholder="Поиск по сайту" autocomplete="off">
                            <button type="submit" value="Найти">Поиск</button>
                        </form>
                    </div>
                    <ul class="header-mobile-menu-list">
                        <li class="header-mobile-menu-list__item active">
                            <a class="header-mobile-menu-list__link ">
                                Доставка готовых блюд из кафе
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                Торты
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                Праздники
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                Акции
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                Афиша
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                Новости
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                Наши кафе
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                О нас
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                Сертификаты
                            </a>
                        </li>
                        <li class="header-mobile-menu-list__item">
                            <a class="header-mobile-menu-list__link active">
                                Франшиза
                            </a>
                        </li>
                    </ul>
                    <a href="tel:+74951254907" class="header-2020-phone">
                        <div class="header-2020-phone__icon">
                            <svg class="c-symbol symbol-phone"><use xlink:href="#symbol-phone"></use></svg>
                        </div>
                        <div class="header-2020-phone-info">
                            <div class="header-2020-phone__link">
                                +7 (495) 125 4907
                            </div>
                            <div class="header-2020-phone__text">
                                Единый Call-центр с 9:00 до 21:00
                            </div>
                        </div>
                    </a>
                    <a href="mailto:cafe_avenu@cafe-anderson.ru" class="header-2020-mail">
                        <div class="header-2020-mail__icon">
                            <svg class="c-symbol symbol-email"><use xlink:href="#symbol-email"></use></svg>
                        </div>
                        <div class="header-2020-mail-info">
                            <div class="header-2020-mail__link">
                                cafe_avenu@cafe-anderson.ru
                            </div>
                            <div class="header-2020-mail__text">
                                Напишите нам
                            </div>

                        </div>

                    </a>
                    <a href="/" class="header-mobile-menu-btn">Заказать звонок</a>
                </div>
            </div>
        </header>