<div class="cabinet">
    <div class="order-success">
        <div class="order-success__header">
            <h1 class="order-success__title">Андреев Кирилл Владимирович! Спасибо за ваш заказ</h1>
            <div class="order-success__subtitle">
                Вы всегда можете связаться с нашими менеджерами по телефону <span>+7 (495) 125 4908</span> и уточнить интересующие вас детали
            </div>
            <div class="order-success__pay">
                <div class="c-button c-button__medium">Оплатить заказ</div>
                <div class="c-personal-data">
                    <div class="c-personal-data__item">
                        <input type="checkbox" name="reg__regulations" id="reg__regulations" checked="">
                        <label class="c-checkbox" for="reg__regulations">Я ознакомлен с <a href="#">условиями
                                возврата и оплаты заказа</a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-success__body">
            <div class="order-success__grid">
                <div class="order-success__col">
                    <div class="order-success-card">
                        <div class="order-success-card__head">
                            <div class="order-success-card__icon">
                                <i class="c-icon icon-birthday-cake"></i>

                            </div>
                            <div class="order-success-card__title">Торты</div>
                            <div class="order-success-card__number">№ web-71123</div>
                        </div>
                        <div class="order-success-card-list">
                            <div class="order-success-card-list__item">
                                <div class="order-success-card-list__title">Торт пломбир Сказочный патруль “Варя”</div>
                                <div class="order-success-card-list__grid">
                                    <div class="order-success-card-list__col">
                                        <div class="order-success-card-list__name">Цена за 1 шт.:</div>
                                        <div>3 480 <span class="c-currency-symbol rub">руб</span></div>
                                    </div>
                                    <div class="order-success-card-list__col">
                                        <div class="order-success-card-list__name">Всего в заказе: 1 шт.</div>
                                        <div>3 480 <span class="c-currency-symbol rub">руб</span></div>
                                    </div>
                                    <div class="order-success-card-list__col">
                                        <div>Торт “Сказочный патруль” с изображением (Варя)</div>
                                    </div>
                                </div>
                            </div>

                            <div class="order-success-card-list__item">
                                <div class="order-success-card-list__title">Торт пломбир Сказочный патруль “Варя”</div>
                                <div class="order-success-card-list__grid">
                                    <div class="order-success-card-list__col">
                                        <div class="order-success-card-list__name">Цена за 1 шт.:</div>
                                        <div>3 480 <span class="c-currency-symbol rub">руб</span></div>
                                    </div>
                                    <div class="order-success-card-list__col">
                                        <div class="order-success-card-list__name">Всего в заказе: 1 шт.</div>
                                        <div>3 480 <span class="c-currency-symbol rub">руб</span></div>
                                    </div>
                                    <div class="order-success-card-list__col">
                                        <div>Торт “Сказочный патруль” с изображением (Варя)</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="order-success__col">
                    <div class="order-success-info">
                        <div class="order-success-info__item">
                            <div class="order-success-info__head">
                                <div class="order-success-info__icon">
                                    <i class="c-icon icon-truck"></i>
                                </div>
                                <div class="order-success-info__title">Самовывоз:</div>
                            </div>
                            <div class="order-success-info__text">Кафе по адресу: Андерсон в Краснодаре</div>
                        </div>
                        <div class="order-success-info__item">
                            <div class="order-success-info__head">
                                <div class="order-success-info__icon">
                                    <i class="c-icon icon-credit-card"></i>
                                </div>
                                <div class="order-success-info__title">Оплата:</div>
                            </div>
                            <div class="order-success-info__text">Онлайн-оплата картой</div>
                        </div>
                        <div class="order-success-info__item">
                            <div class="order-success-info__head">
                                <div class="order-success-info__icon">
                                    <i class="c-icon icon-wallet"></i>
                                </div>
                                <div class="order-success-info__title">Итого к оплате:</div>
                            </div>
                            <div class="order-success-info__text">
                                3 480 <span class="c-currency-symbol rub">руб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

