@font-face {
  font-family: "PT Serif";
  src: url("../../fonts/PTSerif.eot");
  src: url("../../fonts/PTSerif.eot?#iefix") format("embedded-opentype"), url("../../fonts/PTSerif.woff") format("woff"), url("../../fonts/PTSerif.ttf") format("truetype"), url("../../fonts/PTSerif.svg#PT Serif") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PT Serif Caption";
  src: url("../../fonts/PTSerifCaption.eot");
  src: url("../../fonts/PTSerifCaption.eot?#iefix") format("embedded-opentype"), url("../../fonts/PTSerifCaption.woff") format("woff"), url("../../fonts/PTSerifCaption.ttf") format("truetype"), url("../../fonts/PTSerifCaption.svg#PT Serif Caption") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PT Serif Caption";
  src: url("../../fonts/PTSerifCaptionItalic.eot");
  src: url("../../fonts/PTSerifCaptionItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/PTSerifCaptionItalic.woff") format("woff"), url("../../fonts/PTSerifCaptionItalic.ttf") format("truetype"), url("../../fonts/PTSerifCaptionItalic.svg#PT Serif Caption") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "PT Serif Caption";
  src: url("../../fonts/PTSerifBold.eot");
  src: url("../../fonts/PTSerifBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/PTSerifBold.woff") format("woff"), url("../../fonts/PTSerifBold.ttf") format("truetype"), url("../../fonts/PTSerifBold.svg#PT Serif Caption") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "PT Serif Caption";
  src: url("../../fonts/PTSerifBoldItalic.eot");
  src: url("../../fonts/PTSerifBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/PTSerifBoldItalic.woff") format("woff"), url("../../fonts/PTSerifBoldItalic.ttf") format("truetype"), url("../../fonts/PTSerifBoldItalic.svg#PT Serif Caption") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "BebasNeue";
  src: url("../../fonts/BebasNeue-Bold.eot");
  src: url("../../fonts/BebasNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/BebasNeue-Bold.woff") format("woff"), url("../../fonts/BebasNeue-Bold.ttf") format("truetype"), url("../../fonts/BebasNeue-Bold.svg#BebasNeue") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue";
  src: url("../../fonts/BebasNeue-Regular.eot");
  src: url("../../fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/BebasNeue-Regular.woff") format("woff"), url("../../fonts/BebasNeue-Regular.ttf") format("truetype"), url("../../fonts/BebasNeue-Regular.svg#BebasNeue") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue";
  src: url("../../fonts/BebasNeue-Book.eot");
  src: url("../../fonts/BebasNeue-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/BebasNeue-Book.woff") format("woff"), url("../../fonts/BebasNeue-Book.ttf") format("truetype"), url("../../fonts/BebasNeue-Book.svg#BebasNeue") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue";
  src: url("../../fonts/BebasNeue-Light.eot");
  src: url("../../fonts/BebasNeue-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/BebasNeue-Light.woff") format("woff"), url("../../fonts/BebasNeue-Light.ttf") format("truetype"), url("../../fonts/BebasNeue-Light.svg#BebasNeue") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue";
  src: url("../../fonts/BebasNeue-Thin.eot");
  src: url("../../fonts/BebasNeue-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/BebasNeue-Thin.woff") format("woff"), url("../../fonts/BebasNeue-Thin.ttf") format("truetype"), url("../../fonts/BebasNeue-Thin.svg#BebasNeue") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "SummerFont";
  src: url("../../fonts/SummerFont-Light.eot");
  src: url("../../fonts/SummerFont-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/SummerFont-Light.woff") format("woff"), url("../../fonts/SummerFont-Light.ttf") format("truetype"), url("../../fonts/SummerFont-Light.svg#SummerFont") format("svg");
  font-weight: 100;
  font-style: normal; }

.top {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 2130px;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #6a6763;
  background-image: url(../../assets/img/keks/background.jpg);
  background-repeat: no-repeat;
  overflow: hidden; }
  @media screen and (max-width: 1020px) {
    .top {
      min-height: 1160px; } }
  .top-content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box; }
    @media screen and (max-width: 1020px) {
      .top-content {
        padding: 0 20px; } }
  .top-features {
    margin-top: 365px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 34px; }
    @media screen and (max-width: 1366px) {
      .top-features {
        margin-top: 480px; } }
    @media screen and (max-width: 1020px) {
      .top-features {
        margin-top: 20px;
        order: 1;
        flex-direction: column;
        position: relative;
        z-index: 3; } }
    .top-features-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%; }
      @media screen and (max-width: 1020px) {
        .top-features-item {
          flex-direction: row;
          width: 100%; } }
      .top-features-item:not(:first-child) {
        margin-left: 40px; }
        @media screen and (max-width: 1020px) {
          .top-features-item:not(:first-child) {
            margin-left: 0;
            margin-top: 20px; } }
      .top-features-item__img {
        margin-bottom: 20px; }
        @media screen and (max-width: 1020px) {
          .top-features-item__img {
            margin-bottom: 0;
            width: 44px;
            flex: 0 0 auto; } }
        .top-features-item__img img {
          display: block;
          width: 100%; }
      .top-features-item__text {
        font-family: "PT Serif Caption";
        font-size: 16px;
        line-height: 20px;
        color: #fff; }
        @media screen and (max-width: 1020px) {
          .top-features-item__text {
            margin-left: 12px;
            font-size: 13px;
            line-height: 17px; } }

.header-new {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  padding: 28px 0 23px;
  z-index: 6; }
  @media screen and (max-width: 1020px) {
    .header-new {
      flex-wrap: wrap;
      padding-top: 18px;
      padding-bottom: 0; } }

.basket {
  width: 55px;
  height: 55px;
  top: 35px;
  right: calc((100vw - 1180px)/2 - 8px);
  background: #9acc4f;
  margin-right: 0; }
  @media only screen and (max-width: 1280px) {
    .basket {
      right: 40px; } }
  @media screen and (max-width: 1020px) {
    .basket {
      top: auto;
      bottom: 20px;
      right: 12px; } }
  .basket-ic {
    width: 28px; }

.bask-num {
  top: -4px;
  right: -8px;
  background: #ffffff;
  border: 1px solid #9acc4f;
  box-sizing: border-box; }
  .bask-num-txt {
    color: #9acc4f; }

.logo {
  width: 276px; }
  @media screen and (max-width: 1020px) {
    .logo {
      width: 100%;
      max-width: 340px;
      margin-bottom: 15px; } }

.call {
  color: #9dd746; }
  @media screen and (max-width: 1020px) {
    .call {
      margin-right: 0;
      margin-left: auto; } }
  @media screen and (max-width: 1020px) {
    .call-ic {
      width: 33px; } }

.h-tel {
  font-family: "PT Serif Caption";
  font-size: 23px;
  color: #9dd746; }
  @media screen and (max-width: 1020px) {
    .h-tel {
      display: inline;
      font-size: 18px; } }

.f-scr-blk {
  width: 440px;
  position: relative;
  z-index: 5; }
  @media screen and (max-width: 1020px) {
    .f-scr-blk {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px; } }

@media screen and (max-width: 1020px) {
  .f-scr-title {
    order: 1;
    margin-bottom: 160px; } }

.f-scr-title-txt {
  color: #fff; }
  @media only screen and (max-width: 1366px) {
    .f-scr-title-txt {
      font-size: 93px;
      line-height: 69px; } }
  @media screen and (max-width: 1020px) {
    .f-scr-title-txt {
      font-size: 75px;
      line-height: 55px; } }

.f-scr-desc {
  font-family: "PT Serif Caption";
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  margin-top: -36px; }
  @media screen and (max-width: 1366px) {
    .f-scr-desc {
      margin-top: 24px; } }
  @media screen and (max-width: 1020px) {
    .f-scr-desc {
      order: 4;
      text-align: left;
      font-size: 15px;
      line-height: 20px; } }
  .f-scr-desc-txt {
    color: #fff; }
  .f-scr-desc .mod-rose {
    color: #ff2e82; }
  .f-scr-desc .mod-green {
    color: #aee55b; }

.f-scr-price {
  margin-top: 0; }
  @media screen and (max-width: 1020px) {
    .f-scr-price-blk {
      display: flex;
      flex-direction: row;
      order: 2;
      align-items: flex-end; } }

.f-scr-pr-txt {
  color: #9acc4f;
  text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 1020px) {
    .f-scr-pr-txt {
      display: block;
      font-size: 55px;
      line-height: 67px;
      height: 67px;
      text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.4); } }

.btn-basket {
  position: relative;
  background: #9acc4f;
  border: 1px solid #9acc4f;
  border-radius: 8px;
  width: 254px;
  padding: 6px 8px 6px 100px;
  height: auto;
  transition: all .15s ease; }
  @media screen and (max-width: 1020px) {
    .btn-basket {
      display: none;
      width: 120px;
      padding: 6px 8px;
      margin: 14px 0 0 23px; } }
  .btn-basket:hover {
    background: #9acc4f;
    box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.2); }
  .btn-basket:active {
    transform: scale(0.9);
    box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.2); }
  .btn-basket:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 8px;
    top: -4px;
    left: -4px;
    border: 1px solid #9acc4f;
    z-index: 1; }
    @media screen and (max-width: 1020px) {
      .btn-basket:after {
        display: none; } }
  .btn-basket-txt {
    font-family: 'SummerFont';
    text-transform: uppercase;
    font-size: 46px;
    line-height: 1;
    color: #69483e; }
    @media screen and (max-width: 1020px) {
      .btn-basket-txt {
        font-size: 36px; } }
  .btn-basket img {
    position: absolute;
    top: -16px;
    left: 16px;
    z-index: 2; }
    @media screen and (max-width: 1020px) {
      .btn-basket img {
        display: none; } }
  .btn-basket-mobile {
    cursor: pointer;
    display: none;
    position: relative;
    background: #9acc4f;
    border: 1px solid #9acc4f;
    border-radius: 8px;
    width: 120px;
    padding: 6px 8px;
    margin: 0 0 0 23px;
    height: auto;
    transition: all .15s ease; }
    @media screen and (max-width: 1020px) {
      .btn-basket-mobile {
        display: flex;
        align-items: center;
        justify-content: center; } }

.f-scr-pistachio {
  position: absolute;
  left: calc((100vw - 1180px)/2 - 217px);
  top: 332px;
  z-index: 2; }
  @media screen and (max-width: 1020px) {
    .f-scr-pistachio {
      display: none; } }

.f-scr-keks {
  position: absolute;
  right: calc((100vw - 1180px)/2 - 80px);
  top: 115px;
  z-index: 1; }
  .f-scr-keks img {
    width: 100%; }
  @media screen and (max-width: 1020px) {
    .f-scr-keks {
      right: -148px;
      top: 30px;
      width: 560px;
      z-index: 2; } }

.f-scr-leaf-1 {
  position: absolute;
  right: calc((100vw - 1180px)/2 - 720px);
  top: 1185px;
  z-index: 2;
  transition: all .15s ease; }
  @media screen and (max-width: 1020px) {
    .f-scr-leaf-1 {
      display: none; } }

.f-scr-leaf-2 {
  position: absolute;
  right: calc((100vw - 1180px)/2 - 580px);
  top: 490px;
  z-index: 1;
  transition: all .15s ease; }
  @media screen and (max-width: 1020px) {
    .f-scr-leaf-2 {
      display: none; } }

.f-scr-leaf-3 {
  position: absolute;
  left: calc((100vw - 1180px)/2 - 400px);
  top: 590px;
  z-index: 2;
  transition: all .15s ease; }
  @media screen and (max-width: 1020px) {
    .f-scr-leaf-3 {
      display: none; } }

.f-scr-berry-1 {
  position: absolute;
  left: calc((100vw - 1180px)/2 - 340px);
  top: 1185px;
  z-index: 2;
  transition: all .15s ease; }
  @media screen and (max-width: 1020px) {
    .f-scr-berry-1 {
      display: none; } }

.f-scr-berry-2 {
  position: absolute;
  left: calc((100vw - 1180px)/2 - 200px);
  top: 115px;
  z-index: 2; }
  @media screen and (max-width: 1020px) {
    .f-scr-berry-2 {
      display: none; } }

.f-scr-berry-3 {
  position: absolute;
  left: calc((100vw - 1180px)/2 + 340px);
  top: -300px;
  z-index: 2;
  transition: all .15s ease; }
  @media screen and (max-width: 1020px) {
    .f-scr-berry-3 {
      display: none; } }

.f-scr-leaf-berry {
  position: absolute;
  right: calc((100vw - 1180px)/2 - 450px);
  top: 25px;
  z-index: 2;
  transition: all .15s ease; }
  @media screen and (max-width: 1020px) {
    .f-scr-leaf-berry {
      display: none; } }

.f-scr-leaf-mobile {
  display: none;
  position: absolute;
  z-index: 3;
  transition: all .15s ease; }
  @media screen and (max-width: 1020px) {
    .f-scr-leaf-mobile {
      display: block;
      right: -268px;
      top: 250px;
      transform: rotate(200deg);
      z-index: 1; } }

.f-scr-plate-1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }
  @media screen and (max-width: 1020px) {
    .f-scr-plate-1 {
      display: none; } }

.f-scr-person {
  position: absolute;
  left: calc((100vw - 1180px)/2 - 380px);
  bottom: -6px;
  z-index: 1; }
  @media screen and (max-width: 1020px) {
    .f-scr-person {
      z-index: 3;
      width: 589px;
      left: -4px;
      bottom: 268px; } }
  @media screen and (max-width: 640px) {
    .f-scr-person {
      z-index: 3;
      width: 589px;
      left: -204px;
      bottom: 268px; } }
  .f-scr-person img {
    display: block;
    width: 100%; }

.bg-dots {
  position: relative;
  width: calc(100% + 60px);
  height: 25px;
  margin-left: -30px;
  background-size: auto;
  background-position: 0% 0%;
  background-image: url(../../assets/img/keks/bg-dots.png);
  background-repeat: repeat; }
  @media screen and (max-width: 1020px) {
    .bg-dots {
      width: 100%;
      margin: 0;
      z-index: 2; } }

.top-review {
  position: relative;
  width: 660px;
  margin: 124px 0 130px auto;
  z-index: 5; }
  @media screen and (max-width: 1020px) {
    .top-review {
      order: 2;
      margin: 0;
      width: 100%; } }
  .top-review-text {
    position: relative;
    font-family: "PT Serif";
    font-size: 19px;
    line-height: 25px;
    color: #fff; }
    @media screen and (max-width: 1020px) {
      .top-review-text {
        display: none; } }
    .top-review-text:before {
      content: '"';
      display: block;
      position: absolute;
      top: -10px;
      left: -50px;
      font-family: "PT Serif";
      font-size: 68px;
      color: #9acc4f;
      font-style: italic; }
    .top-review-text:after {
      content: '"';
      display: block;
      position: absolute;
      left: 120px;
      bottom: -40px;
      font-family: "PT Serif";
      font-size: 68px;
      color: #9acc4f;
      font-style: italic; }
    .top-review-text-mobile {
      display: none;
      position: relative;
      font-family: "PT Serif";
      font-size: 19px;
      line-height: 25px;
      color: #fff;
      margin-top: 44px;
      max-width: 356px;
      margin-left: auto; }
      .top-review-text-mobile:before {
        content: '"';
        display: block;
        position: absolute;
        top: -20px;
        left: -16px;
        font-family: "PT Serif";
        font-size: 68px;
        color: #9acc4f;
        font-style: italic; }
      .top-review-text-mobile:after {
        content: '"';
        display: block;
        position: absolute;
        left: 96px;
        bottom: -40px;
        font-family: "PT Serif";
        font-size: 68px;
        color: #9acc4f;
        font-style: italic; }
      @media screen and (max-width: 1020px) {
        .top-review-text-mobile {
          display: block; } }
  .top-review-autor {
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 26px;
    color: #9acc4f;
    text-align: right;
    margin-top: 26px;
    width: 570px;
    margin-left: auto; }
    @media screen and (max-width: 1020px) {
      .top-review-autor {
        width: 100%;
        margin-top: 150px; } }
  .top-review-button-mobile {
    display: none;
    position: relative;
    background: #9acc4f;
    border: 1px solid #9acc4f;
    border-radius: 8px;
    width: 100%;
    padding: 6px 8px;
    margin: 24px auto 20px;
    height: auto;
    transition: all .15s ease;
    cursor: pointer; }
    @media screen and (max-width: 1020px) {
      .top-review-button-mobile {
        display: flex;
        align-items: center;
        justify-content: center; } }

.middle {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #fafafa;
  overflow: hidden;
  background-image: url(../../assets/img/keks/bg-cakes.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%; }
  @media screen and (max-width: 1020px) {
    .middle {
      background-image: none; } }
  .middle-content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1228px;
    margin: 50px auto 160px;
    padding: 0 24px;
    box-sizing: border-box; }
    @media screen and (max-width: 1020px) {
      .middle-content {
        margin: 20px auto;
        padding: 0 20px; } }
  .middle-text {
    font-family: "PT Serif";
    font-size: 24px;
    line-height: 36px;
    color: #2e1a13;
    margin-bottom: 43px; }
    @media screen and (max-width: 1020px) {
      .middle-text {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 16px; } }
  .middle-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  @media screen and (max-width: 1020px) {
    .middle-video {
      width: 272px;
      margin: 0 auto; } }
  .middle-video iframe {
    width: 613px;
    height: 344px; }
    @media screen and (max-width: 1020px) {
      .middle-video iframe {
        width: 272px;
        height: 156px; } }
  .middle-desc {
    margin-left: 44px; }
    @media screen and (max-width: 1020px) {
      .middle-desc {
        display: none; } }
    .middle-desc-text {
      font-family: "BebasNeue";
      font-size: 40px;
      line-height: 50px;
      color: #c7368a;
      font-weight: bold;
      margin-bottom: 12px; }
      .middle-desc-text .mod-green {
        color: #9acc4f; }
    .middle-desc-subtext {
      font-family: "PT Serif";
      font-size: 24px;
      line-height: 31px;
      color: #303030;
      margin-bottom: 26px; }
    .middle-desc-img {
      width: 330px;
      margin: 0 auto; }
      .middle-desc-img img {
        width: 100%; }

.reviews {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #F5EDE4;
  background-image: url(../../assets/img/keks/bg-f-scr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%; }
  @media screen and (max-width: 1020px) {
    .reviews {
      display: none; } }
  .reviews-content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1228px;
    margin: 150px auto 60px;
    padding: 0 24px;
    box-sizing: border-box; }
  .reviews-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px; }
  .reviews-book {
    position: relative; }
    .reviews-book-baloon {
      position: absolute;
      top: -280px;
      left: 0px; }
      @media screen and (max-width: 1200px) {
        .reviews-book-baloon {
          top: -240px; } }
      .reviews-book-baloon-text {
        position: absolute;
        top: 0;
        left: 0;
        padding: 90px 85px 85px 120px;
        font-family: "PT Serif";
        font-size: 19px;
        line-height: 25px;
        color: #000; }
        @media screen and (max-width: 1200px) {
          .reviews-book-baloon-text {
            padding-top: 70px; } }
        .reviews-book-baloon-text:before {
          content: '"';
          display: block;
          position: absolute;
          top: 80px;
          left: 60px;
          font-family: "PT Serif";
          font-size: 68px;
          color: #000;
          font-style: italic; }
        .reviews-book-baloon-text:after {
          content: '"';
          display: block;
          position: absolute;
          left: 476px;
          bottom: 40px;
          font-family: "PT Serif";
          font-size: 68px;
          color: #000;
          font-style: italic; }
      @media screen and (max-width: 1200px) {
        .reviews-book-baloon-back {
          width: 1000px; } }
      @media screen and (max-width: 1200px) {
        .reviews-book-baloon-back img {
          display: block;
          width: 100%; } }
  .reviews-desc {
    margin-left: 34px; }
    .reviews-desc-text {
      font-family: "PT Serif";
      font-size: 24px;
      line-height: 31px;
      color: #2e1a13;
      margin-left: 24px;
      margin-bottom: 30px; }
      .reviews-desc-text .mod-sub {
        font-size: 16px;
        line-height: 21px; }
    .reviews-desc-btn {
      display: flex;
      flex-direction: row;
      width: 350px;
      cursor: pointer;
      transition: all .15s ease; }
      .reviews-desc-btn:active {
        transform: scale(0.9); }
      .reviews-desc-btn-img {
        flex: 0 0 auto;
        width: 88px; }
        .reviews-desc-btn-img img {
          width: 100%; }
      .reviews-desc-btn .btn-basket-txt {
        margin: 22px 20px 0px;
        margin-left: 20px; }
  .reviews-slider {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .reviews-slider-item-head {
      display: flex;
      flex-direction: row;
      margin-bottom: 14px; }
    .reviews-slider-item-img {
      flex: 0 0 auto;
      width: 45px;
      height: 45px;
      background-color: #dedede;
      border-radius: 50%;
      background-image: url(../../assets/img/keks/vk.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .reviews-slider-item-info {
      margin-left: 16px; }
      .reviews-slider-item-info-name {
        font-family: "PT Serif Caption";
        font-size: 20px;
        line-height: 21px;
        color: #9acc4f;
        font-style: italic;
        margin-bottom: 4px; }
      .reviews-slider-item-info-date {
        font-family: "PT Serif Caption";
        font-size: 16px;
        line-height: 21px;
        color: #979797;
        font-style: italic; }
    .reviews-slider-item-text {
      font-family: "PT Serif Caption";
      font-size: 16px;
      line-height: 26px;
      color: #69483e;
      margin-bottom: 14px; }
    .reviews-slider-link {
      display: inline-block;
      margin: 0 56.45px; }
      .reviews-slider-link a {
        font-family: "PT Serif Caption";
        font-size: 14px;
        line-height: 14px;
        color: #2e1a13;
        border-bottom: 1px solid #2e1a13; }
        .reviews-slider-link a:hover {
          border-bottom: 1px solid transparent; }

.slick-arrow {
  padding: 20px;
  cursor: pointer; }

.slick-dots {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: -56px;
  left: 0;
  width: 100%; }
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #9acc4f;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease; }
    .slick-dots li button {
      display: none; }
    .slick-dots li.slick-active {
      background: #c7368a; }

.slick-slide {
  outline: none; }

.b-title {
  margin: 0 72px; }

@media screen and (max-width: 1020px) {
  .cont {
    display: none; } }

.bottom {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #F5EDE4;
  background-image: url(../../assets/img/keks/bg-bottom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 60px;
  min-height: 740px;
  overflow: hidden; }
  @media screen and (max-width: 1020px) {
    .bottom {
      margin-top: 0; } }
  .bottom-content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1228px;
    margin: 40px auto 0px;
    padding: 0 24px;
    box-sizing: border-box; }
    @media screen and (max-width: 1020px) {
      .bottom-content {
        padding: 0 20px; } }
  .bottom-dots {
    width: 100%;
    height: 9px;
    background-size: auto;
    background-position: 0% 0%;
    background-image: url(../../assets/img/keks/bottom-dots.png);
    background-repeat: repeat;
    margin-top: 16px; }
  .bottom-info {
    width: 700px; }
    @media screen and (max-width: 1020px) {
      .bottom-info {
        position: relative;
        width: 100%; } }
  .bottom-title {
    position: relative;
    font-family: "SummerFont";
    font-size: 100px;
    line-height: 75px;
    color: #9acc4f;
    margin-bottom: 40px;
    z-index: 2; }
    @media screen and (max-width: 1020px) {
      .bottom-title {
        font-size: 45px;
        line-height: 35px;
        margin-bottom: 12px; } }
  .bottom-subtitle {
    position: relative;
    width: 450px;
    font-family: "SummerFont";
    font-size: 46px;
    line-height: 51px;
    color: #363636;
    text-align: right;
    margin-bottom: 40px;
    z-index: 2; }
    @media screen and (max-width: 1020px) {
      .bottom-subtitle {
        width: 100%;
        font-size: 35px;
        line-height: 31px;
        margin-bottom: 316px; } }
  .bottom-attention {
    position: relative;
    width: 450px;
    font-family: "PT Serif";
    font-size: 21px;
    line-height: 27px;
    color: #cf0a46;
    text-align: right;
    z-index: 2; }
    @media screen and (max-width: 1020px) {
      .bottom-attention {
        position: relative;
        z-index: 4;
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
        margin-bottom: 14px; } }
    .bottom-attention-img {
      display: inline-block;
      margin-right: 6px; }
      @media screen and (max-width: 1020px) {
        .bottom-attention-img {
          margin-right: 0;
          margin-bottom: 6px; } }
      .bottom-attention-img img {
        display: block; }
  .bottom-btn {
    position: relative;
    background: #9acc4f;
    border: 1px solid #9acc4f;
    border-radius: 8px;
    width: 160px;
    padding: 4px 8px;
    height: auto;
    cursor: pointer;
    text-align: center;
    transition: all .15s ease; }
    @media screen and (max-width: 1020px) {
      .bottom-btn {
        display: none; } }
    .bottom-btn:hover {
      background: #9acc4f;
      box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.2); }
    .bottom-btn:active {
      transform: scale(0.9);
      box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.2); }
    .bottom-btn:after {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      border-radius: 8px;
      top: -4px;
      left: -4px;
      border: 1px solid #9acc4f;
      z-index: 1; }
      @media screen and (max-width: 1020px) {
        .bottom-btn:after {
          display: none; } }
    .bottom-btn-txt {
      font-family: 'SummerFont';
      text-transform: uppercase;
      font-size: 46px;
      line-height: 1;
      color: #69483e;
      text-align: center; }
      @media screen and (max-width: 1020px) {
        .bottom-btn-txt {
          font-size: 36px; } }
  .bottom-btn-mobile {
    display: none;
    position: relative;
    background: #9acc4f;
    border: 1px solid #9acc4f;
    border-radius: 8px;
    width: 100%;
    padding: 6px 8px;
    margin: 0 auto;
    height: auto;
    cursor: pointer;
    text-align: center;
    transition: all .15s ease; }
    @media screen and (max-width: 1020px) {
      .bottom-btn-mobile {
        display: block; } }
  .bottom-cake {
    position: absolute;
    right: -155px;
    top: -40px;
    z-index: 1; }
    @media screen and (max-width: 1020px) {
      .bottom-cake {
        width: 429px;
        top: auto;
        bottom: 120px;
        left: calc(50% - 216px); } }
    .bottom-cake img {
      display: block;
      width: 100%; }

.footer-new {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  border-top: 1px solid #000;
  z-index: 5; }
  @media screen and (max-width: 1020px) {
    .footer-new {
      margin-top: 20px; } }
  .footer-new-right {
    margin-left: auto;
    padding: 16px 0; }
    .footer-new-right-txt {
      font-family: "PT Serif";
      font-size: 18px;
      line-height: 27px;
      color: #69483e; }

.mobile-back-decor {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../../assets/img/keks/back-decor-mobile.png); }
  @media screen and (max-width: 1020px) {
    .mobile-back-decor {
      display: block;
      z-index: 3; } }

@media screen and (max-width: 1020px) {
  .mod-autor-mobile {
    font-size: 25px;
    line-height: 32px;
    width: 50%;
    margin-left: auto; } }

.mod-line-mobile {
  display: none; }
  @media screen and (max-width: 1020px) {
    .mod-line-mobile {
      display: flex;
      width: 1px;
      height: 115px;
      background: #9acc4f;
      margin: 16px 40px 22px auto; } }

@media screen and (max-width: 1020px) {
  .mod-info-mobile {
    margin: 0 0 0 auto;
    height: 156px; } }

.full-review {
  display: none; }
  @media screen and (max-width: 1020px) {
    .full-review {
      display: block;
      position: fixed;
      width: 100%;
      min-height: 100vh;
      height: 100vh;
      overflow: auto;
      background-size: cover;
      background-position: 50% 0%;
      background-color: #6a6763;
      background-image: url(../../assets/img/keks/background.jpg);
      background-repeat: no-repeat;
      z-index: 50;
      transition: all .2 ease; } }
  .full-review.hidden {
    display: none; }
  .full-review:after {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 3; }
  .full-review-person {
    position: fixed;
    width: 589px;
    bottom: 0;
    left: -212px;
    z-index: 2; }
    .full-review-person img {
      display: block;
      width: 100%; }
  .full-review-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 18px 40px;
    z-index: 4; }
  .full-review-text {
    position: relative;
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 30px; }
    .full-review-text:before {
      content: '"';
      display: block;
      position: absolute;
      top: -10px;
      left: -13px;
      font-family: "PT Serif";
      font-size: 68px;
      color: #9acc4f;
      font-style: italic; }
    .full-review-text:after {
      content: '"';
      display: block;
      position: absolute;
      left: 90px;
      bottom: -40px;
      font-family: "PT Serif";
      font-size: 68px;
      color: #9acc4f;
      font-style: italic; }
  .full-review-autor {
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 26px;
    color: #9acc4f;
    text-align: right; }

.full-order {
  display: none; }
  @media screen and (max-width: 1020px) {
    .full-order {
      display: block;
      position: fixed;
      width: 100%;
      min-height: 100vh;
      height: 100vh;
      overflow: auto;
      background-size: cover;
      background-position: 50% 50%;
      background-color: #6a6763;
      background-image: url(../../assets/img/keks/order-mobile-back.jpg);
      background-repeat: no-repeat;
      z-index: 50;
      transition: all .2 ease; } }
  .full-order.hidden {
    display: none; }
  .full-order-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 42px 16px 52px;
    height: 100%; }
  .full-order-title {
    font-family: "SummerFont";
    font-size: 62px;
    line-height: 55px;
    color: #9acc4f;
    text-align: center;
    margin-bottom: 30px; }
  .full-order-price {
    font-size: 55px;
    line-height: 55px;
    font-family: 'LeOsler_Rough-Regular';
    color: #9acc4f;
    letter-spacing: -0.02em;
    text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px; }
  .full-order-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
  .full-order-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    color: #69483e;
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-family: "SummerFont";
    font-size: 42px;
    line-height: 36px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    transition: all .2s ease; }
    .full-order-btn:active {
      transform: scale(0.9);
      box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.2); }
  .full-order-counter {
    font-family: "SummerFont";
    font-size: 62px;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    vertical-align: middle;
    margin: 0 30px;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent; }
  .full-order-text {
    font-family: "PT Serif Caption";
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin-bottom: 44px; }
  .full-order-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #9acc4f;
    border: 1px solid #9acc4f;
    border-radius: 8px;
    width: 214px;
    padding: 6px 8px;
    height: auto;
    margin: auto;
    transition: all .15s ease;
    cursor: pointer; }
    .full-order-submit:active {
      transform: scale(0.9);
      box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.2); }

.mobile-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5; }

.mod-autor-name {
  font-family: "PT Serif";
  font-size: 25px;
  line-height: 32px;
  color: #9acc4f;
  text-align: right;
  margin-bottom: 12px; }
