<div class="animations-online-flying-nav hidden">
    <div class="animations-online-flying-nav-wrap">
        <div class="animations-online-flying-nav-logo">
            <a href="/">
                <img src="assets/img/animations-online/logo-mini.png" alt="logo-mini">
            </a>
            <a href="tel:+74951254907">+7 (495) 125-49-07</a>
        </div>
        <ul class="animations-online-flying-nav-list">
            <li class="animations-online-flying-nav-list__item">
                <a class="js-animations-link" href="#rules">Общие правила</a>
            </li>
            <li class="animations-online-flying-nav-list__item">
                <a class="mod-blue js-animations-link" href="#pr-1">Кот По</a>
            </li>
            <li class="animations-online-flying-nav-list__item">
                <a class="mod-brown js-animations-link" href="#pr-2">Путешествие зайки</a>
            </li>
            <li class="animations-online-flying-nav-list__item">
                <a class="mod-pink js-animations-link" href="#pr-3">Fairy Tale</a>
            </li>
            <li class="animations-online-flying-nav-list__item">
                <a class="mod-yellow js-animations-link" href="#pr-4">Monstro Lab</a>
            </li>
            <li class="animations-online-flying-nav-list__item">
                <a class="mod-gray js-animations-link" href="#pr-5">Мафия</a>
            </li>
            <li class="animations-online-flying-nav-list__map">
                <a class="js-animations-link" href="#map">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 512 512" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M256,0C153.755,0,70.573,83.182,70.573,185.426c0,126.888,165.939,313.167,173.004,321.035
                                c6.636,7.391,18.222,7.378,24.846,0c7.065-7.868,173.004-194.147,173.004-321.035C441.425,83.182,358.244,0,256,0z M256,469.729
                                c-55.847-66.338-152.035-197.217-152.035-284.301c0-83.834,68.202-152.036,152.035-152.036s152.035,68.202,152.035,152.035
                                C408.034,272.515,311.861,403.37,256,469.729z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M256,92.134c-51.442,0-93.292,41.851-93.292,93.293s41.851,93.293,93.292,93.293s93.291-41.851,93.291-93.293
                                S307.441,92.134,256,92.134z M256,245.328c-33.03,0-59.9-26.871-59.9-59.901s26.871-59.901,59.9-59.901s59.9,26.871,59.9,59.901
                                S289.029,245.328,256,245.328z"/>
                        </g>
                    </g>
                    </svg>
                    <span>Где мы</span>
                </a>
            </li>
        </ul>
        <div class="animations-online-flying-nav-burger js-menu-burger">
            <svg 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="39px" height="27px">
            <path fill-rule="evenodd"  fill="rgb(152, 194, 47)"
            d="M36.359,15.875 L2.922,15.875 C1.463,15.875 0.281,14.693 0.281,13.234 C0.281,11.776 1.463,10.594 2.922,10.594 L36.359,10.594 C37.818,10.594 39.000,11.776 39.000,13.234 C39.000,14.693 37.818,15.875 36.359,15.875 ZM36.359,5.281 L2.922,5.281 C1.463,5.281 0.281,4.099 0.281,2.641 C0.281,1.182 1.463,-0.000 2.922,-0.000 L36.359,-0.000 C37.818,-0.000 39.000,1.182 39.000,2.641 C39.000,4.099 37.818,5.281 36.359,5.281 ZM2.922,21.156 L36.359,21.156 C37.818,21.156 39.000,22.338 39.000,23.797 C39.000,25.255 37.818,26.437 36.359,26.437 L2.922,26.437 C1.463,26.437 0.281,25.255 0.281,23.797 C0.281,22.338 1.463,21.156 2.922,21.156 Z"/>
            </svg>
        </div>
    </div>
</div>
<div class="animations-online-flying-nav-mobile js-mobile-menu hidden">
    <div class="animations-online-flying-nav-mobile-wrap">
        <div class="animations-online-flying-nav-mobile-top">
            <div class="animations-online-flying-nav-mobile-top-left">
                <p>Единый номер телефона:</p>
                <a href="tel:+74951254907">+7 (495) 125-49-07</a>
            </div>
            <div class="animations-online-flying-nav-mobile-top-right">
                <div class="animations-online-flying-nav-mobile__close js-menu-close">
                    <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="30px" height="30px">
                    <path fill-rule="evenodd"  fill="rgb(152, 194, 47)"
                    d="M18.375,14.797 L28.330,24.751 C29.361,25.783 29.361,27.455 28.330,28.486 C27.299,29.517 25.627,29.517 24.595,28.486 L14.641,18.531 L4.686,28.486 C3.655,29.517 1.983,29.517 0.951,28.486 C-0.080,27.455 -0.080,25.783 0.951,24.752 L10.906,14.797 L0.951,4.842 C-0.080,3.811 -0.080,2.139 0.951,1.108 C1.983,0.076 3.655,0.076 4.686,1.108 L14.641,11.062 L24.595,1.108 C25.627,0.076 27.299,0.076 28.330,1.108 C29.361,2.139 29.361,3.811 28.330,4.842 L18.375,14.797 Z"/>
                    </svg>
                </div>
            </div>
        </div>
        <nav class="animations-online-flying-nav-mobile-menu">
            <ul class="animations-online-flying-nav-mobile-menu-list">
                <li class="animations-online-flying-nav-mobile-menu-list__item"><a class="js-animations-link js-menu-close" href="#rules">ОБЩИЕ ПРАВИЛА</a></li>
                <li class="animations-online-flying-nav-mobile-menu-list__item">
                    <a class="js-animations-link js-menu-close" href="#pr-1">Праздничные программы</a>
                    <ul class="animations-online-flying-nav-mobile-menu-list-programs">
                        <li class="animations-online-flying-nav-mobile-menu-list-programs__item"><a class="js-animations-link js-menu-close" href="#pr-1" style="color: #8dded9;">Кот По</a></li>
                        <li class="animations-online-flying-nav-mobile-menu-list-programs__item"><a class="js-animations-link js-menu-close" href="#pr-2" style="color: #dac8a2;">Путешествие зайки</a></li>
                        <li class="animations-online-flying-nav-mobile-menu-list-programs__item"><a class="js-animations-link js-menu-close" href="#pr-3" style="color: #de78a9;">Fairy tale</a></li>
                        <li class="animations-online-flying-nav-mobile-menu-list-programs__item"><a class="js-animations-link js-menu-close" href="#pr-4" style="color: #cfcf67;">Monstro lab</a></li>
                        <li class="animations-online-flying-nav-mobile-menu-list-programs__item"><a class="js-animations-link js-menu-close" href="#pr-5" style="color: #d6d6d6;">Мафия</a></li>
                    </ul>
                </li>
                <li class="animations-online-flying-nav-mobile-menu-list__item"><a class="js-animations-link js-menu-close" href="#map">Контакты</a></li>
            </ul>
        </nav>
        <div class="animations-online-flying-nav-mobile-logo">
            <a href="/">
                <img src="assets/img/animations-online/logo.png" alt="logo">
            </a>
        </div>
    </div>
</div>