<div class="mfp-wrap popup-product-card" tabindex="-1" style="overflow-x: hidden; overflow-y: auto;">
    <div class="mfp-container mfp-inline-holder">
        <div class="mfp-content">
            <div class="mfp-content-bg"></div>
            <div class="popup-layout">
                <div class="popup">
                    <div class="popup-close popup-close-2020"></div>
                    <div class="popup-body">
                        <div class="popup-product-card-content">
                            <div class="popup-product-card-item">
                                <div class="popup-product-card-item-top">
                                    <div class="popup-product-card-item-top-layout">
                                        <div class="popup-product-card-item__img" style="background-image: url(asset/img/popup-item.png);">
                                            
                                        </div>
                                        <div class="popup-product-card-item-info">
                                            <div class="popup-product-card-item-info-top">
                                                <div class="popup-product-card-item__name">
                                                    Щечки телячьи в соусе, Су-вид
                                                </div>
                                                <div class="popup-product-card-item__price">
                                                    399
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                            <div class="popup-product-card-item-info-bottom">
                                                <div class="popup-product-card-item__desc">
                                                    Состав: говяжьи щечки,вино красное,апельсиновый нектар,
                                                    томатная паста,лук репчатый,морковь,сельдерей,чернослив,
                                                    шампиньоны,демиглас,сахар,соус соевый,имбирь,розмарин,
                                                    тимьян,масло растительное,чеснок,перец черный,соль,
                                                    лавровый лист.
                                                </div>
                                                <div class="popup-product-card-item-counter">
                                                    <span class="popup-product-card-item-counter__text">Количество: </span>
                                                    <div class="c-card-catalog__count not-flex-margin">
                                                        <div class="c-counter">
                                                            <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                            </button>
                                                            <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017" readonly>
                                                            <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="popup-product-card-item-buttons">
                                                    <a href="#" class="popup-product-card-item__btn">
                                                        В корзину
                                                    </a>
                                                    <a id="pie-order__one-2020-click" href="#" class="popup-product-card-item__btn  mod-white">
                                                        Купить в 1 клик
                                                    </a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="popup-product-card-item-bottom">
                                    <div class="popup-product-card-item-form">
                                        <div class="popup-product-card-item-form__col">
                                            <div class="popup-product-card-item-form__title-main">
                                                Ваши данные
                                            </div>
                                            <ul class="popup-product-card-item-form__list">
                                                <li class="popup-product-card-item-form__item">
                                                    <input type="text" name="popup-product-card-item-form__name" class="c-input" placeholder="Ваше имя:">
                                                </li>
                                                <li class="popup-product-card-item-form__item">
                                                    <input type="text" name="popup-product-card-item-form__email" class="c-input" placeholder="Email:">
                                                </li>
                                                <li class="popup-product-card-item-form__item">
                                                    <input type="text" name="popup-product-card-item-form__phone" class="c-input" placeholder="Телефон:">
                                                </li>
                                            </ul>
                                            <div class="popup-product-card-item-form__title">
                                                Способ получения
                                            </div>
                                            <div class="popup-product-card-item-form-check">
                                                <div class="popup-product-card-item-form-check__item">
                                                    <input class="" type="radio" id="popup-product-card-item-delivery-self" name="popup-product-card-item-delivery" checked="">
                                                    <label class="order-radio" for="popup-product-card-item-delivery-self">Самовывоз</label>
                                                </div>
                                                <div class="popup-product-card-item-form-check__item">
                                                    <input class="" type="radio" id="popup-product-card-item-delivery" name="popup-product-card-item-delivery">
                                                    <label class="order-radio" for="popup-product-card-item-delivery">Доставка на дом</label>
                                                </div>
                                            </div>
                                            <div class="popup-product-card-item-form__title mod-big">
                                                Оплата
                                            </div>
                                            <div class="popup-product-card-item-form-check">
                                                <div class="popup-product-card-item-form-check__item">
                                                    <input class="" type="radio" id="popup-product-card-item-payment" name="popup-product-card-item-payment" checked="">
                                                    <label class="order-radio" for="popup-product-card-item-payment">Онлайн оплата картой</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup-product-card-item-form__col">
                                            <div class="popup-product-card-item-form__title">
                                                Адрес доставки
                                            </div>
                                            <ul class="popup-product-card-item-form__list">
                                                <li class="popup-product-card-item-form__item">
                                                    <div class="datepicker-layout">
                                                        <input type="text" class="c-input datepicker-here form-control" placeholder="Выберите дату" readonly="readonly">
                                                        <svg class="c-symbol symbol-calendar-3"><use xlink:href="#symbol-calendar-3"></use></svg>
                                                    </div>
                                                </li>
                                                <li class="popup-product-card-item-form__item">
                                                    <input type="text" name="popup-product-card-item-form__city" class="c-input" placeholder="Введите Ваш город:">
                                                </li>

                                                <li class="popup-product-card-item-form__item">
                                                    <input type="text" name="popup-product-card-item-form__street" class="c-input" placeholder="Улица:">
                                                </li>
                                                <li class="popup-product-card-item-form__item mod-grid">
                                                    <ul class="popup-product-card-item-form-grid">
                                                        <li class="popup-product-card-item-form-grid__item">
                                                            <input type="text" name="popup-product-card-item-form__house" class="c-input" placeholder="Дом:">
                                                        </li>
                                                        <li class="popup-product-card-item-form-grid__item">
                                                            <input type="text" name="popup-product-card-item-form__house" class="c-input" placeholder="Строение:">
                                                        </li>
                                                        <li class="popup-product-card-item-form-grid__item">
                                                            <input type="text" name="popup-product-card-item-form__house" class="c-input" placeholder="Корпус:">
                                                        </li>
                                                        <li class="popup-product-card-item-form-grid__item">
                                                            <input type="text" name="popup-product-card-item-form__house" class="c-input" placeholder="Квартира:">
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="popup-product-card-item-form__item">
                                                    <textarea class="c-input" name="order-delivery-custom__note" id="order-delivery-custom__note" rows="4" placeholder="Комментарий к заказу"></textarea>
                                                </li>
                                            </ul>
                                            <div class="popup-product-card-item-form__code">
                                                <input type="text" name="popup-product-card-item-form__code" class="c-input" placeholder="Введите промокод:">
                                                <button class="c-button c-button__medium">Ввести</button>
                                            </div>
                                            <div class="popup-product-card-item-form-total">
                                                Итого к оплате:
                                                <span class="popup-product-card-item-form-total__num">
                                                    1 938
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </span>
                                            </div>
                                            <div class="popup-product-card-item-form-btn__layout">
                                                <a href="#" class="popup-product-card-item__btn">Оформить заказ</a>
                                            </div>
                                        </div>
                                    
                                    </div>
                                
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>