<div class="mfp-wrap popup-product-card-cake" tabindex="-1" style="overflow-x: hidden; overflow-y: auto;">
    <div class="mfp-container mfp-inline-holder">
        <div class="mfp-content">
            <div class="mfp-content-bg"></div>
            <div class="popup-layout">
                <div class="popup">
                    <div class="popup-close popup-close-2020"></div>
                    <div class="popup-body">
                        <div class="popup-product-card-content">
                            <div class="popup-product-card-item">
                                <div class="popup-product-card-item-top">
                                    <div class="popup-product-card-item-top-layout">
                                        <div class="popup-product-card-item__img" style="background-image: url(asset/img/popup-item-cake.png);">
                                            
                                        </div>
                                        <div class="popup-product-card-item-info">
                                            <div class="popup-product-card-item-info-top">
                                                <div class="popup-product-card-item__name">
                                                    Ми-ми-мишный торт с изображением
                                                </div>
                                                <div class="popup-product-card-item__price">
                                                    399
                                                    <span class="c-currency-symbol rub">руб</span>
                                                </div>
                                            </div>
                                            <div class="popup-product-card-item-info-bottom">
                                                <div class="popup-product-card-item__desc">
                                                    Состав: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, reiciendis! Ipsum possimus perspiciatis optio molestias enim tempore deleniti? Repellat officiis, reiciendis beatae fugiat voluptatum accusamus deleniti voluptatibus quas dolor. Ipsa.
                                                </div>
                                                <div class="popup-product-card-item-color">
                                                    <p class="popup-product-card-item-color__text">Цвет: </p>
                                                    <div class="SumoSelect popup-product-card-item-form-select" tabindex="0">
                                                        <select name="popup-product-card-item-select" class="c-select SumoUnder" tabindex="-1" placeholder="Выберите цвет торта">
                                                            <option value="Выберите цвет торта">Выберите цвет торта</option>
                                                            <option value="Белый">Белый</option>
                                                            <option value="Красный">Красный</option>
                                                            <option value="Зелёный">Зелёный</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="popup-product-card-item-counter">
                                                    <span class="popup-product-card-item-counter__text">Количество: </span>
                                                    <div class="c-card-catalog__count not-flex-margin">
                                                        <div class="c-counter">
                                                            <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                            </button>
                                                            <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017" readonly>
                                                            <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="c-card-catalog__basket not-flex-margin">
                                                        <i class="icon-shopping-cart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="popup-product-card-item-slider js-cake-slider">
                                    <div class="popup-product-card-item-slider-item">
                                        <div class="popup-product-card-item-slider-item__img" style="background-image: url('asset/img/slider-cake-item-1.png');">
                                            
                                        </div>
                                        <div class="popup-product-card-item-slider-item-bottom">
                                            <div class="popup-product-card-item-slider-item__price">
                                                399
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="c-card-catalog__count not-flex-margin">
                                                <div class="c-counter">
                                                    <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                    </button>
                                                    <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017">
                                                    <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                    </button>
                                                </div>
                                            </div>
                                            <a href="#" class="popup-product-card-item-slider-item__basket not-flex-margin">
                                                <i class="icon-shopping-cart"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="popup-product-card-item-slider-item">
                                        <div class="popup-product-card-item-slider-item__img" style="background-image: url('asset/img/slider-cake-item-2.png');">
                                            
                                        </div>
                                        <div class="popup-product-card-item-slider-item-bottom">
                                            <div class="popup-product-card-item-slider-item__price">
                                                399
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="c-card-catalog__count not-flex-margin">
                                                <div class="c-counter">
                                                    <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                    </button>
                                                    <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017">
                                                    <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                    </button>
                                                </div>
                                            </div>
                                            <a href="#" class="popup-product-card-item-slider-item__basket not-flex-margin">
                                                <i class="icon-shopping-cart"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="popup-product-card-item-slider-item">
                                        <div class="popup-product-card-item-slider-item__img" style="background-image: url('asset/img/slider-cake-item-3.png');">
                                            
                                        </div>
                                        <div class="popup-product-card-item-slider-item-bottom">
                                            <div class="popup-product-card-item-slider-item__price">
                                                399
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="c-card-catalog__count not-flex-margin">
                                                <div class="c-counter">
                                                    <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                    </button>
                                                    <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017">
                                                    <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                    </button>
                                                </div>
                                            </div>
                                            <a href="#" class="popup-product-card-item-slider-item__basket not-flex-margin">
                                                <i class="icon-shopping-cart"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="popup-product-card-item-slider-item">
                                        <div class="popup-product-card-item-slider-item__img" style="background-image: url('asset/img/slider-cake-item-4.png');">
                                            
                                        </div>
                                        <div class="popup-product-card-item-slider-item-bottom">
                                            <div class="popup-product-card-item-slider-item__price">
                                                399
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="c-card-catalog__count not-flex-margin">
                                                <div class="c-counter">
                                                    <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                    </button>
                                                    <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017">
                                                    <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                    </button>
                                                </div>
                                            </div>
                                            <a href="#" class="popup-product-card-item-slider-item__basket not-flex-margin">
                                                <i class="icon-shopping-cart"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="popup-product-card-item-slider-item">
                                        <div class="popup-product-card-item-slider-item__img" style="background-image: url('asset/img/slider-cake-item-5.png');">
                                            
                                        </div>
                                        <div class="popup-product-card-item-slider-item-bottom">
                                            <div class="popup-product-card-item-slider-item__price">
                                                399
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="c-card-catalog__count not-flex-margin">
                                                <div class="c-counter">
                                                    <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                    </button>
                                                    <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017">
                                                    <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                    </button>
                                                </div>
                                            </div>
                                            <a href="#" class="popup-product-card-item-slider-item__basket not-flex-margin">
                                                <i class="icon-shopping-cart"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="popup-product-card-item-slider-item">
                                        <div class="popup-product-card-item-slider-item__img" style="background-image: url('asset/img/slider-cake-item-1.png');">
                                            
                                        </div>
                                        <div class="popup-product-card-item-slider-item-bottom">
                                            <div class="popup-product-card-item-slider-item__price">
                                                399
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="c-card-catalog__count not-flex-margin">
                                                <div class="c-counter">
                                                    <button type="button" class="but c-counter__btn dec product-item-amount-field-btn-disabled" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_down">-
                                                    </button>
                                                    <input type="text" class="c-counter__field fieldCount fieldCount__catalog" value="0" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quantity" data-item-id="158017">
                                                    <button type="button" class="but c-counter__btn inc" id="bx_3966226736_158017_e7e5a53fd4b76e4dce4f311b34c340d4_quant_up">+
                                                    </button>
                                                </div>
                                            </div>
                                            <a href="#" class="popup-product-card-item-slider-item__basket not-flex-margin">
                                                <i class="icon-shopping-cart"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <div class="popup-product-card-item-bottom">
                                    <div class="popup-product-card-item-bottom__title">Проверьте ваш заказ</div>
                                    <ul class="popup-product-card-item-bottom-list">
                                        <li class="popup-product-card-item-bottom-list-item">
                                            <div class="popup-product-card-item-bottom-list-item__img" style="background-image: url('asset/img/cake-list-item.png');">
                                            
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__name">
                                                Ми-ми-мишный торт с изображением
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__count">
                                                1 шт.
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__color">
                                                Белый
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__price">
                                                2 900
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__delete">
                                                <a href="#" class="c-button c-button__medium">
                                                    <i class="icon-delete-basket"></i>
                                                </a>
                                            </div>
                                        
                                        </li>
                                        <li class="popup-product-card-item-bottom-list-item">
                                            <div class="popup-product-card-item-bottom-list-item__img" style="background-image: url('asset/img/cake-list-item.png');">
                                            
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__name">
                                                Ми-ми-мишный торт с изображением
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__count">
                                                1 шт.
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__color">
                                                Белый
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__price">
                                                2 900
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__delete">
                                                <a href="#" class="c-button c-button__medium">
                                                    <i class="icon-delete-basket"></i>
                                                </a>
                                            </div>
                                        
                                        </li>
                                        <li class="popup-product-card-item-bottom-list-item">
                                            <div class="popup-product-card-item-bottom-list-item__img" style="background-image: url('asset/img/cake-list-item.png');">
                                            
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__name">
                                                Ми-ми-мишный торт с изображением
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__count">
                                                1 шт.
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__color">
                                                Белый
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__price">
                                                2 900
                                                <span class="c-currency-symbol rub">руб</span>
                                            </div>
                                            <div class="popup-product-card-item-bottom-list-item__delete">
                                                <a href="#" class="c-button c-button__medium">
                                                    <i class="icon-delete-basket"></i>
                                                </a>
                                            </div>
                                        
                                        </li>
                                    </ul>
                                    <div class="popup-product-card-item-bottom-right">
                                        <div class="popup-product-card-item-form-total">
                                            Итого к оплате:
                                            <span class="popup-product-card-item-form-total__num">
                                                1 938
                                                <span class="c-currency-symbol rub">руб</span>
                                            </span>
                                        </div>
                                        <div class="popup-product-card-item-buttons mod-cakes">
                                            <a href="#" class="popup-product-card-item__btn">
                                                В корзину
                                            </a>
                                            <a id="pie-order__one-2020-click" href="#" class="popup-product-card-item__btn mod-white">
                                                Купить в 1 клик
                                            </a>
                                        </div>
                                    </div>
                                    <div class="popup-product-card-item-bottom__subtext">
                                        Самовывоз из кафе Москвы и МО бесплатный. Доставка до двери является платной и осуществляется на расстояние не
                                        дальше 40 км от МКАД.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>