.popup-product-card, .popup-product-card-cake{
    .popup{
        max-width: 1000px;
        width: 1000px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
        box-shadow: 0px 5px 9.2px 0.8px rgba(0, 0, 0, 0.1);
        @media screen and (max-width: 1040px){
            max-width: 700px;
            width: 700px;
        }
    }
    .mfp-content-bg{
        position: absolute;
        height: 100%;
        width: 100vw;
        left: calc((100% - 100vw) / 2);
        right: auto;
    }

    .popup-body{
        padding: 5rem;
    }
    &-content{
        @media screen and (max-width: 1040px){
            padding-bottom: 3rem;
        }
    }
    &-item{
        &-top{
            padding-bottom: 20px;
            border-bottom: 1px solid #9b9595;
            @media screen and (max-width: 1040px){
                padding-bottom: 5px;
            }
            &-layout{
                display: flex;
                flex-direction: row;
                @media screen and (max-width: 1040px){
                    flex-direction: column;
                }
            }
        }
        &-bottom{
            padding-top: 16px;
            @media screen and (max-width: 1040px){
                padding-top: 14px;
            }
            &-right{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @media screen and (max-width: 1040px){
                    align-items: center;
                }
            }
            &__title{
                font-size: 18px;
                padding: 10px 0 16px;
                font-family: "PT Serif Caption", sans-serif;
                color: #191919;
                line-height: 22px;
                text-align: center;
                @media screen and (max-width: 1040px){
                    font-size: 16px;
                    padding: 0 0 16px;
                }
            }
            &__subtext{
                font-size: 14px;
                font-family: "PT Serif Caption", sans-serif;
                color: #b5b5b5;
                line-height: 20px;
                margin-top: 14px;
                @media screen and (max-width: 1040px){
                    margin-top: 4px;
                }
            }
            &-list{
                border-bottom: 1px solid #9b9595;
                margin-bottom: 24px;
                @media screen and (max-width: 1040px){
                    overflow-y: auto;
                    margin-bottom: 20px;
                }
                &-item{
                    display: flex;
                    margin-bottom: 20px;
                    align-items: center;
                    @media screen and (max-width: 1040px){
                        margin-bottom: 14px;
                    }
                    &__img{
                        flex: 0 0 auto;
                        width: 160px;
                        height: 106px;
                        background: none 50% 50% no-repeat;
                        background-size: cover;
                        @media screen and (max-width: 1040px){
                            width: 130px;
                            height: 85px;
                        }
                    }
                    &__name{
                        flex: 1 1 auto;
                        font-size: 14px;
                        font-family: "PT Serif Caption", sans-serif;
                        color: #191919;
                        line-height: 22px;
                        padding: 15px;
                        width: 100%;
                        min-width: 160px;
                        @media screen and (max-width: 1040px){
                            padding: 10px;
                        }

                    }
                    &__count{
                        flex: 0 0 auto;
                        font-size: 14px;
                        font-family: "PT Serif Caption", sans-serif;
                        color: #191919;
                        line-height: 22px;
                        width: 130px;
                        text-align: center;
                        @media screen and (max-width: 1040px){
                            width: 100px;
                        }

                    }
                    &__color{
                        flex: 0 0 auto;
                        font-size: 14px;
                        font-family: "PT Serif Caption", sans-serif;
                        color: #191919;
                        line-height: 22px;
                        width: 140px;
                        text-align: center;
                        @media screen and (max-width: 1040px){
                            width: 110px;
                        }

                    }
                    &__price{
                        flex: 0 0 auto;
                        font-size: 22px;
                        font-family: 'BebasNeue', sans-serif;
                        font-weight: 500;
                        color: #553023;
                        line-height: 1;
                        width: 150px;
                        text-align: center;
                        @media screen and (max-width: 1040px){
                            width: 100px;
                        }

                    }
                    &__delete{
                        flex: 0 0 auto;
                        padding-left: 50px;
                        @media screen and (max-width: 1040px){
                            padding-left: 20px;
                        }
                        .c-button {
                            padding: 11px 13px;
                            width: 40px;
                        }
                    }
                }
            }
        }
        &-info{
            flex: 1 1 auto;
            width: 100%;
            &-top{
                padding-bottom: 12px;
                margin-bottom: 12px;
                border-bottom: 1px solid #9b9595;
                @media screen and (max-width: 1040px){
                    padding-bottom: 12px;
                    margin-bottom: 8px;
                }
            }
            &-bottom{
                @media screen and (max-width: 1040px){
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    flex: 0 0 auto;
                }

            }
            .c-card-catalog__basket{
                border-radius: .6rem;
                @media screen and (max-width: 1040px){
                    padding: .4rem .6rem .5rem;
                    border-radius: .4rem;
                }
                @media screen and (max-width: 720px){
                    margin-left: auto;
                }
                .icon-shopping-cart {
                    @media screen and (max-width: 1040px){
                        width: 1.7rem;
                        height: 1.8rem;
                    }
                }
            }
            .c-card-catalog__count.not-flex-margin{
                
                @media screen and (max-width: 769px){
                    margin-right: 10px;
                }
            }
        }
        &-color{
            width: 60%;
            margin-bottom: 18px;
            @media screen and (max-width: 1040px){
                width: 100%;
            }
            &__text{
                font-size: 16px;
                font-family: "PT Serif Caption", sans-serif;
                font-weight: normal;
                color: #191919;
                line-height: 22px;
                margin-bottom: 10px;
                @media screen and (max-width: 1040px){
                    font-size: 14px;
                    margin-bottom: 6px;
                }
            }
            .SumoSelect{
                width: 100%;
                &:hover>.CaptionCont{
                    border-color: #d0d3dc;
                    box-shadow: 0 0 10px 0 #9acc4e;
                }
            }
            .SumoSelect>.CaptionCont>span{
                font-family: "PT Serif Caption";
                font-size: 14px;
                color: #9b9696;
            }
            .SumoSelect>.CaptionCont>label>i{
                width: 1.5rem;
                height: .8rem;
                background: url(../asset/img/color-select-arrow.png) 0 0 no-repeat;
            }
            .SumoSelect:hover>.CaptionCont{
                box-shadow: inherit;
                border-color: #d0d3dc;
            }
            .SumoSelect.open>.CaptionCont{
                border-color: #d0d3dc;
                box-shadow: 0 0 10px 0 #9acc4e;
            }
            .SumoSelect.open:hover>.CaptionCont{
                border-color: #d0d3dc;
                box-shadow: 0 0 10px 0 #9acc4e;
            }
            select{
                &:focus{
                    & + .CaptionCont{
                        border-color: #d0d3dc;
                        box-shadow: 0 0 10px 0 #9acc4e;
                    }
                }
            }
            .SumoSelect>.CaptionCont{
                border: 1px solid #d0d3dc;
                outline: none;
                border-radius: .5rem;
                padding: 1.2rem 1.6rem;
                font-size: 14px;
                color: #555451;
                background-color: transparent;
                background-color: #fff;
                width: 100%;
                border-radius: 5px;
                box-shadow: none;
            }
            .SumoSelect>.CaptionCont>label{
                width: 60px;
            }
        }
        &__img{
            flex: 0 0 auto;
            background: #fff url('../asset/img/popup-item.png') no-repeat 50% 50%;
            background-size: cover;
            width: 340px;
            height: 290px;
            margin-right: 30px;
            @media screen and (max-width: 1040px){
                width: 100%;
                height: 340px;
                margin-right: 0;
                margin-bottom: 16px;
            }
            @media screen and (max-width: 480px){
                height: 246px;
            }
        }
        &__name{
            font-size: 18px;
            font-family: "PT Serif Caption", sans-serif;
            font-weight: normal;
            color: #191919;
            line-height: 22px;
            margin-bottom: 14px;
            @media screen and (max-width: 480px){
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        &__price{
            font-size: 26px;
            font-family: 'BebasNeue', sans-serif;
            font-weight: 500;
            color: #553023;
            line-height: 1;
            @media screen and (max-width: 480px){
                font-size: 23px;
            }

        }
        &__desc{
            font-size: 16px;
            font-family: "PT Serif Caption", sans-serif;
            font-weight: normal;
            color: #191919;
            line-height: 22px;
            margin-bottom: 18px;
            @media screen and (max-width: 1040px){
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 14px;
            }
        }
        &-counter{
            display: flex;
            align-items: center;
            @media screen and (max-width: 1040px){
                margin-bottom: 10px; 
            }
            .c-counter{
                @media screen and (max-width: 1040px){
                    padding: .2rem;
                }
            }
            .c-card-catalog__count{
                @media screen and (max-width: 1040px){
                    margin: 0;
                    border-radius: 3px;
                    flex: 0 0 auto;
                }
                input[type="text"]{
                    @media screen and (max-width: 1040px){
                        font-size: 1.8rem;
                        line-height: 1;
                        width: 3rem !important;
                        padding: 0;
                    }
                }
            }
            .c-counter__btn {
                @media screen and (max-width: 1040px){
                    height: 2rem;
                    width: 2rem;
                    background-size: 60%;
                }
            }
            &:not(:last-child){
                margin-bottom: 22px;
            }
            &__text{
                font-size: 16px;
                font-family: "PT Serif Caption", sans-serif;
                font-weight: normal;
                color: #191919;
                line-height: 22px;
                margin-right: 9px;
                @media screen and (max-width: 1040px){
                    font-size: 14px;
                    margin-right: 14px;
                }
            }
        }
        &-buttons{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 1040px){
                margin-left: auto;
            }
            &.mod-cakes{
                @media screen and (max-width: 1040px){
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                }
                .popup-product-card-item__btn{
                    @media screen and (max-width: 1040px){
                        margin-right: 0;
                    }

                }

            }
            &__text{
                @media screen and (max-width: 1040px){
                    display: none;
                }
            }
            &.top-buttons{
                .popup-product-card-item__btn{
                    @media screen and (max-width: 1040px){
                        text-align: center;
                        padding: .4rem .6rem .5rem;
                        border-radius: .4rem;
                        margin-bottom: 22px;
                        line-height: 18px;
                        width: auto;
                    }
                }
            }
        }
        &__btn{
            flex: 0 0 auto;
            text-decoration: none;
            padding: 12px 40px;
            border-radius: 4px;
            border: 1px solid #7cbd41;
            background-color: #7cbd41;
            color: #fff;
            font-size: 14px;
            line-height: 22px;
            display: inline-block;
            @media screen and (max-width: 1040px){
                text-align: center;
                max-width: 220px;
                margin-bottom: 10px;
                width: 100%;
            }
            &:not(:last-child){
                margin-right: 10px;

            }
            &.mod-white{
                border: 1px solid #7cbd41;
                background-color: #fff;
                color: #7cbd41;

            }
            &:after{
                display: none;
            }
            &:hover{
                    border: 1px solid #7cbd41;
                    background-color: #72b240;
                    color: #fff;
            }
            .icon-shopping-cart{
                display: none;
                @media screen and (max-width: 1040px){
                    display: inline-block;
                    width: 1.7rem;
                    height: 1.8rem;
                }
            }
        }
        &-form{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 1040px){
                flex-direction: column;
            }
            &__col{
                width: calc(50% - 15px);
                @media screen and (max-width: 1040px){
                    width: 100%;
                }
                &:not(:last-child){
                    margin-right: 30px;
                    @media screen and (max-width: 1040px){
                        margin-right: 0;
                    }
                }
            }
            &__title{
                font-size: 18px;
                line-height: 22px;
                color: #191919;
                margin-bottom: 16px;
                @media screen and (max-width: 1040px){
                    font-size: 14px;
                    margin-bottom: 14px;
                }
                &-main{
                    font-size: 18px;
                    line-height: 22px;
                    color: #191919;
                    margin-bottom: 16px;
                    @media screen and (max-width: 1040px){
                        font-size: 16px;
                    }

                }
                &.mod-big{
                    font-size: 23px;
                    line-height: 23px;
                    margin-bottom: 15px;
                    @media screen and (max-width: 1040px){
                        font-size: 14px;
                        line-height: 22px;
                    }

                }

            }
            &__list{
                margin-bottom: 26px;
            }
            &__item{
                margin-bottom: 15px;
                @media screen and (max-width: 1040px){
                    margin-bottom: 10px;
                }
                &.mod-grid{
                    margin-bottom: 0;

                }
            }
            &-check {
                margin-bottom: 22px;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
                @media screen and (max-width: 1040px){
                    margin-bottom: 12px;
                }
                &__item {
                    margin-right: 40px;
                    @media screen and (max-width: 1040px){
                        margin-right: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
            input[type="radio"] {
                display: none;
                &:checked + .order-radio::before {
                    content: '';
                    background-color: #7cbd41;
                }
            }
            .order-radio {
                color: #191919;
                font-size: 14px;
                line-height: 22px;
                &:before{
                    background-color: transparent;
                }
            }
            .datepicker-layout{
                &:after{
                    display: none;
                }
                .c-symbol {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }
            }
            &-grid{
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: stretch;
                margin-bottom: 5px;
                @media screen and (max-width: 1040px){
                    margin-bottom: 0;
                }
                &__item {
                    flex: 0 0 30%;
                    padding-right: 10px;
                    margin-bottom: 10px;
                    @media screen and (max-width: 1040px){
                        flex: 0 0 50%;
                    }
                    &:nth-child(2n){
                        @media screen and (max-width: 1040px){
                            padding-right: 0;
                        }

                    }
                }
            }
            &__code{
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: stretch;
                margin-bottom: 18px;
                .c-button {
                    text-transform: capitalize;
                    margin-left: -5px;
                    font-size: 14px;
                    line-height: 26px;
                    border-radius: 4px;
                }
            }
            &-total{
                color: #191919;
                font-size: 14px;
                margin-bottom: 15px;
                line-height: 22px;
                @media screen and (max-width: 1040px){
                    text-align: right;
                }
                &__num{
                    color: #cd4c87;
                    font-family: "BebasNeue";
                    font-weight: 500;
                    font-size: 26px;
                }
            }
            &-btn{
                
                &__layout{
                    text-align: left;
                    @media screen and (max-width: 1040px){
                        text-align: right;
                    }

                }
            }
        }
        &-slider{
            padding: 20px 18px;
            border-bottom: 1px solid #9b9595;
            @media screen and (max-width: 820px){
                padding: 16px 0;
            }
            &-item{
                &__img{
                    width: 157px;
                    height: 130px;
                    background: none no-repeat 50% 50%;
                    background-size: cover;
                    @media screen and (max-width: 1040px){
                        width: 150px;
                    }
                }
                &-bottom{
                    padding-top: 15px;
                    position: relative;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                }
                &__price{
                    font-size: 26px;
                    font-family: "BebasNeue";
                    font-weight: 500;
                    color: #553023;
                    @media screen and (max-width: 1040px){
                        font-size: 23px;
                    }
                }
                &__basket{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 0;
                    top: -24px;
                    background-color: #7cbd41;
                    width: 32px;
                    height: 24px;
                    border-top-left-radius: 3px;
                    @media screen and (max-width: 1040px){
                        width: 40px;
                        height: 30px;
                        top: -30px;
                    }
                    &:hover{
                        background-color: #6faa3a;
                    }
                    &:after{
                        display: none;
                    }
                    .icon-shopping-cart{
                        width: 1.4rem;
                        height: 1.5rem;
                        @media screen and (max-width: 1040px){
                            width: 1.8rem;
                            height: 1.9rem;
                        }
                    }
                }
                .c-counter{
                    padding: .2rem;
                }
                .c-card-catalog__count{
                    margin: 0;
                    border-radius: 3px;
                    input[type="text"]{
                        font-size: 1.8rem;
                        line-height: 1;
                        width: 3rem !important;
                        padding: 0;
                    }
                }
                .c-counter__btn {
                    height: 2rem;
                    width: 2rem;
                    background-size: 60%;
                }
            }
            
            .slick-slide {
                margin: 0 10px;
            }
            /* the parent */
            .slick-list {
                margin: 0 -10px;
                @media screen and (max-width: 1040px){
                    min-width: 680px;
                }
            }
            .slick-arrow{
                display: flex !important;
                width: 35px;
                height: 36px;
                background: transparent;
                border-radius: 0;
                top: 86px;
                @media screen and (max-width: 1026px){
                    display: none !important;
                }
                &:before{
                    width: 8px;
                    height: 15px;
                    background: url(../asset/img/cake-slider-arrow.png) 0 0 no-repeat;
                }
              
            }
            .slick-next{
                right: -16px;
                &:before{
                    transform: translate(-50%,-50%) scale(-1, 1);
        
                }
            }
            .slick-prev{
                left: -16px;
            }
        }

    }
}

.popup-close-2020{
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    bottom: auto;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: #fff url('../asset/img/popup-close.png') no-repeat 50% 50%;
    background-size: auto;
    cursor: pointer;
    z-index: 1000;
}

.js-show-product-card{
    cursor: pointer;
}